@model CreativaSL.Web.Ganados.Models.UsuarioModels
@{
    ViewBag.Title = "GetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

@section featured
{
@{
    var message = TempData["message"] ?? string.Empty;
    var typemessage = TempData["typemessage"] ?? string.Empty;
}

    <div class="login-container lightmode">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="login-box animated fadeInDown">
            <div class="login-logo">

            </div>
            <div class="login-body">
                <div class="login-title"><strong>Reset</strong> Contraseña</div>
                @using (Html.BeginForm("GetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true);
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.email2, new { id = "email2", @class = "form-control", placeholder = "Correo Electrónico"})
                            @Html.ValidationMessageFor(model => model.email2)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                           
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-block">Reset</button>
                        </div>
                    </div>
                }
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    @DateTime.Now.Year &copy;Administrador Grupo Ocampo.
                </div>
            </div>
        </div>

    </div>

<script>
    var message = '@message';
    var typemessage = '@typemessage';
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
}
@section script
{
<script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
<script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        });
</script>
 }
