@model CreativaSL.Web.Ganados.Models.VentaGanadosModels

@{
    ViewBag.Title = "Indx";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css">
    <style>
        tr.group,
        tr.group:hover {
            background-color: #ddd !important;
        }
    </style> 
}

@section featured
{
    @{
        var message = "Prueba";
        var typemessage = "0";
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <input type="hidden" value="" id="id_compra" />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#ganado"        aria-controls="ganado"      role="tab" data-toggle="tab">Selección de Ganado</a></li>
                <li role="presentation"><a class="pestaña" href="#embarque"     aria-controls="embarque"    role="tab" data-toggle="tab">Información de Embarque</a></li>
                <li role="presentation"><a class="pestaña" href="#flete"        aria-controls="flete"       role="tab" data-toggle="tab">Linea Fletera</a></li>
                <li role="presentation"><a class="pestaña" href="#jaulaP"        aria-controls="jaula"       role="tab" data-toggle="tab">Jaula</a></li>
                <li role="presentation"><a class="pestaña" href="#eventos"      aria-controls="eventos"     role="tab" data-toggle="tab">Eventos durante el trayecto</a></li>
                <li role="presentation"><a class="pestaña" href="#recepcion"    aria-controls="recepcion"   role="tab" data-toggle="tab">Recepción en destino</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="ganado">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Seleccione el <strong>Ganado</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Cbz. Machos</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input id="cMachos" type="text" class="form-control" disabled="disabled" value="0" />
                                                </div>
                                                <span class="help-block">Cantidad de ganado machos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Cbz. Hembras</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input id="cHembras" type="text" class="form-control" disabled="disabled" value="0" />
                                                </div>
                                                <span class="help-block">Cantidad de ganado hembras</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Cbz. Total</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input id="cTotal" type="text" class="form-control" disabled="disabled" value="0" />
                                                </div>
                                                <span class="help-block">Cantidad total de ganado</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Kg. Machos</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input id="kgMachos" type="text" class="form-control" disabled="disabled" value="0" />
                                                </div>
                                                <span class="help-block">Cantidad de kilos ganado machos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Kg. Hembras</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input id="kgHembras" type="text" class="form-control" disabled="disabled" value="0" />
                                                </div>
                                                <span class="help-block">Cantidad de kilos ganado hembras</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Kg. Total</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input id="kgTotal" type="text" class="form-control" disabled="disabled" value="0" />
                                                </div>
                                                <span class="help-block">Cantidad total de kilos ganado</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="btn-group">
                                            <center>
                                                <button id="enviar" class="btn btn-default"><i class="fa fa-forward"></i></button>
                                                <button id="regresar" class="btn btn-default"><i class="fa fa-backward"></i></button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <table id="corral" class="display table " style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Comprado a</th>
                                                    <th>Genero</th>
                                                    <th>Peso</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ROSY CELIS</td>
                                                    <td>HEMBRA</td>
                                                    <td>200</td>
                                                </tr>
                                                <tr>
                                                    <td>ROSY CELIS</td>
                                                    <td>HEMBRA</td>
                                                    <td>220</td>
                                                </tr>
                                                <tr>
                                                    <td>PEDRO RODRIGUEZ</td>
                                                    <td>HEMBRA</td>
                                                    <td>215</td>
                                                </tr>
                                                <tr>
                                                    <td>VICTOR MANUEL DIAZ</td>
                                                    <td>MACHO</td>
                                                    <td>300</td>
                                                </tr>
                                                <tr>
                                                    <td>CARLOS SALAZAR</td>
                                                    <td>MACHO</td>
                                                    <td>350</td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Comprado a</th>
                                                    <th>Genero</th>
                                                    <th>Peso</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div class="col-md-6">
                                        <table id="jaula" class="display table " style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Comprado a</th>
                                                    <th>Genero</th>
                                                    <th>Peso</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Comprado a</th>
                                                    <th>Genero</th>
                                                    <th>Peso</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="embarque">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Información del <strong>Embarque</strong>  </h3>
                            <ul class="panel-controls"></ul>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="flete" >
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Linea Fletera</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>

                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Linea fletera</label>
                                                <div class="col-md-9">
                                                    <label class="radio-inline"><input type="radio" name="optradio">Ganadera Grupo Ocampo</label>
                                                    <label class="radio-inline"><input type="radio" name="optradio">Transporte Fletero Ocampo</label>
                                                    <label class="radio-inline"><input type="radio" name="optradio">Otro</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nombre de la linea fletera</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nombre del chofer</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">No. económico</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">No. de placa de la unidad</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Licencia vigente</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <label class="radio-inline"><input type="radio" name="optradio">SI</label>
                                                        <label class="radio-inline"><input type="radio" name="optradio">NO</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Folio licencia</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <input type="submit" value="Finalizar venta" class="btn btn-primary pull-right">
                                <a class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="jaulaP" >
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Jaula</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>

                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <td><strong>Limpieza de la jaula</strong></td>
                                                            <td colspan="2"><strong>Verificación de la estructura de la jaula en buenas condiciones</strong></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Completa 100%
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Puertas interna
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Llanta de refacción
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Solo el piso
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Focos
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Llantas en buen estado
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Sucia
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Riesgos punzo cortantes
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1">
                                                                        Piso antiadherente
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>





                                       
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <center>
                                                    <table class="text-center" border="1">
                                                        <tr>
                                                            <td>Hielera</td>
                                                            <td>Panza arriba</td>
                                                            <td>Panza arriba</td>
                                                            <td>Punta superior</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input class="form-control" type="text" /></td>
                                                            <td><input class="form-control" type="text" /></td>
                                                            <td><input class="form-control" type="text" /></td>
                                                            <td><input class="form-control" type="text" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cola</td>
                                                            <td>Panza abajo</td>
                                                            <td>Panza abajo</td>
                                                            <td>Punta inferior</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input class="form-control" type="text" /></td>
                                                            <td><input class="form-control" type="text" /></td>
                                                            <td><input class="form-control" type="text" /></td>
                                                            <td><input class="form-control" type="text" /></td>
                                                        </tr>
                                                    </table>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <input type="submit" value="Finalizar venta" class="btn btn-primary pull-right">
                                <a class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="eventos" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Eventos durante el trayecto</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>

                            <div class="page-content-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddEvento" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo movimiento</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                                                </ul>

                                            </div>
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recepcion" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Recepción de la venta</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>

                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Recepcion de doc. de origen de embarque</label>
                                                <div class="col-md-6">
                                                    <label class="radio-inline"><input type="radio" name="optradio">SI</label>
                                                    <label class="radio-inline"><input type="radio" name="optradio">NO</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Fecha de llegada de la unidad</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control datepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Nombre del recepcionista</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Cantidad total de kilos</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Valija sellada</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <label class="radio-inline"><input type="radio" name="optradio">SI</label>
                                                        <label class="radio-inline"><input type="radio" name="optradio">NO</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Hora llegada de la unidad</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control timepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Hora de descargar</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control timepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Cantidad total de ganado</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Observaciones</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <input type="submit" value="Finalizar venta" class="btn btn-primary pull-right">
                                <a class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!--TERMINA TABS-->
        <!--INICIA SECCION DE MODALES-->
        <div id="ModalGanado" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalGanado">

            </div>
        </div>
        <div id="ModalPago" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalPago">

            </div>
        </div>
        <div id="ModalCobro" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalCobro">

            </div>
        </div>
        <!--TERMINA SECCION DE MODALES-->
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <!--FILEINPUT-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!--DATEPICKER-->
    <script src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-timepicker.min.js")"></script>

    <script>

        jQuery(document).ready(function () {

            var idCompra = "";
            Mensaje(message, typemessage);

            var cGanadoM = 0, cGanadoH = 0, kGanadoM = 0, kGanadoH = 0;
            var kgMachos = document.getElementById("kgMachos");
            var kgHembras = document.getElementById("kgHembras");
            var kgTotal = document.getElementById("kgTotal");
            var cMachos = document.getElementById("cMachos");
            var cHembras = document.getElementById("cHembras");
            var cTotal = document.getElementById("cTotal");
            
            //Inicialiamos las tablas
            var tblCorral = $('#corral').DataTable({
                fixedHeader: {
                    header: true,
                    footer: true,
                    select: true
                }
            });
            var tblJaula = $('#jaula').DataTable({
                fixedHeader: {
                    header: true,
                    footer: true,
                    select: true
                }
            });

            //Seleccionar filas 
            $('#corral tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            $('#jaula tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            //Pasar y regresar filas en las tablas
            $('#enviar').click(function () {
                cGanadoM = 0, cGanadoH = 0, kGanadoM = 0, kGanadoH = 0;
                var rows = tblCorral.rows('.selected').data();

                for (var i = 0; i < rows.length; i++) {
                    var d = rows[i];
                    
                        tblJaula.row.add([
                            d[0], //Dueño
                            d[1], //Genero
                            d[2]  //Peso
                    ]).draw();

                    if (d[1] == "MACHO") {
                        cGanadoM += 1;
                        kGanadoM += parseInt(d[2]);
                    }
                    else {
                        cGanadoH += 1;
                        kGanadoH += parseInt(d[2]);
                    }
                }
                sumarGenero(cGanadoM, cGanadoH);
                sumarPesoGanado(kGanadoM, kGanadoH);
                tblCorral.row('.selected').remove().draw(false);
            });
            $('#regresar').click(function () {
                cGanadoM = 0, cGanadoH = 0, kGanadoM = 0, kGanadoH = 0;

                var rows = tblJaula.rows('.selected').data();

                for (var i = 0; i < rows.length; i++) {
                    var d = rows[i];
                    
                    tblCorral.row.add([
                        d[0], //Dueño
                        d[1], //Genero
                        d[2]  //Peso
                    ]).draw();
                    if (d[1] == "MACHO") {
                        cGanadoM += 1;
                        kGanadoM += parseInt(d[2]);
                    }
                    else {
                        cGanadoH += 1;
                        kGanadoH += parseInt(d[2]);
                    }
                }
                restarGenero(cGanadoM, cGanadoH);
                restarPesoGanado(kGanadoM, kGanadoH);
                tblJaula.row('.selected').remove().draw(false);
            });

            //Funciones para suma y resta de ganado - pesos
            function sumarPesoGanado(kMachos, kHembras) {
                kgMachos.value = parseInt(kgMachos.value) + parseInt(kMachos);
                kgHembras.value = parseInt(kgHembras.value) + parseInt(kHembras);
                kgTotal.value = parseInt(kgMachos.value) + parseInt(kgHembras.value);
            }
            function restarPesoGanado(kMachos, kHembras) {
                kgMachos.value = parseInt(kgMachos.value) - parseInt(kMachos);
                kgHembras.value = parseInt(kgHembras.value) - parseInt(kHembras);
                kgTotal.value = parseInt(kgMachos.value) + parseInt(kgHembras.value);
            }
            function sumarGenero(cantMachos, cantHembras) {
                cMachos.value = parseInt(cMachos.value) + parseInt(cantMachos);
                cHembras.value = parseInt(cHembras.value) + parseInt(cantHembras);
                cTotal.value = parseInt(cMachos.value) + parseInt(cHembras.value);
            }
            function restarGenero(cantMachos, cantHembras) {
                cMachos.value = parseInt(cMachos.value) - parseInt(cantMachos);
                cHembras.value = parseInt(cHembras.value) - parseInt(cantHembras);
                cTotal.value = parseInt(cMachos.value) + parseInt(cHembras.value);
            }
    });
    </script>
}
