@model CreativaSL.Web.Ganados.Models.VentaGanadosModels

@{
    ViewBag.Title = "Indx";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
    <link href="~/Content/js/plugins/dualSelect/bootstrap-duallistbox.css" rel="stylesheet" />
}

@section featured
{
    @{
        var message = "Prueba";
        var typemessage = "0";
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <input type="hidden" value="" id="id_compra" />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#proveedor" aria-controls="proveedor" role="tab" data-toggle="tab">Proveedor</a></li>
                <li role="presentation"><a class="pestaña" href="#fierros" aria-controls="fierros" role="tab" data-toggle="tab">Fierros</a></li>
                <li role="presentation"><a class="pestaña" href="#embarque" aria-controls="embarque" role="tab" data-toggle="tab">Embarque</a></li>
                <li role="presentation"><a class="pestaña" href="#movimientos" aria-controls="pagos" role="tab" data-toggle="tab">Movimientos</a></li>
                <li role="presentation"><a class="pestaña" href="#eventos" aria-controls="eventos" role="tab" data-toggle="tab">Eventos durante el trayecto</a></li>
                <li role="presentation"><a class="pestaña" href="#recepcion" aria-controls="recepcion" role="tab" data-toggle="tab">Recepción</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="proveedor">
                    <div class="col-md-12">
                        @using (Html.BeginForm("SaveCompra", "Compra", FormMethod.Post, new { id = "demoform", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Información</strong> Venta </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">

                                    <!---->

                                    
                                        <select multiple="multiple" size="10" name="duallistbox_demo1[]">
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3" selected="selected">Option 3</option>
                                            <option value="option4">Option 4</option>
                                            <option value="option5">Option 5</option>
                                            <option value="option6" selected="selected">Option 6</option>
                                            <option value="option7">Option 7</option>
                                            <option value="option8">Option 8</option>
                                            <option value="option9" selected="selected"> Option 9</option>
                                            <option value="option0">Option 10</option>
                                        </select>
                                        <br>
                                       

                                    <!---->
                                </div>

                                <div class="panel-footer">
                                    <input type="submit" value="Guardar y continuar" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="fierros">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Información <strong>Fierros</strong>  </h3>
                            <ul class="panel-controls"></ul>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div id="embarque" role="tabpanel" class="tab-pane">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información del <strong>Embarque</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <form class = "form-horizontal", autocomplete = "off">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Origen</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                                            <select class="form-control">
                                                                <option>SELECCIONE LUGAR DE ORIGEN</option>
                                                                <option>RANCHO CHAPALA</option>
                                                                <option>RANCHO LA GUADALUPE</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Nombre</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Cbz. Machos</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Cbz. Hembras</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Destino</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-flag-checkered"></span></span>
                                                            <select class="form-control">
                                                                <option>SELECCIONE LUGAR DE DESTINO</option>
                                                                <option>T.M. S.L.P.</option>
                                                                <option>RANCHO SAN JACINTO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Hora embarque</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                            <input type="text" class="form-control timepicker" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Cbz. Hembras</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Fecha</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Hora salida</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                            <input type="text" class="form-control timepicker" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controlError">
                                                    <label class="col-md-2 control-label">Total cabezas</label>
                                                    <div class="col-md-10 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                       
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="movimientos" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Pagos realizados</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">


                            </div>

                        </div>
                    </div>

                </div>
                <div id="eventos" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Eventos durante el trayecto</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>

                            <div class="page-content-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddEvento" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo movimiento</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                                                </ul>

                                            </div>
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recepcion" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">

                        @Html.AntiForgeryToken()
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Recepción de la compra</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>

                            <div class="panel-body">


                            </div>

                            <div class="panel-footer">
                                <input type="submit" value="Finalizar compra" class="btn btn-primary pull-right">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!--TERMINA TABS-->
        <!--INICIA SECCION DE MODALES-->
        <div id="ModalGanado" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalGanado">

            </div>
        </div>
        <div id="ModalPago" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalPago">

            </div>
        </div>
        <div id="ModalCobro" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalCobro">

            </div>
        </div>
        <!--TERMINA SECCION DE MODALES-->
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <!--FILEINPUT-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!--DATEPICKER-->
    <script src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-timepicker.min.js")"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <script src="~/Content/js/plugins/dualSelect/jquery.bootstrap-duallistbox.js"></script>
    <script>

        jQuery(document).ready(function () {

            var idCompra = "";
            Mensaje(message, typemessage);
    </script>

    <script>
        var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox();
        $("#demoform").submit(function () {
            alert($('[name="duallistbox_demo1[]"]').val());
            return false;
        });
    </script>
}
