@model CreativaSL.Web.Ganados.Models.VentaDetalleModels
@{
    ViewBag.Title = "VentaDetalles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <style>
        .vista_previa { cursor: pointer; }
        #imagen_previa {width: 100% !important;}
        .form-control[disabled], .form-control[readonly] {
            color: #000 !important;
        }
    </style>
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty; ;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                <li role="presentation" class=""><a href="#ganado" aria-controls="ganado" role="tab" data-toggle="tab">Ganado</a></li>
                <li role="presentation" class=""><a href="#cobros" aria-controls="cobros" role="tab" data-toggle="tab">Cobros</a></li>
                <li role="presentation" class=""><a href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Documentos</a></li>
                <li role="presentation" class=""><a href="#eventos" aria-controls="eventos" role="tab" data-toggle="tab">Eventos</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">INFORMACION</h3>
                                @Html.HiddenFor(model => model.Id_venta)
                                @Html.HiddenFor(model => model.Id_documentoPorCobrar)
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h4>Datos de la venta</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Folio</dt>
                                                <dd>@Model.VentaFolio</dd>
                                                <dt>Sucursal</dt>
                                                <dd>@Model.VentaSucursal</dd>
                                                <dt>Fecha finalizada</dt>
                                                <dd>@Model.VentaFecha</dd>
                                                <dt>Merma Extra</dt>
                                                <dd>@decimal.Parse(Model.VentaMerma).ToString("F2") KG</dd>
                                                <dt>Merma Extra Machos</dt>
                                                <dd>@decimal.Parse(Model.VentaMermaMachos).ToString("F2") KG</dd>
                                                <dt>Merma Extra Hembras</dt>
                                                <dd>@decimal.Parse(Model.VentaMermaHembras).ToString("F2") KG</dd>
                                                <dt>Observación</dt>
                                                <dd>@Model.VentaObservacion</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h4>Datos del flete</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Linea fletera</dt>
                                                <dd>@Model.FleteLineaFletera</dd>
                                                <dt>Lugar origen</dt>
                                                <dd>@Model.FleteLugarOrigen</dd>
                                                <dt>Lugar destino</dt>
                                                <dd>@Model.FleteLugarDestino</dd>
                                                <dt>Chofer</dt>
                                                <dd>@Model.FleteNombreChofer</dd>
                                                <dt>Precio del flete</dt>
                                                <dd>@Model.FletePrecio.ToString("C2")</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h4>Datos del Cliente</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Nombre completo</dt>
                                                <dd>@Model.ClienteNombreRazonSocialCompleto</dd>
                                                <dt>Regimen fiscal</dt>
                                                <dd>@Model.ClienteRegimenFiscal</dd>
                                                <dt>Dirección</dt>
                                                <dd>@Model.ClienteDireccion</dd>
                                                <dt>P.S.G.</dt>
                                                <dd>@Model.ClientePSG</dd>
                                            </dl>
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Datos de la Empresa</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Nombre de la empresa</dt>
                                                <dd>@Model.EmpresaRazonSocial</dd>
                                                <dt>Dirección</dt>
                                                <dd>@Model.EmpresaDireccion</dd>
                                                <dt>R.F.C.</dt>
                                                <dd>@Model.EmpresaRFC</dd>
                                                <dt>P.S.G.</dt>
                                                <dd>@Model.EmpresaPSG</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                

                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Venta")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ganado">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">GANADO</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel panel-body">
                                <div class="table-responsive">
                                    <table id="tbl_generalGanado" class="table">
                                        <thead>
                                            <tr>
                                                <th>Género</th>
                                                <th>Cantidad</th>
                                                <th>Total de kilos sin merma</th>
                                                <th>Merma (kg.)</th>
                                                <th>Total de kilos con merma</th>
                                                <th>Subtotal ($)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">GANADO MACHOS</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel panel-body">
                                <div class="table-responsive">
                                    <table id="tbl_ganadoDetalleMachos" class="table">
                                        <thead>
                                            <tr>
                                                <th>Número de arete</th>
                                                <th>Género</th>
                                                <th>Precio por kilo ($)</th>
                                                <th>Peso pagado</th>
                                                <th>Merma extra</th>
                                                <th>Peso final</th>
                                                <th>Subtotal ($)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">GANADO HEMBRAS</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel panel-body">
                                <div class="table-responsive">
                                    <table id="tbl_ganadoDetalleHembras" class="table">
                                        <thead>
                                            <tr>
                                                <th>Número de arete</th>
                                                <th>Género</th>
                                                <th>Precio por kilo ($)</th>
                                                <th>Peso pagado</th>
                                                <th>Merma extra</th>
                                                <th>Peso final</th>
                                                <th>Subtotal ($)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Venta")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="cobros">
                    <div class="col-md-12">
                        <br />
                        <div class="form-group">
                            <div class="col-md-4 controlError">
                                <label class="col-md-3 control-label">Total Percepciones</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                        @Html.TextBoxFor(model => model.TotalPercepciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 controlError">
                                <div class="controlError">
                                    <label class="col-md-3 control-label">Total deducciones</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                            @Html.TextBoxFor(model => model.TotalDeducciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 controlError">
                                <div class="controlError">
                                    <label class="col-md-3 control-label">Total de la venta</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                            @Html.TextBoxFor(model => model.Total, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">PRODUCTOS O SERVICIOS POR COBRAR REALIZADOS DURANTE LA VENTA</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>

                            </div>
                            <div class="panel-body">
                                <div class="page-content-wrap">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4 controlError">
                                                <label class="col-md-3 control-label">Impuestos</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                        @Html.TextBoxFor(model => model.Impuestos, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 controlError">
                                                <div class="controlError">
                                                    <label class="col-md-3 control-label">Subtotal</label>
                                                    <div class="col-md-9 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                            @Html.TextBoxFor(model => model.Subtotal, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 controlError">
                                                <div class="controlError">
                                                    <label class="col-md-3 control-label">Total percepciones</label>
                                                    <div class="col-md-9 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                            @Html.TextBoxFor(model => model.TotalPercepciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <div class="table-responsive">
                                                <table id="tbl_docxcobrardetalles" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Producto o Servicio</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                            <th>Precio unitario</th>
                                                            <th>Impuestos retenidos</th>
                                                            <th>Impuestos trasladados</th>
                                                            <th>Impuestos</th>
                                                            <th>Subtotal</th>
                                                            <th>Total ($)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">DEDUCCIONES APLICADAS</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="page-content-wrap">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4 controlError">
                                                <div class="controlError">
                                                    <label class="col-md-4 control-label">Total deducciones</label>
                                                    <div class="col-md-8 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                            @Html.TextBoxFor(model => model.TotalDeducciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <div class="table-responsive">
                                                <table id="tbl_detallesDeducciones" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Deducir en</th>
                                                            <th>Tipo de deducción</th>
                                                            <th>Cantidad</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">COBROS REALIZADOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="page-content-wrap">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4 controlError">
                                                <label class="col-md-3 control-label">Cobros realizados</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                        @Html.TextBoxFor(model => model.Pagos, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 controlError">
                                                <div class="controlError">
                                                    <label class="col-md-3 control-label">Pendiente</label>
                                                    <div class="col-md-9 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                            @Html.TextBoxFor(model => model.Pendiente, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 controlError">
                                                <div class="controlError">
                                                    <label class="col-md-3 control-label">Cambio</label>
                                                    <div class="col-md-9 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                            @Html.TextBoxFor(model => model.Cambio, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <div class="table-responsive">
                                                <table id="tbl_docxcobrardetallesPagos" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo de pago</th>
                                                            <th>Banco</th>
                                                            <th>Número: Cuenta / Tarjeta / Clabe</th>
                                                            <th>Observación</th>
                                                            <th>Fecha realizada</th>
                                                            <th>Imagen</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Venta")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="documentos">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">DOCUMENTOS UTILIZADOS DURANTE LA VENTA</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 ">
                                            <label class="col-md-4 control-label">Costo de la documentación:</label>
                                            <div class="col-md-8 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.DocumentosPrecioDocumentacion, "{0:c2}", new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Tipo de salida:</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.DocumentosTipoSalidaDocumentacion, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="tbl_documentos" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de documentos</th>
                                                    <th>Clave</th>
                                                    <th>Imagen</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Venta")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="eventos">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">EVENTOS REGISTRADOS DURANTE LA VENTA</h3>
                                <ul class="panel-controls">
                                    <li><a id="p4" class="exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="tblEventos" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tipo Evento</th>
                                                    <th>Cantidad</th>
                                                    <th>Lugar</th>
                                                    <th>Fecha</th>
                                                    <th>Hora</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Venta")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TERMINA TABS-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalImagen" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Imagen</h4>
                </div>
                <div class="modal-body">
                    <img id="imagen_previa" src="" alt="Imagen_previa" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <script>
        jQuery(document).ready(function () {
            var Id_venta = $("#Id_venta").val();

            var Id_documentoPorCobrar = $("#Id_documentoPorCobrar").val();

            var tbl_generalGanado = $('#tbl_generalGanado').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta
                    },
                    "url": "/Admin/Venta/DatatableGeneralesGanado/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "genero" },
                    { "data": "totalGanado" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalPeso = row["totalKg"];
                            return totalPeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var merma = row["merma"];
                            return merma.toFixed(2) + ' kg.';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var nuevoTotalKilos = Number.parseFloat(row["merma"]) + Number.parseFloat(row["totalKg"]);
                            return nuevoTotalKilos.toFixed(2) + ' kg.';
                        }
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                ]
            });

            var tbl_ganadoDetalleMachos = $('#tbl_ganadoDetalleMachos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta
                    },
                    "url": "/Admin/Venta/DatatableGanadoMacho/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "numArete" },
                    { "data": "genero" },
                    {
                        "data": "precioXkilo",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalPeso = row["peso"];
                            return totalPeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var me = row["me"];
                            return me + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var nuevoPeso = Number.parseFloat(row["peso"]) + Number.parseFloat(row["me"]);
                            return nuevoPeso + ' kg.'
                        }
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                ]
            });

            var tbl_ganadoDetalleHembras = $('#tbl_ganadoDetalleHembras').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta
                    },
                    "url": "/Admin/Venta/DatatableGanadoHembra/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "numArete" },
                    { "data": "genero" },
                    {
                        "data": "precioXkilo",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalPeso = row["peso"];
                            return totalPeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var me = row["me"];
                            return me + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var nuevoPeso = Number.parseFloat(row["peso"]) + Number.parseFloat(row["me"]);
                            return nuevoPeso + ' kg.'
                        }
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                ]
            });

            var tbl_docxcobrardetalles = $('#tbl_docxcobrardetalles').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta
                    },
                    "url": "/Admin/Venta/DatatableDetallesDocXcobrar/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "ProductoServicio" },
                    { "data": "descripcion" },
                    { "data": "cantidad" },
                    {
                        "data": "precioUnitario",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "impuestos_retenidos",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "impuestos_trasladados",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "impuestos",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "total",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    }
                ]
            });

            var tbl_detallesDeducciones = $('#tbl_detallesDeducciones').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta, "Id_documentoCobrar": Id_documentoPorCobrar
                    },
                    "url": "/Admin/Venta/DatatableDetallesDocumentoPorCobrarVentaDeducciones/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "descripcion" },
                    { "data": "tipoDeduccion" },
                    { "data": "cantidad" },
                    {
                        "data": "total",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    }
                ]
            });

            var tbl_docxcobrardetallesPagos = $('#tbl_docxcobrardetallesPagos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta
                    },
                    "url": "/Admin/Venta/DatatableDetalleDocXCobraPagos/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "TipoPago" },
                    { "data": "Banco" },
                    { "data": "NumCuenta" },
                    { "data": "Observacion" },
                    {
                        "data": "Fecha",
                        "render": function (data, type, row) {
                            var fecha;
                            if (data === null)
                                fecha = "Sin dato";
                            else {
                                var dateSplit = data.split('-');
                                var dia = dateSplit[2];
                                dia = dia.split('T');
                                dia = dia[0];
                                var mes = dateSplit[1];
                                var año = dateSplit[0];
                                fecha = dia + '-' + mes + '-' + año;
                            }

                            return fecha;
                        }
                    },
                     {
                         "data": null,
                         "render": function (data, type, full) {
                             var imagen64 = full["Imagen"];

                             var img = "";

                             if (imagen64) {
                                 var extension = "";
                                 var position = imagen64.indexOf("iVBOR");
                                 //imagen png
                                 if (position != -1)
                                     extension = "image/png";

                                 position = imagen64.indexOf("/9j/4");
                                 if (position != -1)
                                     extension = "image/jpeg";
                                 //bmp de 256 colores
                                 position = imagen64.indexOf("Qk3");
                                 if (position == 0)
                                     extension = "image/bmp";

                                 //bmp de monocromatico colores
                                 position = imagen64.indexOf("Qk2");
                                 if (position == 0)
                                     extension = "image/bmp";

                                 //bmp de 16 colores
                                 position = imagen64.indexOf("Qk1");
                                 if (position == 0)
                                     extension = "image/bmp";

                                 img = "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='data:" + extension + ";base64," + imagen64 + "' />";
                             }
                             else {
                                 img = "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='/Content/img/GrupoOcampo.png' />";
                             }
                             return img;
                         }
                     },
                    {
                        "data": "Cantidad",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    }
                ],
                "drawCallback": function (settings) {

                    $('img.vista_previa').on('click', function () {
                        var src_image = $(this).attr('src');
                        $("#imagen_previa").attr("src", src_image);
                        $("#modalImagen").modal();
                    });

                }
            });

            var tbl_documentos = $('#tbl_documentos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta
                    },
                    "url": "/Admin/Venta/DatatableDocumentos/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "descripcion" },
                    { "data": "clave" },
                    {
                        "data": null,
                        "render": function (data, type, full) {
                            var imagen64 = full["imagen"];
                            var img = "";

                            if (imagen64) {
                                var extension = "";
                                var position = imagen64.indexOf("iVBOR");
                                //imagen png
                                if (position != -1)
                                    extension = "image/png";

                                position = imagen64.indexOf("/9j/4");
                                if (position != -1)
                                    extension = "image/jpeg";
                                //bmp de 256 colores
                                position = imagen64.indexOf("Qk3");
                                if (position == 0)
                                    extension = "image/bmp";

                                //bmp de monocromatico colores
                                position = imagen64.indexOf("Qk2");
                                if (position == 0)
                                    extension = "image/bmp";

                                //bmp de 16 colores
                                position = imagen64.indexOf("Qk1");
                                if (position == 0)
                                    extension = "image/bmp";

                                img = "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='data:" + extension + ";base64," + imagen64 + "' />";
                            }
                            else {
                                img = "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='/Content/img/GrupoOcampo.png' />";
                            }
                            return img;
                         }
                    }
                ],
                "drawCallback": function (settings) {

                    $('img.vista_previa').on('click', function () {
                        var src_image = $(this).attr('src');
                        $("#imagen_previa").attr("src", src_image);
                        $("#modalImagen").modal();
                    });

                }
            });

            var tblEventos = $('#tblEventos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_venta": Id_venta
                    },
                    "url": "/Admin/Venta/DatatableEventos/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "descripcion" },
                    { "data": "cantidad" },
                    { "data": "lugar" },
                    {
                        "data": "fechaDeteccion",
                        "render": function (data, type, row) {
                            if (data === null)
                                fecha = "Sin dato";
                            else {
                                var dateSplit = data.split('-');
                                var dia = dateSplit[2];
                                dia = dia.split('T');
                                dia = dia[0];
                                var mes = dateSplit[1];
                                var año = dateSplit[0];
                                var fecha = dia + '-' + mes + '-' + año;
                            }

                            return fecha;
                        }
                    },
                    { "data": "horaDeteccion" },
                    {
                        "data": null,
                        "render": function (data, type, full) {

                            return "<div class='visible-md visible-lg hidden-sm hidden-xs'>" +
                                "<a data-id='" + full["id_eventoVenta"] + "' class='btn btn-yellow tooltips btn-sm detalles' title='Ver'  data-placement='top' data-original-title='Editar'><i class='fa fa-eye'></i></a>" +
                                "</div>" +
                                "<div class='visible-xs visible-sm hidden-md hidden-lg'>" +
                                "<div class='btn-group'>" +
                                "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'" +
                                "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                                "</a>" +
                                "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                                "<li>" +
                                "<a data-id='" + full["id_eventoVenta"] + "' class='detalles'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-eye'></i> Ver" +
                                "</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>";
                        }
                    }
                ],
                "drawCallback": function (settings) {
                    $(".detalles").on("click", function () {
                        var id_evento = $(this).data("id");
                        window.location.href = '/Admin/Venta/VentaDetallesEvento?IDVenta=' + Id_venta + '&Id_eventoVenta=' + id_evento;

                    });
                }
            });

            Mensaje(message, typemessage);
        });
    </script>
}




