
@{
    ViewBag.Title = "VentaDocumentos";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/select.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />

    <style>
        .form-control[disabled], .form-control[readonly] {
            color: #000 !important;
        }

        #carta_porte, #reporte_ganado {
            text-decoration: none;
        }

        a:link {
            color: #ffffff;
        }

        a:visited {
            color: #ffffff;
        }

        a:active {
            color: #ffffff;
        }

        a:hover {
            color: #ffffff;
        }
    </style>
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li id="liDocumentacion" role="presentation" class="active"><a id="tabDocumentacion" class="pestaña" href="#documentacion" aria-controls="documentacion" role="tab" data-toggle="tab">Documentación</a></li>
                <li id="liGenerar_documentos" role="presentation"><a id="tabGenerar_documentos" class="pestaña" href="#generar_documentos" aria-controls="generar_documentos" role="tab" data-toggle="tab">Generar Documentos</a></li>
            </ul>
            <input type="hidden" id="Id_venta" value="@ViewBag.Id_venta" />
            <input type="hidden" id="Id_flete" value="@ViewBag.Id_flete" />
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="documentacion">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Documentación</strong> para la venta </h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddDocumento" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo Documento</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <h3></h3>
                                                    <div class="table-responsive">
                                                        <table id="tblDocumentos" class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo de documento</th>
                                                                    <th>Clave</th>
                                                                    <th>Imagen</th>
                                                                    <th>Acción</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Venta")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="generar_documentos">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">

                                    <div class="">
                                        @if (ViewBag.CobrarFlete == 1)
                                        {
                                            <div class="col-md-4">
                                                <a id="carta_porte" class="tile tile-warning tile-valign2" href="@Url.Action("CartaPorte", "Venta", new { id = ViewBag.Id_flete })" target="_blank">
                                                    Carta Porte
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Grupo Ocampo</div>
                                                </a>
                                            </div>
                                        }

                                        <div class="col-md-4">
                                            <a id="reporte_ganado" class="tile tile-warning tile-valign2" href="@Url.Action("ReporteGanado", "Venta", new { id = ViewBag.Id_flete })" target="_blank">
                                                Fierros ganado
                                                <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Grupo Ocampo</div>
                                            </a>
                                        </div>

                                        @*<div class="col-md-4">
                                                <a id="BTN3" class="tile tile-warning tile-valign2">
                                                    Salidas
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN4" class="tile tile-warning tile-valign2">
                                                    Ganado Vendidos
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN5" class="tile tile-warning tile-valign2">
                                                    Reporte ganados muertos por venta
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN6" class="tile tile-warning tile-valign2">
                                                    Reporte de Socios
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN7" class="tile tile-warning tile-valign2">
                                                    Reporte ganados muertos por compra
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN8" class="tile tile-warning tile-valign2">
                                                    Reporte de jaulas por venta
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN9" class="tile tile-warning tile-valign2">
                                                    Reporte Entradas
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN10" class="tile tile-warning tile-valign2">
                                                    Reporte Corrales
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a id="BTN11" class="tile tile-warning tile-valign2">
                                                    Reporte de fletes
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Reporte</div>
                                                </a>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--TERMINA TABS-->

        <div id="ModalDocumento" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalDocumento">

            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-deleteDocumento">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                    <div class="mb-content">
                        <p>¿Seguro que quieres eliminar este documento?</p>
                        <p>Presione "sí" si está seguro.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var message     = "@message";
        var typemessage = "@typemessage";
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <!--SELECT PICKER-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <!--FUNCIONES DE FLETE JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/ventaDocumentos.js")"></script>
    <!--FILEINPUT-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")" type="text/javascript"></script>

    <script>
    jQuery(document).ready(function () {

        Mensaje(message, typemessage);

        VentaDocumentos.init();
    });
    </script>
}




