@model CreativaSL.Web.Ganados.Models.CatChoferModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Edit", "CatChofer", FormMethod.Post, new { id = "form-chofer", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                  <div id="validation_summary" class="field_error "></div> //JS

                @Html.HiddenFor(model => model.IDChofer)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> Chófer</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-12 control-label text-center">Nombre Chofer</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Nombre, new { id = "Nombre", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Nombre)
                                        <span class="help-block">Ingrese el nombre del chofer</span>
                                    </div>
                                </div>

                                </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-12 control-label text-center">Apellido Parterno</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.ApPaterno, new { id = "ApPaterno", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ApPaterno)
                                        <span class="help-block">Ingrese el apellido paterno</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-12 control-label text-center">Apellido Materno</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.ApMaterno, new { id = "ApMaterno", @class = "form-control" })
                                    </div>
                                    <span class="help-block">Ingrese el apellido materno</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                           
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Sucursal</label>
                                    <div class="col-md-12 col-xs-12">
                                        @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.listaSucursales, "IDSucursal", "NombreSucursal"), new { id = "IDSucursal", @class = "form-control select", data_live_search = "true" })
                                        @Html.ValidationMessageFor(model => model.IDSucursal)
                                        <span class="help-block">Ingrese Sucursal</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-12 control-label text-center">Licencia</label>
                                <div class="col-md-12 col-xs-12 text-center">
                                    @Html.CheckBoxFor(model => model.Licencia)
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="licencia-cont" style="">
                            <div class="col-md-6">
                                <label class="col-md-12 control-label text-center">Número de licencia</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.numLicencia, new { id = "numLicencia", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.numLicencia)
                                    <span class="help-block">Ingrese el número de licencia</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-12 control-label text-center">Vigencia</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        @Html.TextBoxFor(model => model.vigencia, "{0:dd/MM/yyyy}", new { id = "vigencia", @class = "form-control datepicker", @readonly = "readonly" })
                                    </div>
                                    @*<div class="input-group ">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        @Html.TextBoxFor(model => model.vigencia, "{0:yyyy-MM-dd}", new { id = "vigencia", @class = "form-control ", @type = "date", @style = "line-height: 18px;" })
                                    </div>*@
                                    @Html.ValidationMessageFor(model => model.vigencia)
                                    <span class="help-block">Ingrese la fecha de vigencia</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label text-center">IFE</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.Ife, new { id = "Ife", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Ife)
                                    <span class="help-block">Ingrese el número del IFE</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label text-center">Número Seguro Social</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.NumSeguroSocial, new { id = "NumSeguroSocial", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NumSeguroSocial)
                                    <span class="help-block">Ingrese el número de seguro social</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">Género</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.DropDownListFor(model => model.IDGenero, new SelectList(Model.ListaGeneroCMB, "IDGenero", "Descripcion"), new { id = "IDGenero", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.ListaGeneroCMB)
                                    <span class="help-block">Seleccione el género</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 col-xs-12 control-label text-center">Grupo Sanguíneo</label>
                                <div class="col-md-12 col-xs-12">
                                    @Html.DropDownListFor(model => model.idgruposanguineo, new SelectList(Model.listaGrupoSanguineo, "IDGrupoSanguineo", "descripcion"), new { id = "idgruposanguineo", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.ListaGeneroCMB)
                                    <span class="help-block">Seleccione el grupo sanguíneo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label text-center">Aquí avisar en caso de accidente</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.AvisoAccidente, new { id = "AvisoAccidente", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.AvisoAccidente)
                                    <span class="help-block">Ingrese el campo para avisar en caso de accidente</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label text-center">Teléfono</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.TelefonoAccidente, new { id = "TelefonoAccidente", @class = " form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.TelefonoAccidente)
                                    <span class="help-block">Ingrese el número teléfono </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-12 control-label text-center">Teléfono Casa</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                                        @Html.TextBoxFor(model => model.Telefono, new { id = "Telefono", @class = " form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Telefono)
                                    <span class="help-block">Ingrese el teléfono de casa</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-12 control-label text-center">Teléfono Movil</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-mobile"></span></span>
                                        @Html.TextBoxFor(model => model.Movil, new { id = "Movil", @class = " form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Movil)
                                    <span class="help-block">Ingrese el teléfono móvil</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label text-center">Fecha Nacimiento</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.FechaNacimiento, "{0:dd/MM/yyyy}", new { id = "FechaNacimiento", @class = "form-control datepicker", @readonly = "readonly" })
                                        @*@Html.TextBoxFor(model => model.FechaNacimiento, "{0:yyyy-MM-dd}", new { id = "FechaNacimiento", @class = "form-control ", @type = "date", @style = "line-height: 18px;" })*@
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                                    <span class="help-block">Ingrese la fecha de nacimiento</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label text-center">Fecha Ingreso</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group ">
                                        @Html.TextBoxFor(model => model.FechaIngreso, "{0:dd/MM/yyyy}", new { id = "FechaIngreso", @class = "form-control datepicker", @readonly = "readonly" })
                                        @*@Html.TextBoxFor(model => model.FechaIngreso, "{0:yyyy-MM-dd}", new { id = "FechaIngreso", @class = "form-control ", @type = "date", @style = "line-height: 18px;" })*@
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaIngreso)
                                    <span class="help-block">Ingrese la fecha de ingreso</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatChofer")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/maskedinput/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/Chofer.js")"></script>

    <script>
    jQuery(document).ready(function () {
        $('#Licencia').change(function () {
            $('#licencia-cont').toggle(1000);
        });
        Mensaje(message, typemessage);

       

        Chofer.init();
    });

    jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>
}