@model CreativaSL.Web.Ganados.Models.DeduccionModels
@{
    ViewBag.Title = "FleteDeduccion";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        .help-block {
            color: red !important;
            margin-bottom: 0px;
        }
    </style>
}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("FleteDeduccion", "Flete", FormMethod.Post, new { id = "form-dg", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                @Html.HiddenFor(model => model.IdGenerico)
                <div id="validation_summary" class="field_error "></div> //JS
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Agregando deducción</strong> </h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Deducción</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.IdDeduccion, new SelectList(ViewBag.ListaDeducciones, "Id", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.IdDeduccion)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-center">Monto de la deducción</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Monto, new { @class = "form-control " })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Monto)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tipo de documento:</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.Id_conceptoDocumento, new SelectList(ViewBag.ListaConceptosDocumentos, "Id_tipoClasificacionCobro", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Id_conceptoDocumento)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("AC_FleteTransacciones","Flete", new { IDFlete = Model.IdGenerico })" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script src="~/Content/js/FleteDeduccion.js"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            FleteDeduccion.init();
        });
    </script>
}



