@model CreativaSL.Web.Ganados.Models.CatFierroModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--FILEINPUT-->
    @*<link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/font-awesome.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/css/validator.css")" rel="stylesheet" />
}
@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }

    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
   
<div class="col-md-12">
    @{ Html.EnableClientValidation(false); }
    @using (Html.BeginForm("Create", "CatFierro", FormMethod.Post, new { id = "frm_fierro", @class = "form-horizontal", autocomplete = "off", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Fierro</strong></h3>
                <ul class="panel-controls"></ul>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                        <div id="validation_summary" class="field_error "></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="controlError col-md-6">
                        <label class="col-md-3 control-label">Nombre del fierro</label>
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.NombreFierro, new { @class = "form-control" })
                            </div>
                            <span class="help-block">Ingrese el nombre del fierro</span>
                        </div>
                    </div>
                    <div class="controlError col-md-6">
                        <label class="col-md-3 control-label">Observación</label>
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-file-text"></span></span>
                                @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control" })
                            </div>
                            <span class="help-block">Ingrese alguna observación.</span>
                        </div>
                    </div>
                    @*<div class="controlError col-md-4">
                        <label class="col-md-3 control-label">Nombre Imagen</label>
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.NombreImagen, new { @class = "form-control" })
                            </div>
                            <span class="help-block">Ingrese el nombre de la imagen</span>
                        </div>
                    </div>*@
                </div>

                <div class="form-group">
                    <div class="controlError col-md-12">
                        <label class="col-md-1 control-label">Dibuje el fierro</label>
                        <div class="col-md-11 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-camera"></span></span>

                                <div id="wPaint" class="col-md-6" style="width: 100%; height:300px;"></div>

                                <center id="wPaint-img"></center>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                <a href="@Url.Action("Index","CatFierro")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
            </div>
        </div>
    }
</div>

    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/catFierro.js")"></script>
    <!--VALIDACIONES-->
<script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <!-- jQuery UI -->
<script src="@Url.Content("~/Content/js/plugins/wPaint/lib/jquery.ui.core.1.10.3.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/wPaint/lib/jquery.ui.widget.1.10.3.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/wPaint/lib/jquery.ui.mouse.1.10.3.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/wPaint/lib/jquery.ui.draggable.1.10.3.min.js")"></script>

<!-- wColorPicker -->
<link href="@Url.Content("~/Content/js/plugins/wPaint/lib/wColorPicker.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/js/plugins/wPaint/lib/wColorPicker.min.js")"></script>

<!-- wPaint -->

<link href="@Url.Content("~/Content/js/plugins/wPaint/wPaint.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/js/plugins/wPaint/wPaint.min.js")"></script>

<script src="@Url.Content("~/Content/js/plugins/wPaint/plugins/main/wPaint.menu.main.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/wPaint/plugins/text/wPaint.menu.text.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/wPaint/plugins/shapes/wPaint.menu.main.shapes.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/wPaint/plugins/file/wPaint.menu.main.file.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/js/catFierro.js")"></script>

<script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        Fierro.init();
    });
</script>
}