@model CreativaSL.Web.Ganados.Models.CatProveedorServicioModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
<div class="row">
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="col-md-12">
        @*<form class="form-horizontal">*@
        @{ Html.EnableClientValidation(false); }
        @using (Html.BeginForm("Edit", "CatProveedorServicio", FormMethod.Post, new { id = "form-ProveedorServicio", @class = "form-horizontal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                                                                                                                            <div id="validation_summary" class="field_error "></div> //JS

            @Html.HiddenFor(model => model.id_proveedorServicio)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Información</strong> Proveedor Servicio</h3>
                    <ul class="panel-controls">
                        @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"><span>* </span> Sucursal </label>
                                    <div class="col-md-8 col-xs-12">
                                        @Html.DropDownListFor(model => model.id_sucursal, new SelectList(Model.ListaSucursal, "IDSucursal", "NombreSucursal"), new { id = "id_sucursal", @class = "form-control select", data_live_search = "true" })
                                        @Html.ValidationMessageFor(model => model.id_sucursal)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"><span>* </span> Razón Social</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.nombreRazonsocial, new { id = "nombreRazonsocial", @class = "form-control", placeholder = "Ingrese la razón social ó nombre" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.nombreRazonsocial)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"> Domicilio Fiscal ó Dirección</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.direccion, new { id = "direccion", @class = "form-control", placeholder = "Dirección del proveedor almacén" })
                                        </div> model.direccion)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"><span>* </span> RFC</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.rfc, new { id = "rfc", @class = "form-control", placeholder = "Capture el RFC del proveedor almacén" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.rfc)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"><span>* </span> Fecha de inicio de relación</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBoxFor(model => model.fechaIngreso, "{0:dd/MM/yyyy}", new { id = "fechaIngreso", @class = "form-control datepicker", @readonly = "readonly" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.fechaIngreso)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"> Celular </label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.telefonoCelular, new { id = "telefonoCelular", @class = "form-control", placeholder = "Capture el teléfono celular" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.telefonoCelular)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"> Teléfono </label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.telefonoCasa, new { id = "telefonoCasa", @class = "form-control", placeholder = "Capture el teléfono casa" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.telefonoCasa)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"><span>* </span> Correo </label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.correo, new { id = "correo", @class = "form-control", placeholder = "Capture el correo electrónico" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.correo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Observaciones</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextAreaFor(model => model.observaciones, new { id = "observaciones", @class = "form-control texArea", placeholder = "Ingrese las observaciones del proveedor almacén", @rows = "5" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.observaciones)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                    <a href="@Url.Action("Index","CatProveedorServicio")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                </div>
            </div>
                @*</form>*@
        }
    </div>
</div>
<script>
        var message = '@message';
        var typemessage = '@typemessage';
</script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/ProveedorAlmacen.js")"></script>*@

    <script>
    jQuery(document).ready(function () {

        Mensaje(message, typemessage);
        //proveedoralmacen.init();
    });
    </script>
}








