@model CreativaSL.Web.Ganados.Models.CompraAlmacenModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{
    @{
        /**/

        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Compras para Almacén </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="@Url.Action("Create","CompraAlmacen")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Capturar Compra</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable2">
                                <thead>
                                    <tr>
                                        <th>Sucursal</th>
                                        <th>Num. Factura|Nota</th>
                                        <th>Proveedor</th>
                                        <th>Estatus</th>
                                        <th>Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var compra in Model.ListaCompras)
                                    {
                                        <tr id="@compra.IDCompraAlmacen">
                                            <td>@compra.Sucursal.NombreSucursal</td>
                                            <td>@compra.NumFacturaNota</td>
                                            <td>@compra.Proveedor.nombreProveedor</td>
                                            @if (compra.IDEstatusCompra == 1)
                                        {
                                            <td><span class="label label-warning">@compra.StatusCompra</span></td>
                                        }
                                        else if (compra.IDEstatusCompra == 2)
                                        {
                                            <td><span class="label label-primary">@compra.StatusCompra</span></td>
                                        }
                                        else if (compra.IDEstatusCompra == 3)
                                        {
                                            <td><span class="label label-success">@compra.StatusCompra</span></td>
                                        }
                                            <td><span class="pull-right">@string.Format("{0:c}", compra.MontoTotal)</span> </td>
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    @if (compra.IDEstatusCompra == 1)
                                            {
                                                <a title="Editar" href="@Url.Action("Edit", "CompraAlmacen", new { id = compra.IDCompraAlmacen})" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                            }
                                            else
                                            {
                                                <label title="No se puede Editar" href="#" class="btn" style="background-color:gray; " data-placement="top" data-original-title="Edit"><i class="fa fa-edit" style="color:white"></i></label>
                                            }
                                                    <a title="Detalles" href="@Url.Action("Detail", "CompraAlmacen", new { id = compra.IDCompraAlmacen})" class="btn btn-blue tooltips" data-placement="top" data-original-title="Detalles"><i class="fa fa-bars"></i></a>
                                                    <a title="Procesar" class="btn btn-primary tooltips processRow" href="@Url.Action("Process", "CompraAlmacen", new { id = compra.IDCompraAlmacen})"  data-placement="top" data-original-title="Procesar"><i class="fa fa-gear"></i></a>
                                                    <a title="Cancelar" class="btn btn-danger tooltips deleteRow" id="delete-@compra.IDCompraAlmacen" data-hrefa="@Url.Action("Cancel", "CompraAlmacen", new { id =  compra.IDCompraAlmacen })" data-placement="top" data-original-title="Cancelar"><i class="fa fa-times"></i></a>

                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                            @if(compra.IDEstatusCompra==1)
                                                        {
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "CompraAlmacen", new { id = compra.IDCompraAlmacen})">
                                                                    <i class="fa fa-edit"></i> Editar
                                                                </a>
                                                            </li>

                                                        }
                                                        else
                                                        {
                                                            
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                    <i class="fa fa-edit"></i> No se puede editar
                                                                </a>
                                                            </li>
                                                        }
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "CompraAlmacen", new { id = compra.IDCompraAlmacen })">
                                                                    <i class="fa fa-gears"></i> Detalles
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" class="processRow" href="@Url.Action("Process", "CompraAlmacen", new { compra.IDCompraAlmacen })">
                                                                    <i class="fa fa-caret-square-o-right"></i> Procesar
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a role="menuitem" tabindex="-1" id="delete-@compra.IDCompraAlmacen" data-hrefa="@Url.Action("Delete", "CompraAlmacen", new { id = compra.IDCompraAlmacen})">
                                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Cancelar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres cancelar este registro?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box animated fadeIn" data-sound="alert" id="mb-process-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Procesar <strong> Compra Almacen</strong></div>
                <div class="mb-content">
                    <p>¿Está seguro de procesar el servicio? Éste proceso NO es reversible. Se generará un documento por pagar.</p>
                    <p>Presione "sí" para confirmar.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/compraAlmacenLista.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            CompraAlmacen.init();
        });
    </script>
}

