@model List<CreativaSL.Web.Ganados.Models.ArqueoCajaChicaModels>
@{
    ViewBag.Title = "Arqueo de caja";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("ArqueoCaja", "CajaChica", FormMethod.Post, new { id = "form-dg", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                <div id="validation_summary" class="field_error "></div> //JS
                @Html.Hidden("idCaja", (object)ViewBag.IdCaja);
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Arqueo de </strong> Caja</h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="tbl1">
                                <thead>
                                    <tr>
                                        <th class="hidden">IdDenominacion</th>
                                        <th>Denominación</th>
                                        <th class="hidden">Valor</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (var i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            <td class="hidden">
                                                @Html.HiddenFor(m => Model[i].IdDenominacion)
                                                @Html.HiddenFor(m => Model[i].Descripcion)
                                                @Html.HiddenFor(m => Model[i].Subtotal)
                                            </td>
                                            <td>@Model[i].Descripcion</td>
                                            <td class="hidden">@Model[i].Valor</td>
                                            <td>@Html.TextBoxFor(m => Model[i].Cantidad, new { id = "txt" + Model[i].IdDenominacion, @class = "form-control txtvalues" })</td>
                                            <td>@Model[i].Subtotal.ToString("0")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-6 control-label text-center">Total de efectivo: </label>
                                <div class="col-md-6 col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBox("txtTotal", 0, new { id = "Total", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CajaChica")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-confirm-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span><strong>Confirmar acción</strong></div>
                <div class="mb-content">
                    <p>¿Desea continuar? El proceso no es reversible.</p>
                    <p>Presione "sí" para continuar.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/CajaChicaArqueo.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            Arqueo.init();
        });
    </script>
}
