@model ICollection<CreativaSL.Web.Ganados.Models.CajaChicaModels>
@{
    ViewBag.Title = "Cajas chicas abiertas";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span>Cajas chicas abiertas </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="@Url.Action("Create","CajaChica")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Crear caja chica</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Fecha de apertura</th>
                                        <th>Propietario</th>
                                        <th>Monto de apertura</th>
                                        <th>Persona que entrega</th>
                                        <th>Saldo</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.IdCaja">
                                            <td align="center">@item.FechaAperturaString</td>
                                            <td>@item.NombreEmpleado</td>
                                            <td align="right">@item.MontoAperturaString</td>
                                            <td>@item.PersonaEntrega</td>
                                            <td align="right">@item.SaldoString</td>
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a title="Movimientos" href="@Url.Action("Movimientos", "CajaChica", new { id = item.IdCaja})" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Movimientos"><i class="fa fa-arrow-circle-o-left"></i></a>
                                                    <a title="Arquear" href="@Url.Action("ArqueoCaja", "CajaChica", new { id = item.IdCaja})" class="btn btn-green tooltips" data-placement="top" data-original-title="Arquear"><i class="fa fa-cog"></i></a>
                                                    <a title="Eliminar" id="delete-@item.IdCaja" data-hrefa="@Url.Action("Delete", "CajaChica", new { id =  item.IdCaja })" onClick="delete_row('@item.IdCaja');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Movimientos", "CajaChica", new { id = item.IdCaja})">
                                                                    <i class="fa fa-edit"></i> Movimientos
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("ArqueoCaja", "CajaChica", new { id = item.IdCaja})">
                                                                    <i class="fa fa-edit"></i> Arquear
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" id="delete-@item.IdCaja" data-hrefa="@Url.Action("Delete", "CajaChica", new { id = item.IdCaja })" onClick="delete_row('@item.IdCaja');">
                                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar éste registro?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/CajaChicaIndex.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            CajaChica.init();
        });
    </script>
}