@model ICollection<CreativaSL.Web.Ganados.Models.MovimientosCajaChicaModels>
@{
    ViewBag.Title = "Movimientos en caja chica";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span>Movimientos en caja chica</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            @{var Valor = ViewBag.IdCaja; }
                            <li><a href="@Url.Action("EntradaCajaChica","CajaChica", new {id =  Valor })" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Realizar Entrada</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatableNoOrder">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Folio</th>
                                        <th>Entrega</th>
                                        <th>Entrada</th>
                                        <th>Salida</th>
                                        <th>Recibe</th>
                                        <th>Tipo</th>
                                        <th>Concepto</th>
                                        <th>Cobrado</th>
                                        <th>Saldo</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.IdMovimiento">
                                            <td align="center">@item.FechaString</td>
                                            <td>@item.FolioCheque</td>
                                            <td>@item.Entrega</td>
                                            <td align="right">@item.EntradaString</td>
                                            <td align="right">@item.SalidaString</td>
                                            <td>@item.Recibe</td>
                                            <td>@item.FormaPago</td>
                                            <td>@item.Concepto</td>

                                            @if (item.IDTipoMovimiento == 2)
                                            {
                                                if (item.IdFormaPago == 2)
                                                {
                                                    if (item.Estatus)
                                                    {
                                                        <td style="text-align:center"><div title="Cobrado" style="padding:9px;margin: auto;width:1px;height:1px; border-radius:50% !important; background:green"></div></td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center"><div title="Por Cobrar" style="padding:9px;margin: auto;width:1px;height:1px; border-radius:50% !important; background:red"></div></td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>No aplica</td>
                                                }
                                            }
                                            else
                                            {
                                                <td>No aplica</td>
                                            }
                                            <td align="right">@item.SaldoString</td>

                                            <td> <a title="Ver" class="btn btn-blue verTk2" data-id="@item.IdMovimiento"><i class="fa fa-eye"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <a href="@Url.Action("Index","CajaChica")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>

    <div id="ModalImagen" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModalImagen">

        </div>
    </div>

    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
        });

        $(".verTk2").on("click", function () {

            var id = $(this).attr("data-id");

            $("body").css("cursor", "progress");
            $.ajax({
                url: '/Admin/CajaChica/ModalTicket2/',
                type: "POST",
                data: { ID: id },
                success: function (data) {
                    $("body").css("cursor", "default");
                    $('#ContenidoModalImagen').html(data);
                    $('#ModalImagen').modal({ backdrop: 'static', keyboard: false });
                }
            });
        });
    </script>
}