@model CreativaSL.Web.Ganados.Models.CatLugarModels
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Create", "CatLugar", FormMethod.Post, new {id="form-lugar", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
               <div id="validation_summary" class="field_error "></div> //JS

                @Html.HiddenFor(model => model.id_lugar)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> Lugar</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Nombre del propietario</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.nombrePropietario, new { id = "nombrePropietario", @class = "form-control" })


                                        </div>
                                        <span class="help-block text-center">Nombre del Propietario</span>
                                        @Html.ValidationMessageFor(model => model.nombrePropietario)
                                    </div>
                                    </div>
                                </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Apellido Paterno</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.apellidoPaterno, new { id = "apellidoPaterno", @class = "form-control" })


                                        </div>
                                        <span class="help-block text-center">Apellido Paterno</span>
                                        @Html.ValidationMessageFor(model => model.apellidoPaterno)
                                    </div>
                                    </div>
                                </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Apellido Materno</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.apellidoMaterno, new { id = "apellidoMaterno", @class = "form-control" })


                                        </div>
                                        <span class="help-block text-center">Apellido Materno</span>
                                        @Html.ValidationMessageFor(model => model.apellidoMaterno)
                                    </div>
                                    </div>
                                </div>


                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Descripción del lugar</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.descripcion, new { id = "descripcion", @class = "form-control" })


                                        </div>
                                        <span class="help-block text-center">Descripción del lugar</span>
                                        @Html.ValidationMessageFor(model => model.descripcion)
                                    </div></div>
                                </div>
                            <div class="col-md-3">
                                <label class="col-md-12 control-label text-center">Ejido del lugar</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.ejido, new { id = "ejido", @class = "form-control" })
                                        

                                    </div>
                                    <span class="help-block text-center">Ejido del lugar</span>
                                    @Html.ValidationMessageFor(model => model.ejido)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-12 control-label text-center">¿Tiene Báscula?</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group text-center" style="margin: auto;padding: 5px;">

                                        @Html.CheckBoxFor(model => model.bascula)
                                    </div>

                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-md-12 control-label text-center">Observaciones</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        @Html.TextAreaFor(model => model.observaciones, new { id = "observaciones", @class = "form-control" ,@style=" resize:none;"})


                                    </div>
                                    <span class="help-block text-center">Observaciones</span>
                                    @Html.ValidationMessageFor(model => model.observaciones)
                                </div>
                            </div>
                          


                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Sucursales</label>
                                    <div class="col-md-9 col-xs-12">
                                        @Html.DropDownListFor(model => model.id_sucursal, new SelectList(Model.listaSucursal, "IDSucursal", "NombreSucursal"), new { id = "id_sucursal", @class = "form-control select", data_live_search="true" })
                                        @Html.ValidationMessageFor(model => model.listaSucursal)
                                        <span class="help-block">Seleccione la sucursal</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Paises</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.id_pais, new SelectList(Model.listaPaises, "id_pais", "descripcion"), new { id = "id_pais", @class = "form-control  select", data_live_search = "true" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.listaPaises)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Estado</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.id_estadoCodigo, new SelectList(Model.listaEstado, "codigoEstado", "descripcion"), new { id = "id_estadoCodigo", @class = "form-control select", data_live_search = "true" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.listaEstado)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Estado</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.id_municipio, new SelectList(Model.listaMunicipio, "id_municipio", "descripcion"), new { id = "id_municipio", @class = "form-control  select", data_live_search = "true" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.listaMunicipio)
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-6">
                               
                                <div class="col-md-11 col-xs-12 col-md-offset-1">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        @Html.TextBoxFor(model => model.lng, new { id = "longitud", @class = "form-control", @readonly = true })
                                   </div>
                                    <span class="help-block">Longitud del lugar</span>
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                              
                                <div class="col-md-11 col-xs-12 col-md-offset-1">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        @Html.TextBoxFor(model => model.lat, new { id = "latitud", @class = "form-control", @readonly = true })
                                             </div>
                                    <span class="help-block">Latitud del lugar</span>
                                  
                                </div>
                            </div>
                          
                        </div>
                   
                        <div class="form-group">
                        

                                <div class="col-md-12">
                                    <!-- START GOOGLE MAP WITH MARKER -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Ubicación del lugar</h3>
                                       </div>
                                        <div class="panel-body panel-body-map">
                                            <div id="google_pps_map" style="width: 100%; height: 300px;"></div>
                                        </div>
                                    </div>
                                    <!-- END GOOGLE MAP WITH MARKER -->
                                </div>   

                            
                           
                        </div>
                       
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatLugar")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/Lugar.js")"></script>
  
    
<script src="@Url.Content("~/Content/js/plugins/config.map.places.js")"></script>
    <script>
    jQuery(document).ready(function () {
       Lugar.init();
        Mensaje(message, typemessage);
    });
    jQuery(document).ready(function () {
        //LISTA DE ESTADOS CUANDO COMBO PAISES CAMBIA
        $("#id_pais").val('MEX');
        getEstado($("#id_pais").val());
        $("#id_pais").change(function () {

            var id = $("#id_pais").val();
            getEstado(id);
            var municipio = $("#id_municipio option:selected").text();
            var estado = $("#id_estadoCodigo option:selected").text();
            var pais = $("#id_pais option:selected").text();
            var busqueda = pais;

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': busqueda }, geocodeResult);
        });
        $("#id_estadoCodigo").change(function () {
            var id2 = $("#id_pais").val();
            var id = $("#id_estadoCodigo").val();
            getMunicipio(id2, id);
            var municipio = $("#id_municipio option:selected").text();
            var estado = $("#id_estadoCodigo option:selected").text();
            var pais = $("#id_pais option:selected").text();
            var busqueda = estado + ',' + pais;
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': busqueda }, geocodeResult);
        });

        $("#id_municipio").change(function () {

            var municipio = $("#id_municipio option:selected").text();
            var estado = $("#id_estadoCodigo option:selected").text();
            var pais = $("#id_pais option:selected").text();
            var busqueda = municipio + ',' + estado + ',' + pais;
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': busqueda }, geocodeResult);
        });
        function getEstado(id) {

            $.ajax({
                url: "/Admin/CatLugar/Estado",
                data: { id: id },
                dataType: "json",
                type: "POST",
                error: function () {
                    $("#id_estadoCodigo").html('');
                },
                success: function (estado) {

                    var items = "";
                    for (var i = 0; i < estado.length; i++) {
                       
                        items += "<option value=\"" + estado[i].codigoEstado + "\">" + estado[i].descripcion + "</option>";
                    }
                    $("#id_estadoCodigo").html(items);
                   // getMunicipio($("#ListPaises").val(), $("#ListEstado").val());
                  
                    var municipio = $("#id_municipio option:selected").text();
                        var estado = $("#id_estadoCodigo option:selected").text();
                        var pais = $("#id_pais option:selected").text();
                        var busqueda = pais;
                       
                        var geocoder = new google.maps.Geocoder();
                        

                        geocoder.geocode({ 'address': busqueda }, geocodeResult);
                        $('#id_estadoCodigo.select').selectpicker('refresh');
                        auxbol = 0;
                    
                }
            });
        }
        function getMunicipio(IdP, id) {
            $.ajax({
                url: "/Admin/CatLugar/Municipio",
                data: {
                    idPais: IdP,
                    id: id
                },
                dataType: "json",
                type: "POST",
                error: function () {
                    $("#id_municipio").html('');
                },
                success: function (municipio) {
                    var items = "";
                    for (var i = 0; i < municipio.length; i++) {
                        items += "<option value=\"" + municipio[i].id_municipio + "\">" + municipio[i].descripcion + "</option>";
                    }
                    $("#id_municipio").html(items);
                   
                    var municipio = $("#id_municipio option:selected").text();
                        var estado = $("#id_estadoCodigo option:selected").text();
                        var pais = $("#id_pais option:selected").text();
                        var busqueda =  estado + ',' + pais;

                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode({ 'address': busqueda }, geocodeResult);
                        $('#id_municipio.select').selectpicker('refresh');
                    
                }
            });
        }
    });
    
    </script>
}

