@model CreativaSL.Web.Ganados.Models.CatEmpleadoModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Empleado </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="@Url.Action("Create", "CatEmpleado")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo Empleado</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Nómina</th>
                                        <th>Dirección</th>
                                        <th>Sucursal</th>
                                        <th>Puesto</th>
                                        <th>Grupo Sanguineo</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Empleado in Model.ListaEmpleado)
                                    {
                                        <tr id="@Empleado.IDEmpleado">
                                            <td>@Empleado.CodigoUsuario</td>
                                            <td>@Empleado.NombreCompleto</td>
                                            @if (Empleado.AltaNominal)
                                            {
                                                <td style="text-align:center"><div title="Alta" style="padding:9px;margin: auto;width:1px;height:1px; border-radius:50% !important; background:green"></div></td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center"><div title="Baja" style="padding:9px;margin: auto;width:1px;height:1px; border-radius:50% !important; background:red"></div></td>
                                            }
                                            <td>@Empleado.DirCalle</td>
                                            <td>@Empleado.NombreSucursal</td>
                                            <td>@Empleado.NombrePuesto</td>
                                            <td>@Empleado.GrupoSanguineo</td>
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a title="Vacaciones" class="btn btn-blue" href="@Url.Action("Vacaciones", "CatEmpleado", new { id = Empleado.IDEmpleado })"><i class="fa fa-smile-o"></i></a>
                                                    @if (Empleado.AltaNominal)
                                                    {
                                                        <a title="Baja Nominal" class="btn btn-primary" id="baja-@Empleado.IDEmpleado" href="@Url.Action("BajaNomina", "CatEmpleado", new { id = Empleado.IDEmpleado})"><i class="fa fa-thumbs-down"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a title="Alta Nominal" class="btn btn-green" id="alta-@Empleado.IDEmpleado" href="@Url.Action("AltaNomina", "CatEmpleado", new { id = Empleado.IDEmpleado})"><i class="fa fa-thumbs-up"></i></a>
                                                    }
                                                    <a title="Editar" class="btn btn-yellow" href="@Url.Action("Edit", "CatEmpleado", new { id = Empleado.IDEmpleado })"><i class="fa fa-edit"></i></a>
                                                    <a title="Eliminar" class="btn delete btn-danger deleteRow" id="delete-@Empleado.IDEmpleado" data-hrefa="@Url.Action("Delete", "CatEmpleado", new { id = Empleado.IDEmpleado})" onClick="delete_row('@Empleado.IDEmpleado');"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Vacaciones", "CatEmpleado", new { id = Empleado.IDEmpleado })">
                                                                    <i class="fa fa-smile-o"></i> Vacaciones
                                                                </a>
                                                            </li>
                                                            @if (Empleado.AltaNominal)
                                                            {
                                                                <li>
                                                                    <a role="menuitem" tabindex="-1" id="baja-@Empleado.IDEmpleado" data-hrefa="@Url.Action("AltaBajaNomina", "CatEmpleado", new { id = Empleado.IDEmpleado, id2 = Empleado.AltaNominal})" onClick="baja_row('@Empleado.IDEmpleado');">
                                                                        <i class="fa fa-thumbs-down"></i> Baja Nomina
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    <a role="menuitem" tabindex="-1" id="alta-@Empleado.IDEmpleado" data-hrefa="@Url.Action("AltaBajaNomina", "CatEmpleado", new { id = Empleado.IDEmpleado, id2 = Empleado.AltaNominal})" onClick="alta_row('@Empleado.IDEmpleado');">
                                                                        <i class="fa fa-thumbs-up"></i> Alta Nomina
                                                                    </a>
                                                                </li>
                                                            }
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "CatEmpleado", new { id = Empleado.IDEmpleado })">
                                                                    <i class="fa fa-edit"></i> Editar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" id="delete-@Empleado.IDEmpleado" data-hrefa="@Url.Action("Delete", "CatEmpleado", new { id = Empleado.IDEmpleado})" onClick="delete_row('@Empleado.IDEmpleado');">
                                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="message-box animated fadeIn" data-sound="alert" id="mb-alta-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Alta <strong>Nomina</strong> ?</div>
            <div class="mb-content">
                <p>¿Seguro que quieres dar de alta nominal?</p>
                <p>Presione "sí" si está seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message-box animated fadeIn" data-sound="alert" id="mb-baja-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Baja <strong>Nomina</strong> ?</div>
            <div class="mb-content">
                <p>¿Seguro que quieres dar de baja nominal?</p>
                <p>Presione "sí" si está seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
<script type="text/javascript" src="@Url.Content("~/Content/js/alta_baja_nomina_empleado.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        });
    </script>
}




