@model CreativaSL.Web.Ganados.Models.CatProveedorTransporteModels
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var ListaSucursales = ViewBag.ListaSucursales;
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Create", "CatProveedorTransporte", FormMethod.Post, new { id = "form-dg", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                <div id="validation_summary" class="field_error "></div> //JS
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Nuevo proveedor de transporte</strong> </h3>
                        <ul class="panel-controls">
                            
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                           
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nombre o razón social</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.NombreRazonSocial, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NombreRazonSocial)
                                        <span class="help-block">Ingrese o razón social del proveedor</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-center">RFC</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.RFC, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RFC)
                                        <span class="help-block">Ingrese el RFC</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-center">Domicilio fistal</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.DomicilioFiscal, new { @class = "form-control" })
                                        </div>
                                        <span class="help-block">Ingrese el domicilio fiscal</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatCorral")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Puestos.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            Puestos.init();
        });
    </script>
}
