@model CreativaSL.Web.Ganados.Models.CatContactosModels
@{
    ViewBag.Title = "NuevoDatosContactoEdit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("NuevoDatosContactoEdit", "CatProveedor", FormMethod.Post, new { id = "form-datoscontact", @class = "form-horizontal", autocomplete = "off" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                @Html.HiddenFor(model => model.IDProveedor)                                                                                                     <div id="validation_summary" class="field_error "></div> //JS
                @Html.HiddenFor(model => model.IDSucursal)
                @Html.HiddenFor(model => model.IDContacto)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> Almacén</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">



                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Nombre contacto</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.nombreContacto, new { id = "nombreContacto", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.nombreContacto)
                                        <span class="help-block">Nombre Contacto</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Apellido Paterno</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.apPaterno, new { id = "apPaterno", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.apPaterno)
                                        <span class="help-block">Apellido Paterno</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Apellido Materno</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.apMaterno, new { id = "apMaterno", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.apMaterno)
                                        <span class="help-block">Apellido Materno</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Correo electrónico</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.correo, new { id = "correo", @class = "form-control", @type = "email" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.correo)
                                        <span class="help-block">Correo electrónico</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Teléfono</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.telefonoContacto, new { id = "telefonoContacto", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.telefonoContacto)
                                        <span class="help-block">Teléfono contacto</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Celular</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.celularContacto, new { id = "celularContacto", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.celularContacto)
                                        <span class="help-block">Celular</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Dirección</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextAreaFor(model => model.direccion, new { id = "direccion", @class = "form-control texArea", @rows = "4" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.direccion)
                                        <span class="help-block">Dirección</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Observación</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextAreaFor(model => model.observacion, new { id = "observacion", @class = "form-control texArea", @rows = "4" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.observacion)
                                        <span class="help-block">Observación</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("DatosContacto","CatProveedor",new {id=Model.IDProveedor,id2=Model.IDSucursal})" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
@*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/CatContactos.js")"></script>
    <script>
    jQuery(document).ready(function () {

        Mensaje(message, typemessage);
        catcontactos.init();

    });
    </script>
}










