@model CreativaSL.Web.Ganados.Models.EntregaCombustibleModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Cargas de combustible </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("Index", "EntregaCombustible", FormMethod.Post, new { @class = "form-inline", id = "form-search", autocomplete = "off" }))
                        {

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.BandIDSucursal)<label class="control-label"> Filtrar por Sucursal: </label>
                                    @*<div class="col-md-8 col-xs-12">*@
                                    @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.ListaSucursales, "IDSucursal", "NombreSucursal"), new { id = "IDSucursal", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.IDSucursal)
                                    @*</div>*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.BandIDVehiuculo)<label class="control-label">Filtrar por Vehiculo: </label>
                                    @*<div class="col-md-8 col-xs-12">*@
                                    @Html.DropDownListFor(model => model.IDVehiculo, new SelectList(Model.ListaVehiculos, "IDVehiculo", "Modelo"), new { id = "IDVehiculo", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.IDVehiculo)
                                    @*</div>*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.BandFechaEntrega) <label class="control-label"> Fecha de entrega: </label>
                                    @*<div class="col-md-12 col-xs-12">*@
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        @Html.TextBoxFor(model => model.Fecha, "{0:dd/MM/yyyy}", new { id = "Fecha", @class = "form-control datepicker", @readonly = "readonly" })
                                    </div>
                                    @*</div>*@
                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">

                                </div>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-default btnCrear"><span class="fa fa-search"> </span> Filtrar</button>
                                <ul class="panel-controls">

                                    <li><a href="@Url.Action("Create", "EntregaCombustible")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nueva carga</a></li>
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tbl_combustible" class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Proveedor</th>
                                        <th>Vehículo</th>
                                        <th>Gasto Total</th>
                                        <th>Sucursal</th>
                                        <th>Estatus</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Item in Model.listaEntregaCombustible)
                                    {
                                        <tr id="@Item.IDEntregaCombustible">
                                            <td>@Item.Fecha.ToShortDateString()</td>
                                            <td>@Item.Proveedor</td>
                                            <td>@Item.Vehiculo</td>
                                            <td>@Item.TotalFormat</td>
                                            <td>@Item.Sucursal</td>
                                            <td>
                                                <span class="@Item.CssClassEstatus">@Item.Estatus</span>
                                            </td>
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a title="Rendimiento" class="btn btn-green" href="@Url.Action("Rendimiento", "EntregaCombustible", new { id = Item.IDEntregaCombustible })"><i class="fa fa-road"></i></a>
                                                    <a title="Procesar" class="btn btn-primary processRow" href="@Url.Action("Procesar", "EntregaCombustible", new { id = Item.IDEntregaCombustible })"><i class="fa fa-caret-square-o-right"></i></a>
                                                    <a title="Editar" href="@Url.Action("Edit", "EntregaCombustible", new { id = Item.IDEntregaCombustible})" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a title="Eliminar" id="delete-@Item.IDEntregaCombustible" data-sku="@Item.IDEntregaCombustible" href="@Url.Action("Delete", "EntregaCombustible", new { id =  Item.IDEntregaCombustible })" class="btn btn-danger tooltips deleteRow" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                                    @*se agrego el boton de ver*@
                                                    <a title="Ver" class="btn btn-blue verTk" data-id="@Item.IDEntregaCombustible"> <i class="fa fa-eye"> </i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Rendimiento", "EntregaCombustible", new { id = Item.IDEntregaCombustible })">
                                                                    <i class="fa fa-road"></i> Rendimiento
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" class="processRow" tabindex="-1" href="@Url.Action("Procesar", "EntregaCombustible", new { id = Item.IDEntregaCombustible })">
                                                                    <i class="fa fa-caret-square-o-right"></i> Procesar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "EntregaCombustible", new { id = Item.IDEntregaCombustible })">
                                                                    <i class="fa fa-edit"></i> Editar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" class="deleteRow" tabindex="-1" id="delete-@Item.IDEntregaCombustible" data-sku="@Item.IDEntregaCombustible" href="@Url.Action("Delete", "EntregaCombustible", new { id =  Item.IDEntregaCombustible })">
                                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" data-id="@Item.IDEntregaCombustible" class="verTk">
                                                                    <i class="fa fa-eye" ></i> Ver 
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box animated fadeIn" data-sound="alert" id="mb-process-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Procesar <strong> Entrega de combustible</strong></div>
                <div class="mb-content">
                    <p>¿Está seguro de procesar la entrega? Éste proceso NO es reversible. Se generará un documento por pagar.</p>
                    <p>Presione "sí" para confirmar.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ModalTicket" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModalTicket">

        </div>
    </div>



    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/combustible.js")"></script>

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);

            Combustible.init();

            $('#tbl_combustible').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                "order": [[0, "desc"]]
            });

            $(".verTk").on("click", function () {
           
               var id = $(this).attr("data-id");

                $("body").css("cursor", "progress");
                $.ajax({
                    url: '/Admin/EntregaCombustible/ModalTicket/',
                    type: "POST",
                    data: { ID: id },
                    success: function (data) {
                        $("body").css("cursor", "default");
                        $('#ContenidoModalTicket').html(data);
                        $('#ModalTicket').modal({ backdrop: 'static', keyboard: false });
                    }
                });
            });
        });
    </script>
}





