@model CreativaSL.Web.Ganados.Models.CatProveedorCombustibleModels
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Create", "CatProveedorCombustible", FormMethod.Post, new { id = "form-dg", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                                                                                                                            <div id="validation_summary" class="field_error "></div> //JS

                @Html.HiddenFor(model => model.IDProveedor)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> Proveedor Combustible</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    

                                        <label class="col-md-12 control-label text-center">Sucursal</label>
                                        <div class="col-md-12 col-xs-12">
                                            @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.listaSucursal, "IDSucursal", "NombreSucursal"), new { id = "IDSucursal", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                            @Html.ValidationMessageFor(model => model.IDSucursal)
                                            <span class="help-block">Ingrese Sucursal</span>
                                        </div>

                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Nombre Razon Social</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.NombreRazonSocial, new { id = "NombreRazonSocial", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NombreRazonSocial)
                                        <span class="help-block">Nombre Razon Social</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">RFC</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.RFC, new { id = "RFC", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RFC)
                                        <span class="help-block">RFC</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Correo electrónico</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.correo, new { id = "correo", @class = "form-control", @type = "email" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.correo)
                                        <span class="help-block">Correo electrónico</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Teléfono</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.telefonoCasa, new { id = "telefonoCasa", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.telefonoCasa)
                                        <span class="help-block">Teléfono</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Celular</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.telefonoCelular, new { id = "telefonoCelular", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.telefonoCelular)
                                        <span class="help-block">Celular</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 col-xs-12 control-label text-center">Fecha de ingreso</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBoxFor(model => model.fechaIngreso, "{0:dd/MM/yyyy}", new { id = "fechaIngreso", @class = "form-control datepicker", @readonly = "readonly" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.fechaIngreso)
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Dirección</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextAreaFor(model => model.Direccion, new { id = "Direccion", @class = "form-control texArea", @rows = "4" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Direccion)
                                        <span class="help-block">Direccion</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Observación</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextAreaFor(model => model.observaciones, new { id = "observaciones", @class = "form-control texArea", @rows = "4" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.observaciones)
                                        <span class="help-block">Observación</span>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatProveedorCombustible")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/ProveedorCombustible.js")"></script>

    <script>
    jQuery(document).ready(function () {
       
        Mensaje(message, typemessage);
        Proveedor.init();
    });
    </script>
}











