@model CreativaSL.Web.Ganados.Models.CatProveedorTransporteModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{

}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Edit", "CatProveedorTransporte", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                <div id="validation_summary" class="field_error "></div> //JS
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Datos generales</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab-first">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label"><span>* </span> Razón Social ó Nombre</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.RazonFiscal, new { @class = "form-control", placeholder = "Ingrese la razón social ó nombre" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.RazonFiscal)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">RFC</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.RFC, new { id = "RFC", @class = "form-control", placeholder = "Capture el RFC del proveedor" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.RFC)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">PSG</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.PsgEmpresa, new { @class = "form-control", placeholder = "PSG del proveedor" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.PsgEmpresa)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">Domicilio Fiscal ó Dirección</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.DireccionFiscal, new { @class = "form-control", placeholder = "Dirección del proveedor" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.DireccionFiscal)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="panel-footer">
                        <a href="@Url.Action("Index","CatProveedor")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                        <button form="form-dg" class="btn btn-primary pull-right">Guardar <span class="fa fa-floppy-o fa-right"></span></button>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/ProveedorTransporte.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            ProveedorTransporte.init();
        });
    </script>
}

