@model CreativaSL.Web.Ganados.Models.CatProductosAlmacenModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Edit", "CatProductosAlmacen", FormMethod.Post, new { id = "form-pa", @class = "form-horizontal", autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                                                                                                                            <div id="validation_summary" class="field_error "></div> //JS

                @Html.HiddenFor(model => model.IDProductoAlmacen)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> Producto en Almacén</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Tipo Código</label>
                                    <div class="col-md-12 col-xs-12">
                                        
                                            @Html.DropDownListFor(model => model.IDTipoCodigo, new SelectList(Model.listaTipoCodigoProducto, "IDTipoCodigo", "Descripcion"), new { id = "IDTipoCodigo", @class = "form-control select", data_live_search = "true" })
                                        
                                        @Html.ValidationMessageFor(model => model.IDTipoCodigo)
                                        <span class="help-block">Seleccione el tipo de vehículo</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Unidad de médida</label>
                                    <div class="col-md-12 col-xs-12">
                                        
                                            @Html.DropDownListFor(model => model.IDUnidadMedida, new SelectList(Model.listaUnidadMedida, "IDUnidadMedida", "Descripcion"), new { id = "IDUnidadMedida", @class = "form-control select ", data_live_search = "true" })
                                     
                                        @Html.ValidationMessageFor(model => model.IDUnidadMedida)
                                        <span class="help-block">Seleccione Unidad de médida</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-6">

                                <label class="col-md-12 control-label text-center">Clave</label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.Clave, new { id = "Clave", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Clave)
                                    <span class="help-block ">Ingrese la clave del producto</span>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Nombre</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Nombre, new { id = "Nombre", @class = "form-control" })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Nombre)
                                    <span class="help-block ">Ingrese nombre del producto</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Descripción</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Descripcion, new { id = "Descripcion", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Descripcion)
                                        <span class="help-block">Ingrese la descripción del producto</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Último costo</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.UltimoCosto, new { id = "UltimoCosto", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.UltimoCosto)
                                        <span class="help-block">Ingrese el último costo del producto</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-12 control-label">Ingrese imagen </label>
                                <div class="col-md-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.imagen2, new { id = "imagen2", @type = "file", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.imagen2)
                                    <span class="help-block">Ingrese por lo menos 1 imagen.</span>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatProductosAlmacen")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    @*<script src="@Url.Content("~/Content/js/plugins/uploadFiles/fa/theme.js")" type="text/javascript"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/ProductosAlmacen.js")"></script>


    <script>
    jQuery(document).ready(function () {

        Mensaje(message, typemessage);
        ProductosAlmacen.init();
       
        $('#imagen2').fileinput({
            theme: 'fa',
            language: 'es',
            maxFileCount: 1,
            uploadUrl: "#",
            overwriteInitial: true,
            showUploadedThumbs: false,
            allowedFileExtensions: ['png'],
            initialPreview: [
                '<img class="file-preview-image" style="width: auto; height: auto; max-width: 100%; max-height: 100%;" src="data:image/png;base64, @Model.Imagen" />'
            ],
            initialCaption: 'Ine.png',
            initialPreviewConfig: [
               { caption: 'INE.png' }
            ],
            initialPreviewShowDelete: false,
            showRemove: false,
            showClose: false,
            showUpload: false,
            layoutTemplates: { actionDelete: '' }
        })

    });
    </script>
}











