@model CreativaSL.Web.Ganados.Models.CatProveedorAlmacenModels
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
<div class="row">
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="col-md-12">
        @*<form class="form-horizontal">*@
        @{ Html.EnableClientValidation(false); }
        @using (Html.BeginForm("Create", "CatProveedorAlmacen", FormMethod.Post, new { id = "form-ProveedorAlmacen", @class = "form-horizontal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
            <div id="validation_summary" class="field_error "></div> //JS

            @Html.HiddenFor(model => model.IDProveedorAlmacen)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Información</strong> Proveedor Almacén</h3>
                    <ul class="panel-controls">
                        @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"><span>* </span> Sucursal </label>
                                    <div class="col-md-8 col-xs-12">
                                        @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.ListaSucursal, "IDSucursal", "NombreSucursal"), new { id = "IDSucursal", @class = "form-control select", data_live_search = "true" })
                                        @Html.ValidationMessageFor(model => model.IDSucursal)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"><span>* </span> Razón Social</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.RazonSocial, new { id = "RazonSocial", @class = "form-control", placeholder = "Ingrese la razón social ó nombre" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RazonSocial)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"> Domicilio Fiscal ó Dirección</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Direccion, new { id = "Direccion", @class = "form-control", placeholder = "Dirección del proveedor almacén" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Direccion)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"><span>* </span> RFC</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.RFC, new { id = "RFC", @class = "form-control", placeholder = "Capture el RFC del proveedor almacén" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RFC)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"><span>* </span> Fecha de inicio de relación</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBoxFor(model => model.FechaIngreso, "{0:dd/MM/yyyy}", new { id = "FechaIngreso", @class = "form-control datepicker", @readonly = "readonly" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaIngreso)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"> Celular </label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.TelefonoCelular, new { id = "TelefonoCelular", @class = "form-control", placeholder = "Capture el teléfono celular" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.TelefonoCelular)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"> Teléfono </label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.TelefonoCasa, new { id = "TelefonoCasa", @class = "form-control", placeholder = "Capture el teléfono casa" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.TelefonoCasa)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label"><span>* </span> Correo </label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Correo, new { id = "Correo", @class = "form-control", placeholder = "Capture el correo electrónico" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Correo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Observaciones</label>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextAreaFor(model => model.Observaciones, new { id = "Observaciones", @class = "form-control texArea", placeholder = "Ingrese las observaciones del proveedor almacén", @rows = "5" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Observaciones)
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                    <a href="@Url.Action("Index","CatProveedorAlmacen")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                </div>
            </div>
            @*</form>*@
        }
    </div>
</div>
<script>
        var message = '@message';
        var typemessage = '@typemessage';
</script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/ProveedorAlmacen.js")"></script>

    <script>
    jQuery(document).ready(function () {

        Mensaje(message, typemessage);
        ProveedorAlmacen.init();
    });
    </script>
}
