@model CreativaSL.Web.Ganados.Models.MetaXSucursal

@{
    ViewBag.Title = "Meta por sucursal";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{

}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3>Meta por sucursal</h3>
        </div>
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("MetaXSucursal", "CatEmpresa", FormMethod.Post, new { id = "frmMetaXSucursal", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Meta semanal, sucursal: @ViewBag.NombreSucursal</strong></h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Id_sucursal)
                        @Html.Hidden("Id_empresa", (string)ViewBag.Id_empresa)
                        @Html.Hidden("Nombre_empresa", (string)ViewBag.Nombre_empresa)

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                                <div id="validation_summary" class="field_error "></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 controlError">
                                <label class="col-md-3 control-label">Cantidad de kilos</label>
                                <div class="col-md-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.CantidadKilo, "{0:f0}", new { @class = "form-control kg", placeholder = "Ingrese la cantidad de kilos para la meta semanal" })
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 controlError">
                                <label class="col-md-3 control-label">Cantidad de ganado</label>
                                <div class="col-md-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.CantidadGanado, new { @class = "form-control ganado", placeholder = "Ingrese la cantidad de ganado para la meta semanal" })
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("IndexSucursales","CatEmpresa", new { id =  ViewBag.Id_empresa, nombreEmpresa = ViewBag.Nombre_empresa })" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                    </div>
                </div>
            }

        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <!--VALIDACIONES-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/MetaXSucursal.js")"></script>
    <script src="~/Content/js/plugins/jquery.maskMoney.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            MetaXSucursal.init();
        });
    </script>
}