@model CreativaSL.Web.Ganados.ViewModels.PrestamosHerramientasDetalleViewModels
@{
    ViewBag.Title = "EditDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>

        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("EditDetails", "Prestamos", FormMethod.Post, new { @class = "form-horizontal", id = "form-ea", autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="field_error" id="validation_summary"></div>
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                @Html.HiddenFor(model => model.IDPrestamo)
                @Html.HiddenFor(model => model.IDPrestamoDetalle)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Producto </strong> a prestar </h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label"><span>* </span> Producto </label>
                                <div class="col-md-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.IDProductoAlmacen, new SelectList(Model.ListaProductos, "IDProductoAlmacen", "Nombre"), new { id = "IDProductoAlmacen", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.IDProductoAlmacen)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label"><span>* </span> Unidad de medida </label>
                                <div class="col-md-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.IDUnidadProducto, new SelectList(Model.ListaUnidades, "id_unidadProducto", "Descripcion"), new { id = "IDUnidadProducto", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.IDUnidadProducto)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-12 control-label"><span></span> Existencia </label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Existencia, "{0:F3}", new { id = "Existencia", @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-12 control-label"><span></span>* Cantidad </label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Cantidad, "{0:F3}", new { id = "Cantidad", placeholder = "Ingrese la cantidad de producto", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Cantidad)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar y continuar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","Prestamos")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
            var message = '@message';
            var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/salidaAlmacenDetalle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/PrestamoHerramientasDetalle.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            PrestamosHDetalle.init();
        });
    </script>
}


