@model CreativaSL.Web.Ganados.Models.CatGanadoModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }

            @using (Html.BeginForm("Edit", "CatGanado", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.IDGanado)
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                <div id="validation_summary" class="field_error "></div> //JS
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Editar</strong> Ganado</h3>
                                <ul class="panel-controls">
                                    @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                                </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">Num. Arete </label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.NumArete, new { id = "NumArete", @class = "form-control", placeholder = "No se puede editar", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">Género </label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.Genero, new { id = "Genero", @class = "form-control", placeholder = "No se puede editar", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">Corral </label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.DropDownListFor(model => model.IdCorral, new SelectList(ViewBag.ListaCorrales, "Id_corral", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label"><span>* </span>Observación </label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.Observacion, new { id = "Observacion", @class = "form-control", placeholder = "Observaciones hacia el ganado" })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Observacion)
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label"><span>* </span> Estado </label>
                                <div class="col-md-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.IDTipoEventoEnvio, new SelectList(Model.ListaEventoEnvio, "IDTipoEventoEnvio", "Descripcion"), new { id = "IDTipoEventoEnvio", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDTipoEventoEnvio)
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                                <a href="@Url.Action("Index","CatGanado")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                        </div>
                    </div>
                 @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/maskedinput/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Ganado.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        Ganado.init();
    });
    </script>
}




