@model CreativaSL.Web.Ganados.Models.CatGanadoModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    bool puedeTransferirGanado = (bool)ViewBag.PuedeTransferirGanado;
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Ganados </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            @if (puedeTransferirGanado)
                            {
                                <li><a href="@Url.Action("Transferir","CatGanado")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Transferir Ganado</a></li>
                            }
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        @if (puedeTransferirGanado)
                        {
                            <div class="infoPreviewContainer">
                                <h3>Información de Ganado</h3>
                                <div class="infoItem">
                                    <div class="group">
                                        <label>Machos:</label>
                                        <input readonly value="0 Machos" type="text" name="numGanadoMacho" />
                                    </div>
                                    <div class="group">
                                        <label>Peso:</label>
                                        <input readonly value="0 KG." type="text" name="pesoGanadoMacho" />
                                    </div>
                                    <div class="group">
                                        <label>Dinero:</label>
                                        <input readonly value="$ 0.00" type="text" name="dineroMachos" />
                                    </div>
                                </div>
                                <div class="infoItem">
                                    <div class="group">
                                        <label>Hembras:</label>
                                        <input readonly value="0 Hembras" type="text" name="numGanadoHembras" />
                                    </div>
                                    <div class="group">
                                        <label>Peso:</label>
                                        <input readonly value="0 KG." type="text" name="pesoGanadoHembras" />
                                    </div>
                                    <div class="group">
                                        <label>Dinero:</label>
                                        <input readonly value="$ 0.00" type="text" name="dineroHembras" />
                                    </div>
                                </div>
                                <div class="infoItem">
                                    <div class="group">
                                        <label>Total de Ganado:</label>
                                        <input readonly value="0" type="text" name="totalGanado" />
                                    </div>
                                    <div class="group">
                                        <label>Peso Total:</label>
                                        <input readonly value="0 KG." type="text" name="pesoTotal" />
                                    </div>
                                    <div class="group">
                                        <label>Dinero Total:</label>
                                        <input readonly value="$ 0.00" type="text" name="dineroTotal" />
                                    </div>
                                </div>

                            </div>
                        }
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table id="Jtabla" class="table">
                                <thead>
                                    <tr>
                                        <th>Dinero</th>
                                        <th>Fecha</th>
                                        <th>N° de Arete</th>
                                        <th>Proveedor</th>
                                        <th>Género</th>
                                        <th>Peso KG</th>
                                        <th>Corral</th>
                                        <th>Observación</th>
                                        <th>Estatus</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Ganado in Model.ListaGanados)
                                    {
                                        <tr id="@Ganado.IDGanado">
                                            <td>@Ganado.Dinero</td>
                                            <td>@Ganado.FechaCompra.ToShortDateString()</td>
                                            <td>@Ganado.NumArete</td>
                                            <td>@Ganado.Proveedor</td>
                                            <td>@Ganado.Genero</td>
                                            <td>@Ganado.PesoGanado</td>
                                            <td>@Ganado.Corral</td>
                                            <td>@Ganado.Observacion</td>
                                            <td>@Ganado.Staus</td>
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a title="Editar" class="btn btn-yellow" href="@Url.Action("Edit", "CatGanado", new { id = Ganado.IDGanado })"><i class="fa fa-edit"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "CatGanado", new { id = Ganado.IDGanado })">
                                                                    <i class="fa fa-edit"></i> Editar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
        });
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#Jtabla').DataTable();

            table.columns([0]).visible(false);

            const formatter = new Intl.NumberFormat('es-MX', {
                style: 'currency',
                currency: 'MXN',
                minimumFractionDigits: 2
            });

            table.on('search.dt', function () {
                var valueSearch = table.rows({ search: 'applied' }).data();
                var hembras = 0;
                var machos = 0;
                var pesoMachos = 0;
                var pesoHembras = 0;
                var dineroMachos = 0;
                var dineroHembras = 0;

                for (var i = 0; i < valueSearch.length; i++)
                {
                    var genero = String(valueSearch[i][4]).toUpperCase().trim();
                    
                    if (genero.localeCompare("MACHO") == 0){
                        machos++;
                        pesoMachos += Number.parseInt(valueSearch[i][5]);
                        dineroMachos += Number.parseFloat(valueSearch[i][0]);
                    }
                    else if (genero.localeCompare("HEMBRA") == 0){
                        hembras++;
                        pesoHembras += Number.parseInt(valueSearch[i][5]);
                        dineroHembras += Number.parseFloat(valueSearch[i][0]);
                    }
                }

                $(".infoPreviewContainer .infoItem .group input[name='numGanadoMacho']").val(machos + " Machos");
                $(".infoPreviewContainer .infoItem .group input[name='numGanadoHembras']").val(hembras + " Hembras");

                $(".infoPreviewContainer .infoItem .group input[name='pesoGanadoMacho']").val(pesoMachos + " KG.");
                $(".infoPreviewContainer .infoItem .group input[name='pesoGanadoHembras']").val(pesoHembras + " KG.");

                $(".infoPreviewContainer .infoItem .group input[name='dineroMachos']").val(formatter.format(dineroMachos));
                $(".infoPreviewContainer .infoItem .group input[name='dineroHembras']").val(formatter.format(dineroHembras));

                var totalGanado = machos + hembras;
                var totalPeso = pesoMachos + pesoHembras;
                var dineroTotal = dineroMachos + dineroHembras;

                $(".infoPreviewContainer .infoItem .group input[name='totalGanado']").val(totalGanado + " de ganado");
                $(".infoPreviewContainer .infoItem .group input[name='pesoTotal']").val(totalPeso + " KG.");
                $(".infoPreviewContainer .infoItem .group input[name='dineroTotal']").val(formatter.format(dineroTotal));

            });
        });
    </script>
}

