@model CreativaSL.Web.Ganados.Models.CatGanadoModels

@{
    ViewBag.Title = "Transferir";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }

            @using (Html.BeginForm("Transferir", "CatGanado", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.IDGanado)
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                <div id="validation_summary" class="field_error "></div> //JS
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> transferir ganado</h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Sucursal</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.IdSucursal, new SelectList(Model.listaSucursal, "IDSucursal", "NombreSucursal"), new { id = "IdSucursal", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.listaSucursal)
                                        <span class="help-block">Seleccione la sucursal</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Seleccione el corrar</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.IdCorral, new SelectList(Model.ListaCorral, "Id_corral", "Descripcion"), new { id = "IdCorral", @class = "form-control select ", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ListaCorral)
                                        <span class="help-block">Seleccione el corral</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="btn-group">
                                    <center>
                                        <button type="button" id="seleccionarCorral" class="btn btn-default"><i class="fa fa-hand-o-down"></i></button>
                                        <button type="button" id="enviar" class="btn btn-default"><i class="fa fa-forward"></i></button>
                                        <button type="button" id="regresar" class="btn btn-default"><i class="fa fa-backward"></i></button>
                                        <button type="button" id="seleccionarJaula" class="btn btn-default"><i class="fa fa-hand-o-down"></i></button>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <table id="tblGanadoCorral" class="display table " style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id ganado</th>
                                            <th>Id detalle</th>
                                            <th>Núm. arete</th>
                                            <th>Corral</th>
                                            <th>Genero</th>
                                            <th>Peso pagado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id ganado</th>
                                            <th>Id detalle</th>
                                            <th>Núm. arete</th>
                                            <th>Corral</th>
                                            <th>Genero</th>
                                            <th>Peso</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <table id="tblGanadoJaula" class="display table " style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id ganado</th>
                                            <th>Id detalle</th>
                                            <th>Núm. arete</th>
                                            <th>Corral</th>
                                            <th>Genero</th>
                                            <th>Peso</th>
                                            <th>PC</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id ganado</th>
                                            <th>Id detalle</th>
                                            <th>Núm. arete</th>
                                            <th>Corral</th>
                                            <th>Genero</th>
                                            <th>Peso</th>
                                            <th>PC</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatGanado")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/maskedinput/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/TransferirGanado.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        Transferir.init();
    });
    </script>
}
