@model CreativaSL.Web.Ganados.Models.UsuarioModels
@{
    ViewBag.Title = "Permisos";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            

            @using (Html.BeginForm("Permisos", "CatUsuarios", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.id_usuario)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">TABLA DE PERMISOS</h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-condensed">
                            <thead>
                                <tr class="warning">
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th>Menu</th>
                                    <th>Permisos</th>
                                </tr>
                            </thead>
                                <tbody>

                                    @foreach (CreativaSL.Web.Ganados.Models.MenuModels menuItem in Model.listaMenu)
                                    {
                                        @DibujarMenu(menuItem);
                                    }
                                </tbody>
                            </table>
                        <div class="panel-footer">
                            <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                            <a href="@Url.Action("Index", "CatUsuarios")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>




@helper DibujarMenu(CreativaSL.Web.Ganados.Models.MenuModels Item)
{

if (Item.ListaMenu.Count == 0)
{
        <tr class="">
            <td style="display:none">@Html.HiddenFor(model => model.ListaMenuPermisos[Item.NumRow].IDPermiso)</td>
            <td style="display:none">@Html.HiddenFor(model => model.ListaMenuPermisos[Item.NumRow].MenuID)</td>
            <td>@Item.NombreMenu.ToString()</td>
            <td><label class="switch">
            @Html.CheckBoxFor(model => model.ListaMenuPermisos[Item.NumRow].ver, new { @class = "form-control", data_menuID = Item.MenuID, data_parentID = Item.ParentMenuID }) <span></span></label></td>
        </tr>
}
else
{
    
        <tr>
            <td style="display:none">@Html.HiddenFor(model => model.ListaMenuPermisos[Item.NumRow].IDPermiso)</td>
            <td style="display:none">@Html.HiddenFor(model => model.ListaMenuPermisos[Item.NumRow].MenuID)</td>
            <td class="accordion-toggle" data-toggle="collapse" data-target="#demo-@Html.Raw(Item.MenuID)">@Item.NombreMenu.ToString()</td>
            <td><label class="switch">@Html.CheckBoxFor(model => model.ListaMenuPermisos[Item.NumRow].ver, new { @class = "form-control", data_menuID = Item.MenuID, data_parentID = Item.ParentMenuID }) <span></span></label></td>
        </tr>
        <tr>
            <td colspan="12" class="">
                <div class="accordian-body collapse" id="demo-@Html.Raw(Item.MenuID)">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            @foreach (var SubMenu in Item.ListaMenu)
                            {
                                @DibujarMenu(SubMenu);
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
}

}
}
@section script{
    <script type='text/javascript' src='@Url.Content("~/Content/js/plugins/icheck/icheck.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            $('.switch').on('change.bootstrapSwitch', function (e) {
                var menuID = $(e.target).data('menuid');
                $('form').find('input[type="checkbox"][data-parentID="' + menuID + '"]').each(function() {
                    $(this).prop('checked', e.target.checked).change()
                });
            });
        });
    </script>
}