@model CreativaSL.Web.Ganados.Models.CatVehiculoModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/fontawesome/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("Edit", "CatVehiculo", FormMethod.Post, new { id = "form-vehiculo", @class = "form-horizontal", autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                <div id="validation_summary" class="field_error "></div> //JS

                @Html.HiddenFor(model => model.IDVehiculo)
                @Html.HiddenFor(model=>model.img64)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Información</strong> Vehículo</h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Empresa</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.IDEmpresa, new SelectList(Model.ListaEmpresas, "IDEmpresa", "RazonFiscal"), new { id = "IDEmpresa", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.listaSucursal)
                                        <span class="help-block">Seleccione la empresa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Sucursal</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.listaSucursal, "IDSucursal", "NombreSucursal"), new { id = "IDSucursal", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.listaSucursal)
                                        <span class="help-block">Seleccione la sucursal</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Tipo de Vehículo</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.IDTipoVehiculo, new SelectList(Model.listaTipoVehiculos, "IDTipoVehiculo", "Descripcion"), new { id = "IDTipoVehiculo", @class = "form-control select ", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.listaTipoVehiculos)
                                        <span class="help-block">Seleccione el tipo de vehículo</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Marca</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.DropDownListFor(model => model.IDMarca, new SelectList(Model.listaMarcas, "IDMarca", "Descripcion"), new { id = "IDMarca", @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.listaMarcas)
                                        <span class="help-block">Seleccione la marca </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Placas del vehiculo</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Placas, new { id = "Placas", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Placas)
                                        <span class="help-block ">Ingrese Placas del vehículo</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Modelo</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Modelo, new { id = "Modelo", @class = "form-control" })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Modelo)
                                    <span class="help-block ">Ingrese modelo del vehículo</span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-12 control-label text-center">¿Es remolque?</label>
                                <div class="col-md-12 col-xs-12 text-center">
                                    @Html.CheckBoxFor(model => model.EsJaula)
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="jaula-cont" style="">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Placas del remolque</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.PlacaJaula, new { id = "PlacaJaula", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PlacaJaula)
                                        <span class="help-block ">Ingrese Placas del remolque</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Color del remolque</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.ColorJaula, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ColorJaula)
                                        <span class="help-block ">Ingrese el color del remolque</span>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Tarjeta de Circulación</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.tarjetaCirculacion, new { id = "tarjetaCirculacion", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tarjetaCirculacion)
                                        <span class="help-block">Ingrese la tarjeta de Circulacion</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Fecha de ingreso</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBoxFor(model => model.fechaIngreso, "{0:dd/MM/yyyy}", new { id = "fechaIngreso", @class = "form-control datepicker", @readonly = "readonly" })
                                        </div>

                                        @Html.ValidationMessageFor(model => model.fechaIngreso)
                                        <span class="help-block">Ingrese la fecha de ingreso</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Capacidad</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Capacidad, new { id = "Capacidad", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Capacidad)
                                        <span class="help-block">Ingrese la Capacidad del vehículo</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Color de unidad</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBoxFor(model => model.Color, new { id = "Color", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Color)
                                        <span class="help-block">Ingrese Color de unidad</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Número de motor</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBoxFor(model => model.NoSerie, new { id = "NoSerie", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NoSerie)
                                        <span class="help-block">Ingrese el número de motor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Número de unidad</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            @Html.TextBoxFor(model => model.numeroUnidad, new { id = "numeroUnidad", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.numeroUnidad)
                                        <span class="help-block">Ingrese número de unidad del vehículo</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Propio</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group text-center" style="margin: auto;padding: 5px;">

                                            @Html.CheckBoxFor(model => model.EsPropio)
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">GPS</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Gps, new { id = "Gps", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Gps)
                                        <span class="help-block">Ingrese GPS del vehículo</span>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-center">Ingrese imagen del vehículo</label>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Img, new { id = "Img", @type = "file", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Img)
                                        <span class="help-block">Ingrese por lo menos 1 imagen.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatVehiculo")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/Vehiculo.js")"></script>


    <script>
    jQuery(document).ready(function () {

        if ($("#EsJaula").is(":checked")) {
            $('#jaula-cont').show(0);
        }
        else {
            $('#jaula-cont').hide(0);
        }

        $("#EsJaula").on("change", function () {
            if ($("#EsJaula").is(":checked")) {
                $('#jaula-cont').show(1000);
            }
            else {
                $('#jaula-cont').hide(1000);
            }
        });

        Mensaje(message, typemessage);
        Vehiculo.init();

        $('input[name="Img"]').fileinput({
            theme: 'fa',
            language: 'es',
            maxFileCount: 1,
            uploadUrl: "#",
            overwriteInitial: true,
            showUploadedThumbs: false,
            initialPreview: [
                '<img class="file-preview-image" style="width: auto; height: auto; max-width: 100%; max-height: 100%;" src="@Model.img64" />'
            ],
            initialCaption: 'Vehiculo.png',
            initialPreviewConfig: [
               { caption: 'Vehiculo.png' }
            ],
            initialPreviewShowDelete: false,
            showRemove: false,
            showClose: false,
            showUpload: false,
            layoutTemplates: { actionDelete: '' },

            allowedFileExtensions: ['png', 'jpg', 'gif', 'jpeg', 'heic'],
            previewFileIcon: '<i class="fa fa-file"></i>',
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: { // configure your icon file extensions
                'heic': '<i class="fa fa-file-text text-primary"></i>'
            },
            previewFileExtSettings: { // configure the logic for determining icon file extensions
                'heic': function (ext) {
                    return ext.match(/(heic)$/i);
                }
            }
        })
    });
    </script>
}
