@model CreativaSL.Web.Ganados.Models.ConfiguracionModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @*<form class="form-horizontal">*@
            @using (Html.BeginForm("Edit", "Ticket", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
            <div id="validation_summary" class="field_error "></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Información </strong> Configuración </h3>
                    <ul class="panel-controls">
                        @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label text-left">Correo Electrónico</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.CorreoTxt, new { id = "CorreoTxt", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CorreoTxt)
                            </div>
                            <span class="help-block">Ingrese un correo electrónico </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label text-left">Contraseña</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.Password, new { id = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <span class="help-block">Ingrese la contraseña del correo</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label">¿Html?</label>
                        <div class="col-md-6 col-xs-12">
                            @Html.CheckBoxFor(model => model.HtmlTxt, new { @class = "icheckbox", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label text-left">Host</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.HostTxt, new { id = "HostTxt", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HostTxt)
                            </div>
                            <span class="help-block">Ingrese el Host del correo </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label text-left">Puerto</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.PortTxt, new { id = "PortTxt", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PortTxt)
                            </div>
                            <span class="help-block">Ingrese el puerto de salida del correo </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label">¿EnableSsl?</label>
                        <div class="col-md-6 col-xs-12">
                            @Html.CheckBoxFor(model => model.EnableSslTxt, new { @class = "icheckbox", @readonly = "readonly"})
                        </div>
                    </div>
                    @*<div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">Texto Ticket Uno</label>
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.textoTicket1, new { id = "textoTicket1", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.textoTicket1)
                        </div>
                        <span class="help-block">Ingrese un texto </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">Texto Ticket Dos</label>
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.textoTicket2, new { id = "textoTicket2", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.textoTicket2)
                        </div>
                        <span class="help-block">Ingrese un texto</span>
                    </div>
                </div>
            </div>
        </div>*@

                    @*<div class="col-md-12">
            @*<div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">Texto Ticket Tres</label>
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.textoTicket3, new { id = "textoTicket3", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.textoTicket3)
                        </div>
                        <span class="help-block">Ingrese un texto</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">Pagos Días Festivos</label>
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.pagosDiasFestivos, new { id = "pagosDiasFestivos", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pagosDiasFestivos)
                        </div>
                        <span class="help-block">Ingrese cantidad del pago</span>
                    </div>
                </div>
            </div>
        </div>*@

                    @*<div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">Pagos Días Domingo</label>
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.pagosDiasDomingos, new { id = "pagosDiasDomingos", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pagosDiasDomingos)
                        </div>
                        <span class="help-block">Ingrese cantidad del pago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">Pagos Días Vacaciones</label>
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.pagosDiasVacaciones, new { id = "pagosDiasVacaciones", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pagosDiasVacaciones)
                        </div>
                        <span class="help-block">Ingrese cantidad del pago</span>
                    </div>
                </div>
            </div>
        </div>*@
                    @*<div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">Retardos Faltas</label>
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.retardosFaltas, new { id = "retardosFaltas", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.retardosFaltas)
                        </div>
                        <span class="help-block">Ingrese números de retardos faltas</span>
                    </div>
                </div>
            </div>
        </div>*@

                </div>
                <div class="panel-footer">
                    <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                    <a href="@Url.Action("Index","Ticket")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                </div>
            </div>
            @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Configuracion.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            Configuracion.init();
        });
    </script>

}
