@model CreativaSL.Web.Ganados.Models.DocumentoPorPagarDetallePagosModels
@{
    ViewBag.Title = "DetallePagos";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
<div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
    <h3></h3>
</div>
<div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
    <h3></h3>
</div>
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Documentos por Pagar </h2>
</div>
<!-- END PAGE TITLE -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            @{ string IDP = Model.Id_documentoPorPagar;}
                            @{ int status = Model.id_status;}
                            @if(Model.id_status==1)
                            {<li><a href="@Url.Action("PagosCreate","DocumentoXPagar", new { id = IDP,id2=status})" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo Pago</a></li> }
                            
                            <li><a href="@Url.Action("Index","DocumentoXPagar")" class="btn btn-danger btnCrear"><span class="fa fa-arrow-circle-o-left"></span> Regresar</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tbl_documentosPorCobrarDetallesPagos" class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Forma de pago</th>
                                        <th>Monto</th>
                                        <th>Fecha</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Documento in Model.ListaPagosDocumento)
                                    {
                                    <tr id="@Documento.Id_documentoPorPagarDetallePagos">
                                        <td>@Documento.Descripcion</td>
                                        <td>@Documento.Monto.ToString("C")</td>
                                        <td>@Documento.fecha.ToShortDateString()</td>
                                        @if (Model.id_status == 1)
                                        {
                                            <td style="text-align:center;">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a title="Editar" href="@Url.Action("PagosEdit", "DocumentoXPagar", new { id = Documento.Id_documentoPorPagarDetallePagos,id2=IDP,id3=status })" class="btn btn-yellow tooltips" data-placement="top" data-original-title="Edit" ><i class="fa fa-edit"></i></a>
                                                <a title="Eliminar" id="delete-@Documento.Id_documentoPorPagarDetallePagos" data-hrefa="@Url.Action("PagosDelete", "DocumentoXPagar", new { id = Documento.Id_documentoPorPagarDetallePagos,id2=IDP })" onClick="delete_row('@Documento.Id_documentoPorPagarDetallePagos');" class="btn btn-danger tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                    </a>
                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" href="@Url.Action("PagosEdit", "DocumentoXPagar", new { id = Documento.Id_documentoPorPagarDetallePagos,id2=IDP })">
                                                                <i class="fa fa-edit"></i> Editar
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a role="menuitem" tabindex="-1" id="delete-@Documento.Id_documentoPorPagarDetallePagos" data-hrefa="@Url.Action("PagosDelete", "DocumentoXPagar", new { id = Documento.Id_documentoPorPagarDetallePagos, id2 = IDP })" onClick="delete_row('@Documento.Id_documentoPorPagarDetallePagos');">
                                                                <i class="fa fa-trash-o"></i> Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <label title="No se puede Editar" href="#" class="btn" style="background-color:gray; " data-placement="top" data-original-title="Edit"><i class="fa fa-edit" style="color:white"></i></label>
                                                    <label title="No se puede Eliminar" href="#" class="btn" style="background-color:gray; " data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o" style="color:white"></i></label>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a style="background-color:gray;" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#" >
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                          </td>
                                        }

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
            <div class="mb-content">
                <p>¿Seguro que quieres eliminar esta fila?</p>
                <p>Presione "sí" si está seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    var message = '@message';
    var typemessage = '@typemessage';
</script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        });
    </script>
}








