@model CreativaSL.Web.Ganados.Models.DocumentoPorPagarModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Documentos por Pagar </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                           <li><a href="@Url.Action("Create","DocumentoXPagar")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo Documento</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Generados Por Usuario</a></li>
                                <li><a href="#tab-second" role="tab" data-toggle="tab">Generado Por Sistema</a></li>
                            </ul>
                            <div class="panel-body tab-content">
                                <div class="tab-pane active" id="tab-first">
                                    <div class="table-responsive">
                                        <table class="table datatable">
                                            <thead>
                                                <tr>
                                                    <th>Tipo Documento</th>
                                                    <th>No. Factura / Folio</th>
                                                    <th>Sucursal</th>
                                                    <th>Estatus</th>
                                                    <th>Fecha</th>
                                                    <th>Total</th>
                                                    <th>Pendiente</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var Doc in Model.ListaDocumentos)
                                            {
                                                    if (Doc.EsSistema == false)
                                                    {
                                                <tr id="@Doc.IDDocumentoPagar">
                                                    @if (Doc.IDTipoDocumento == 1)
                                                    {
                                                      <td>Compra</td>
                                                    }
                                                    else if (Doc.IDTipoDocumento == 2)
                                                    {
                                                      <td>Compra Almacen</td>
                                                    }
                                                    else if (Doc.IDTipoDocumento == 3)
                                                    {
                                                      <td>Entrega Combustible</td>
                                                    }
                                                    else if (Doc.IDTipoDocumento == 4)
                                                    {
                                                       <td>Mtto Servicio</td>
                                                    }
                                                    else if (Doc.IDTipoDocumento == 5)
                                                    {
                                                      <td>No sistema</td>
                                                    }
                                                        <td>@Doc.numFactura</td>
                                                        <td>@Doc.NombreSucursal</td>
                                                        @if (Doc.IDEstatus == 1)
                                                        {
                                                        <td><span class="label label-success">@Doc.EstatusNombre</span></td>
                                                        }
                                                        else
                                                        {
                                                        <td><span class="label label-primary">@Doc.EstatusNombre</span></td>
                                                        }
                                                        <td>@Doc.Fecha.ToShortDateString()</td>
                                                        <td>@Doc.Total.ToString("C2")</td>
                                                        <td>@Doc.Pendientes.ToString("C2")</td>
                                                        @if (Doc.EsSistema)
                                                        {
                                                        <td style="text-align:center;">
                                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                <a title="Detalle Documento" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })" class="btn btn-green tooltips" data-placement="top" data-original-title="Detalle Documento"><i class="fa fa-eye"></i></a>
                                                            </div>
                                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                <div class="btn-group">
                                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                                    </a>
                                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                                        <li>
                                                                            <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })">
                                                                                <i class="fa fa-eye"></i> Detalle Documento
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        }
                                                        else
                                                        {
                                                        <td style="text-align:center;">
                                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                <a title="Detalle Documento" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })" class="btn btn-green tooltips" data-placement="top" data-original-title="Detalle Documento"><i class="fa fa-eye"></i></a>
                                                                <a title="Pagos" class="btn btn-green" href="@Url.Action("DetallePagos", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar })"><i class="fa fa-money"></i></a>
                                                            </div>
                                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                <div class="btn-group">
                                                                    <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                                                    </a>
                                                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                                        <li>
                                                                            <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })">
                                                                                <i class="fa fa-eye"></i> Detalle Documento
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a role="menuitem" tabindex="-1" href="@Url.Action("DetallePagos", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar })">
                                                                                <i class="fa fa-money"></i> Detalle de pagos
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        }

                                                    </tr>
                                                        }
                                                    }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-second">
                                    <div class="table-responsive">
                                        <table class="table datatable">
                                            <thead>
                                                <tr>
                                                    <th>Tipo Documento</th>
                                                    <th>No. Factura / Folio</th>
                                                    <th>Sucursal</th>
                                                    <th>Estatus</th>
                                                    <th>Fecha</th>
                                                    <th>Total</th>
                                                    <th>Pendiente</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var Doc in Model.ListaDocumentos)
                                                {
                                                    if (Doc.EsSistema == true)
                                                    {
                                                        <tr id="@Doc.IDDocumentoPagar">
                                                            @if (Doc.IDTipoDocumento == 1)
                                                            {
                                                                <td>Compra</td>
                                                            }
                                                            else if (Doc.IDTipoDocumento == 2)
                                                            {
                                                                <td>Compra Almacen</td>
                                                            }
                                                            else if (Doc.IDTipoDocumento == 3)
                                                            {
                                                                <td>Entrega Combustible</td>
                                                            }
                                                            else if (Doc.IDTipoDocumento == 4)
                                                            {
                                                                <td>Mtto Servicio</td>
                                                            }
                                                            else if (Doc.IDTipoDocumento == 5)
                                                            {
                                                                <td>No sistema</td>
                                                            }
                                                            <td>@Doc.numFactura</td>
                                                            <td>@Doc.NombreSucursal</td>
                                                            @if (Doc.IDEstatus == 1)
                                                            {
                                                                <td><span class="label label-success">@Doc.EstatusNombre</span></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span class="label label-primary">@Doc.EstatusNombre</span></td>
                                                            }
                                                            <td>@Doc.Fecha.ToShortDateString()</td>
                                                            <td>@Doc.Total.ToString("C2")</td>
                                                            <td>@Doc.Pendientes.ToString("C2")</td>
                                                            @if (Doc.EsSistema)
                                                            {
                                                                <td style="text-align:center;">
                                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                        <a title="Detalle Documento" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })" class="btn btn-green tooltips" data-placement="top" data-original-title="Detalle Documento"><i class="fa fa-eye"></i></a>
                                                                    </div>
                                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                        <div class="btn-group">
                                                                            <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                                <i class="fa fa-cog"></i> <span class="caret"></span>
                                                                            </a>
                                                                            <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                                                <li>
                                                                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })">
                                                                                        <i class="fa fa-eye"></i> Detalle Documento
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:center;">
                                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                        <a title="Detalle Documento" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })" class="btn btn-green tooltips" data-placement="top" data-original-title="Detalle Documento"><i class="fa fa-eye"></i></a>
                                                                        <a title="Pagos" class="btn btn-green" href="@Url.Action("DetallePagos", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar })"><i class="fa fa-money"></i></a>
                                                                    </div>
                                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                        <div class="btn-group">
                                                                            <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                                <i class="fa fa-cog"></i> <span class="caret"></span>
                                                                            </a>
                                                                            <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                                                <li>
                                                                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar, id2 = Doc.IDTipoDocumento })">
                                                                                        <i class="fa fa-eye"></i> Detalle Documento
                                                                                    </a>
                                                                                </li>
                                                                                <li>
                                                                                    <a role="menuitem" tabindex="-1" href="@Url.Action("DetallePagos", "DocumentoXPagar", new { id = Doc.IDDocumentoPagar })">
                                                                                        <i class="fa fa-money"></i> Detalle de pagos
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            }

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
         

        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        });
    </script>
}




