@model CreativaSL.Web.Ganados.Models.DocumentosPorCobrarDetalleModels

@{
    ViewBag.Title = "ImpuestoCompra";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <style>
        .form-control[disabled], .form-control[readonly] 
        {
            color: #000 !important;
        }
    </style>
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }

    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
            
        <div>
            <div class="col-md-12">
                    @{ Html.EnableClientValidation(false); }
                    @using (Html.BeginForm("A_impuestoCompra", "documentoXcobrar", FormMethod.Post, new { id = "frm_impuesto", @class = "form-horizontal", autocomplete = "off" }))
                    {
                        @Html.HiddenFor(model => model.Id_detalleDoctoCobrar);
                        @Html.HiddenFor(model => model.Id_documentoCobrar);
                        @Html.AntiForgeryToken()

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Impuestos</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                                <div id="validation_summary" class="field_error "></div><br />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Precio del flete</label>
                                            <div class="col-md-10 col-xs-12">
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.precioFlete, "{0:f2}", new { @class = "form-control" })
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Condición de pago</label>
                                            <div class="col-md-10 col-xs-12">
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.CondicionPago, new { @class = "form-control" })
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Impuestos retenidos</label>
                                            <div class="col-md-10 col-xs-12">
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.TotalImpuestoRetenido, "{0:f2}", new { @class = "form-control", @readonly = "readonly" })
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Método de pago</label>
                                            <div class="col-md-10 col-xs-12">
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.MetodoPago.Clave, new SelectList(Model.ListaMetodoPago, "Clave", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Impuestos trasladados</label>
                                            <div class="col-md-10 col-xs-12">
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.TotalImpuestoTrasladado, "{0:f2}", new { @class = "form-control", @readonly = "readonly" })
                                                </div>*@
                                            </div>
                                        </div>

                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Forma de pago</label>
                                            <div class="col-md-10 col-xs-12">
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.FormaPago.Clave, new SelectList(Model.ListaFormaPago, "Clave", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Total</label>
                                            <div class="col-md-10 col-xs-12">
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.TotalFlete, "{0:f2}", new { @class = "form-control", @readonly = "readonly" })
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddImpuesto" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo impuesto</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <h3></h3>
                                                    <div class="table-responsive">
                                                        <table id="tblImpuesto" class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo de impuesto</th>
                                                                    <th>Impuesto</th>
                                                                    <th>Tipo de factor</th>
                                                                    <th>Base</th>
                                                                    <th>Tasa o cuota</th>
                                                                    <th>Importe</th>
                                                                    <th>Acción</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">

                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                                <a href="@Url.Action("Index", "Flete")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    }
                </div>
        </div>
        
        <div id="Modal" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModal">

            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                    <div class="mb-content">
                        <p>¿Seguro que quieres eliminar este impuesto?</p>
                        <p>Presione "sí" si está seguro.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <script>
        var message     = "@message";
        var typemessage = "@typemessage";
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("~/Content/js/impuestoCompra.js")"></script>

    <script>
    jQuery(document).ready(function () {

        Mensaje(message, typemessage);
        ImpuestoCompra.init();
    });
    </script>
}

