@model CreativaSL.Web.Ganados.Models.AsistenciaEmpleadoModels

@{
    ViewBag.Title = "RptSaldos";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Reporte por dias laborados </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("Index", "AsistenciaEmpleados", FormMethod.Post, new { @class = "form-inline", id = "form-search", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "Hay errores en la captura de información:", new { @class = "text-danger" }) //Server
                           <div id="validation_summary" class="field_error"></div> //JS
                            <div class="col-md-9">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.ListaSucursales, "IDSucursal", "NombreSucursal"), new { id = "IDSucursal", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.IDSucursal)
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
                                    <button class="btn btn-default btnCrear"><span class="fa fa-search"> </span> Buscar</button>
                                    <ul class="panel-controls">
                                        <li><a href="@Url.Action("Upload", "AsistenciaEmpleados", new { id = Model.fecha.ToString("yyyy-MM-dd") })" class="btn btn-warning btnCrear"><span class="fa fa fa-check "></span> Registrar faltas</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                    
                    <div class="panel-body">
                       
                       @if (!string.IsNullOrEmpty(Model.IDSucursal))
                       {
                        <div class="table-responsive">
                            <table class="table" id="Tbl5-g">
                                <thead>
                                    <tr>
                                        
                                        <th>Codigo Usuario123</th>
                                        <th>Nombre Usuario</th>
                                        <th>Sucursal</th>
                                        <th>Fecha</th>
                                        <th> Asistencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listaEmpleados)
                                    {
                                        <tr>
                                           
                                            <td>@item.CodigoUsuario</td>
                                            <td>@item.NombreCompleto</td>
                                            <td>@item.NombreSucursal</td>
                                            <td>@item.FechaInacistencia.ToShortDateString()</td>
                                            <td>@item.Asistencia</td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                       }
                       else
                       {
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Usuario</th>
                                        <th>Codigo Usuario</th>
                                        <th>Nombre Usuario</th>
                                        <th>Sucursal</th>
                                        <th>Fecha : @Model.fecha.ToShortDateString();</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                       <td colspan="5">Seleccione sucursal</td>
                                   </tr>

                                </tbody>

                            </table>
                        </div>

                       }
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/buttons.flash.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/vfs_fonts.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/js/plugins/datatablesbtn/buttons.print.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/EmpleadosSucursalFaltas.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>

<script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        EmpleadoFalta.init();
        $("#Tbl5-g").dataTable({
            "language": {
                "url": "/Content/assets/json/Spanish.json"
            },
            "searching": false,
             dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excel',
                title: '',
                filename: 'Lista-del-dia-@Model.fecha.ToShortDateString()'
            }
        ]

        });
        });
</script>
}




