@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "Agendar compra";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/select.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
    <style>
        .errorCSLGanado {
            border-color: #E04B4A !important;
        }

        .okCSLGanado {
            border-color: #95b75d !important;
        }
        .has-error {
            border-color: #E04B4A !important;
        }
        .has-success {
            border-color: #95b75d !important;
        }
        .derecha{
            float: right !important;
            clear: both !important;
        }
        .izquierda{
            float: left !important;
            clear: both !important;
        }
    </style>
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="col-md-12">
    <h3>
        @Html.Label("Folio de la compra: " + Model.Folio, new { id = "Folio", style = "float: right" })
    </h3>
    </div>
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#proveedor" aria-controls="proveedor" role="tab" data-toggle="tab">Proveedor</a></li>
                @*<li id="liFierro" role="presentation" class="disabled"><a id="tabFierro" href="#fierro" aria-controls="fierro" role="tab" data-toggle="">Ganado</a></li>*@
                <li id="liFlete" role="presentation" class="disabled"><a id="tabFlete" href="#flete" aria-controls="flete" role="tab" data-toggle="">Flete</a></li>
                @*<li id="liDocumentos" role="presentation" class="disabled"><a id="tabDocumentos" href="#documentos" aria-controls="documentos" role="tab" data-toggle="">Documentos</a></li>*@
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="proveedor">
                    <div class="col-md-12">
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("AC_Proveedor", "Compra", FormMethod.Post, new { id = "frmProveedor", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.IDCompra)
                            @Html.HiddenFor(model => model.IDFlete)

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Información</strong> Compra </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">
                                    @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                                    <div id="validation_summary_proveedor" class="field_error "></div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Sucursal</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-building-o"></span></span>
                                                        @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.ListaSucursales, "IDSucursal", "NombreSucursal"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDSucursal)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="controlError col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Fecha programada</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        @Html.TextBoxFor(model => model.FechaHoraProgramada, "{0:dd/MM/yyyy}", new { id = "FechaProgramada", autocomplete = "off", @class = "form-control datepicker", @readonly = "readonly" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.FechaHoraProgramada)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Hora programada</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        @Html.TextBoxFor(model => model.HoraProgramada, new { @class = "form-control Hora24hrs", @readonly = "readonly" } )
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.HoraProgramada)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Nombre del proveedor</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                        @Html.DropDownListFor(model => model.IDProveedor, new SelectList(Model.ListaProveedores, "IDProveedor", "NombreRazonSocial"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDProveedor)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Lugares del proveedor</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                                                        @Html.DropDownListFor(model => model.IDPLugarProveedor, new SelectList(Model.ListaLugaresProveedor, "id_lugar", "descripcion"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDPLugarProveedor)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Ganado programado machos</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="icon-ocampo-head"></span></span>
                                                        @Html.TextBoxFor(model=>model.GanadosPactadoMachos, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.GanadosPactadoMachos)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Ganado programado hembras</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="icon-ocampo-head"></span></span>
                                                        @Html.TextBoxFor(model => model.GanadosPactadoHembras, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.GanadosPactadoHembras)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-3 control-label">Anotaciones de la báscula</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextAreaFor(model=>model.Descripcion_bascula, new { @class="form-control", @style="resize:none", @rows = "5" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-3 control-label">Nota</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextAreaFor(model => model.Observacion_programacion, new { @class = "form-control", @style = "resize:none", @rows="5"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <input type="submit" value="Guardar y continuar" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div role="tabpanel" class="tab-pane" id="fierro">
                    <div class="col-md-12">
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("AC_Fierro", "Fierro", FormMethod.Post, new { id = "frmProveedor", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.IDCompra)
                            @Html.HiddenFor(model => model.IDFlete)

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Fierros</strong> de la compra </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">
                                    @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                                    <div id="validation_summary_proveedor" class="field_error "></div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="controlError">
                                                <label class="col-md-1 control-label">Fierros</label>
                                                <div class="col-md-11 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-building-o"></span></span>
                                                        @Html.DropDownListFor(model => model.Fierro.IDFierro, new SelectList(Model.ListaFierros, "IDFierro", "NombreFierro"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Fierro.IDFierro)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <center>
                                                <input id="VistaPreviaFierro" type="button" value="Vista previa" class="btn btn-primary ">
                                            </center>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <center>
                                                <img style='display:block; width:auto;height:auto;' id='base64image'
                                                    src='data:@Model.Fierro.Extension;base64, @Model.Fierro.ImgFierro' />
                                            </center>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"></h3>
                                            <ul class="panel-controls">
                                                <li><input id="inputGanado" type="text" class="form-control" placeholder="Cantidad de filas" /></li>
                                                <li><a id="btnAddRowGanado" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Agregar filas</a></li>
                                                <li><a id="btnSaveRowGanado" class="btn btn-green btnCrear"><span class="fa fa-save"></span> Guardar ganado</a></li>
                                                <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <h3></h3>
                                                <div class="table-responsive">
                                                    <table id="tblGanadoProgramado" class="display nowrap table" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Núm. arete</th>
                                                                <th>Genero</th>
                                                                <th>Fierro 1</th>
                                                                <th>Fierro 2</th>
                                                                <th>Fierro 3</th>
                                                                <th>Eliminar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="panel-footer">
                                    <input type="submit" value="Continuar" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                                </div>
                                
                            </div>
                        }
                    </div>
                </div>*@
                <div role="tabpanel" class="tab-pane" id="flete">
                    <div class="col-md-12">
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("AC_Flete", "Compra", FormMethod.Post, new { id = "frmFlete", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.HiddenFor(model => model.IDFlete);
                            @Html.HiddenFor(model => model.IDCompra);
                            @*@Html.HiddenFor(model => model.DocumentosPorCobrarDetallePagos.Bancarizado);
                            @Html.HiddenFor(model => model.DocumentosPorCobrarDetallePagos.ExtensionImagenBase64)
                            @Html.HiddenFor(model => model.DocumentosPorCobrarDetallePagos.ImagenMostrar)
                            @Html.HiddenFor(model => model.DocumentosPorCobrarDetallePagos.ImagenBase64)*@
                            @Html.AntiForgeryToken()

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Información del <strong>Flete</strong></h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">
                                    @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                                    <div id="validation_summary_flete" class="field_error "></div><br />
                                    <div class="form-group">
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Flete</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.TipoFlete,
                                                    new SelectList(new List<SelectListItem> {
                                                        new SelectListItem { Text = "-- Seleccione --", Value = "" },
                                                        new SelectListItem { Text = "Cobrar flete", Value = "1" },
                                                        new SelectListItem { Text = "No aplica", Value = "2" }
                                                        }, "Value", "Text"),
                                                        new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Linea fletera</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.IDEmpresa, new SelectList(Model.ListaEmpresas, "IDEmpresa", "RazonFiscal"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control", @readonly = "readonly" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IDEmpresa)
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divNoAplicaFlete">
                                        <div class="form-group">
                                            <div class="col-md-6 controlError">
                                                <label class="col-md-2 control-label">Chofer</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                        @Html.DropDownListFor(model => model.IDChofer, new SelectList(Model.ListaChoferes, "IDChofer", "Nombre"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDChofer)
                                                </div>
                                            </div>

                                            <div class="col-md-6 controlError">
                                                <label class="col-md-2 control-label">Vehículo</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-truck"></span></span>
                                                        @Html.DropDownListFor(model => model.IDVehiculo, new SelectList(Model.ListaVehiculos, "IDVehiculo", "nombreMarca", "Modelo", 1), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDVehiculo)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @*<div class="col-md-6 controlError">
                                                <label class="col-md-2 control-label">Kilómetraje Inicial</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">KM.</span>
                                                        @Html.TextBoxFor(model => model.Flete.kmInicialVehiculo, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Flete.kmInicialVehiculo)
                                                </div>
                                            </div>*@
                                            <div class="col-md-6 controlError">
                                                <label class="col-md-2 control-label">Costo del flete</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.Monto, "{0:f2}" ,new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.DocumentosPorCobrarDetallePagos.Monto)
                                                </div>
                                            </div>
                                            @*<div class="col-md-6 controlError">
                                                <label class="col-md-2 control-label">Núm. de fleje</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.TextBoxFor(model => model.Flete.NumFleje, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Flete.NumFleje)
                                                </div>
                                            </div>*@
                                        </div>
                                        @*<div class="form-group">
                                            <div class="col-md-6 controlError">
                                                <label class="col-md-2 control-label">Fecha del pago</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.fecha, "{0:dd/MM/yyyy}" , new { @class = "form-control datepicker", @readonly = "readonly" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.DocumentosPorCobrarDetallePagos.fecha)
                                                </div>
                                            </div>
                                        </div>*@
                                        @*<div class="form-group">
                                            <div class="col-md-4 controlError">
                                                <label class="col-md-3 control-label">Método de pago</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.DropDownListFor(model => model.Flete.Id_metodoPago, new SelectList(Model.Flete.ListaMetodoPago, "Clave", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control", @readonly = "readonly" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Flete.Id_metodoPago)
                                                </div>
                                            </div>
                                            <div class="col-md-4 controlError">
                                                <label class="col-md-3 control-label">Forma de pago</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <select id="DocumentosPorCobrarDetallePagos_Id_formaPago" name="DocumentosPorCobrarDetallePagos.Id_formaPago" class="form-control select" data-live-search="true" , data-style="form-control">
                                                            @foreach (var formaPago in Model.Flete.ListaFormaPago)
                                                            {
                                                                <option value="@formaPago.Clave" data-bancarizado="@formaPago.Bancarizado"
                                                                        @if (Model.DocumentosPorCobrarDetallePagos.Id_formaPago == formaPago.Clave) { <text>
                                                                        selected="selected"
                                                                        </text> }>
                                                                    @formaPago.Descripcion
                                                                </option>
                                                            }
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4 controlError">
                                                <label class="col-md-3 control-label">Condición de pago</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.TextBoxFor(model => model.Flete.CondicionPago, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Flete.CondicionPago)
                                                </div>
                                            </div>

                                        </div>*@

                                        @*<div class="form-group">
                                            <div class="col-md-12">
                                                <label class="col-md-1 control-label">Nota</label>
                                                <div class="controls">
                                                    <div class="col-md-11 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                            @Html.TextAreaFor(model => model.DocumentosPorCobrarDetallePagos.Observacion, new { @class = "form-control" })
                                                        </div>
                                                        <span class="help-block">Nota u observación.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        @*<div id="divBancarizado" style="display:none">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <div class="col-md-12 controlError">
                                                            <label class="col-md-2 control-label">Cuentas bancarias:</label>
                                                            <div class="controls">
                                                                <div class="col-md-10 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        <select id="DocumentosPorCobrarDetallePagos_Id_cuentaBancariaBeneficiante" name="DocumentosPorCobrarDetallePagos.Id_cuentaBancariaBeneficiante" class="form-control select" data-live-search="true" , data-style="form-control">
                                                                            @foreach (var cuentaBancaria in Model.DocumentosPorCobrarDetallePagos.ListaCuentasBancariasEmpresa)
                                                                            {
                                                                                <option value="@cuentaBancaria.IDDatosBancarios"
                                                                                        data-titular="@cuentaBancaria.Titular"
                                                                                        data-numcuenta="@cuentaBancaria.NumCuenta"
                                                                                        data-numclabe="@cuentaBancaria.Clabe"
                                                                                        data-numtarjeta="@cuentaBancaria.NumTarjeta"
                                                                                        data-banco="@cuentaBancaria.Banco.Descripcion"
                                                                                        data-idbanco="@cuentaBancaria.Banco.IDBanco"
                                                                                        @if (Model.DocumentosPorCobrarDetallePagos.Id_cuentaBancariaBeneficiante == cuentaBancaria.IDDatosBancarios) { <text>
                                                                                        selected="selected"
                                                                                        </text> }>
                                                                                    @cuentaBancaria.Titular
                                                                                </option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <span class="help-block">Cuentas bancarias de la empresa.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Banco</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NombreBancoBeneficiante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Núm. Cuenta</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NumCuentaBeneficiante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Núm. tarjeta</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NumTarjetaBeneficiante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Clabe</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NumClabeBeneficiante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12 controlError">
                                                            <label class="col-md-2 control-label">Cuentas bancarias:</label>
                                                            <div class="controls">
                                                                <div class="col-md-10 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        <select id="DocumentosPorCobrarDetallePagos_Id_cuentaBancariaOrdenante" name="DocumentosPorCobrarDetallePagos.Id_cuentaBancariaOrdenante" class="form-control select" data-live-search="true" , data-style="form-control">
                                                                            @foreach (var cuentaBancaria in Model.DocumentosPorCobrarDetallePagos.ListaCuentasBancariasProveedor)
                                                                            {
                                                                                <option value="@cuentaBancaria.IDDatosBancarios"
                                                                                        data-titular="@cuentaBancaria.Titular"
                                                                                        data-numcuenta="@cuentaBancaria.NumCuenta"
                                                                                        data-numclabe="@cuentaBancaria.Clabe"
                                                                                        data-numtarjeta="@cuentaBancaria.NumTarjeta"
                                                                                        data-banco="@cuentaBancaria.Banco.Descripcion"
                                                                                        data-idbanco="@cuentaBancaria.Banco.IDBanco"
                                                                                        @if (Model.DocumentosPorCobrarDetallePagos.Id_cuentaBancariaOrdenante == cuentaBancaria.IDDatosBancarios) { <text>
                                                                                        selected="selected"
                                                                                        </text> }>
                                                                                    @cuentaBancaria.Titular
                                                                                </option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <span class="help-block">Cuentas bancarias del proveedor.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Banco</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NombreBancoOrdenante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Núm. Cuenta</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NumCuentaOrdenante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Núm. tarjeta</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NumTarjetaOrdenante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="col-md-3 control-label">Clabe</label>
                                                            <div class="controls">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                        @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NumClabeOrdenante, new { @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <div class="controlError col-md-12">
                                                    <label class="col-md-1 control-label">Imagen</label>
                                                    <div class="col-md-11 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-camera"></span></span>
                                                            @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.HttpImagen, new { name = "HttpImagen[]", @type = "file", @class = "form-control", data_show_upload = "false", data_show_caption = "true", @data_imgbd = "" })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.DocumentosPorCobrarDetallePagos.HttpImagen)
                                                        <span class="help-block">Ingrese por lo menos 1 imagen.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group controlError">
                                                <div class="col-md-6">
                                                    <label class="col-md-2 control-label">Folio INE:</label>
                                                    <div class="controls">
                                                        <div class="col-md-10 col-xs-12">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.FolioIFE, new { @class = "form-control" })
                                                            </div>
                                                            <span class="help-block">Folio del INE.</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 controlError">
                                                    <label class="col-md-2 control-label">Núm. de autorización:</label>
                                                    <div class="controls">
                                                        <div class="col-md-10 col-xs-12">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                @Html.TextBoxFor(model => model.DocumentosPorCobrarDetallePagos.NumeroAutorizacion, new { @class = "form-control " })
                                                            </div>
                                                            <span class="help-block">Número de autorización.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@



                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div id="floating-panel">
                                                    <b>Origen: </b>

                                                    <select id="Trayecto_id_lugarOrigen" name="Trayecto.id_lugarOrigen" class="controlError">
                                                        @foreach (var lugar in Model.ListaLugares)
                                                        {
                                                            <option value="@lugar.id_lugar" data-latitud="@lugar.latitud" data-longitud="@lugar.longitud"
                                                                    @if (Model.Trayecto.id_lugarOrigen == lugar.id_lugar) { <text>
                                                                    selected="selected"
                                                                    </text> }>
                                                                @lugar.descripcion
                                                            </option>
                                                        }
                                                    </select>

                                                    <b>Destino: </b>

                                                    <select id="Trayecto_id_lugarDestino" name="Trayecto.id_lugarDestino" class="controlError">
                                                        @foreach (var lugar in Model.ListaLugaresProveedor)
                                                        {
                                                            <option value="@lugar.id_lugar" data-latitud="@lugar.latitud" data-longitud="@lugar.longitud" data-direccion="@lugar.Direccion"
                                                                    @if (Model.Trayecto.id_lugarDestino == lugar.id_lugar) { <text>
                                                                    selected="selected"
                                                                    </text>  } else if (Model.IDPLugarProveedor == lugar.id_lugar) { <text>
                                                                    selected="selected"
                                                                    </text> }>
                                                                @lugar.descripcion
                                                            </option>
                                                        }
                                                    </select>
                                                </div>
                                                <div id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div role="tabpanel" class="tab-pane" id="documentos">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Documentación</strong> para la compra</h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddDocumento" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo Documento</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <h3></h3>
                                                    <div class="table-responsive">
                                                        <table id="tblDocumentos" class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo de documento</th>
                                                                    <th>Clave</th>
                                                                    <th>Imagen</th>
                                                                    <th>Acción</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>

        </div>
        <!--TERMINA TABS-->
    <div id="ModalDocumento" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModalDocumento">

        </div>
    </div>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-deleteDocumento">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar este documento?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="message-box animated fadeIn" data-sound="alert" id="mb-delete-ganado">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>ganado programado</strong> ?</div>
            <div class="mb-content">
                <p>¿Seguro que quieres eliminar este ganado de la programación de compra?</p>
                <p>Presione "sí" si está seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/compraAgendar.js")"></script>
    <!--FILEINPUT-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/popper.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")"></script>

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);

            @*var listaFierros = @Html.Raw(Json.Encode(Model.ListaFierrosString))
            listaFierros = listaFierros.replace("\\", "");
            listaFierros = $.parseJSON(listaFierros);*@
        
            //CompraAgendar.init(listaFierros);
            CompraAgendar.init();
        });
    </script>
}