@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "Creando compra de ganado";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet" type="text/css" />
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
}
@section featured
{
    @{
        var message = Model.Mensaje;
        var typemessage = Model.Resultado;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <input type="hidden" value="" id="id_compra" />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#proveedor" aria-controls="proveedor" role="tab" data-toggle="tab">Proveedor</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="proveedor">
                    <div class="col-md-12">
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("SaveCompra", "Compra", FormMethod.Post, new { id = "frmCreateCompra", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Información</strong> Compra </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">
                                    <div id="validation_summary"></div>
                                    <br />
                                    <div class="form-group">
                                        <div class="controlError col-md-6">
                                            <label class="col-md-2 control-label">Nombre del proveedor</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.IDProveedor, new SelectList(Model.ListaProveedores, "IDProveedor", "NombreRazonSocial"), new { @class = "form-control select classSelect", data_live_search = "true", data_style="form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IDProveedor)
                                                <span class="help-block">Seleccione un proveedor</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-6">
                                            <label class="col-md-2 control-label">Sucursal</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-building-o"></span></span>
                                                    @Html.DropDownListFor(model => model.Sucursal.IDSucursal, new SelectList(Model.ListaSucursales, "IDSucursal", "NombreSucursal"), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Sucursal.IDSucursal)
                                                <span class="help-block">Seleccione una sucursal</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Ganado pactado machos</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GanadosPactadoMachos, new { id = "GanadoPactadoMachos", @class = "form-control", data_notice = "Cantidad pactada MACHOS." })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GanadosPactadoMachos)
                                                <span class="help-block">Ingrese una cantidad de ganado "Machos"</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Ganado pactado hembras</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GanadosPactadoHembras, new { id = "GanadoPactadoHembras", @class = "form-control", data_notice = "Cantidad pactada HEMBRAS." })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GanadosPactadoHembras)
                                                <span class="help-block">Ingrese una cantidad de ganado "Hembras"</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Fecha programada</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    @Html.TextBoxFor(model => model.FechaHoraProgramada, "{0:dd/MM/yyyy}", new { id = "FechaProgramada", autocomplete = "off", @class = "form-control datepicker", @readonly = "readonly" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.FechaHoraProgramada)
                                                <span class="help-block">Ingrese una fecha tentativa para la compra.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Choferes</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                    @Html.DropDownListFor(model => model.Flete.id_chofer, new SelectList(Model.ListaChoferes, "IDChofer", "Nombre"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control"  })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.id_chofer)
                                                <span class="help-block">Seleccione un chofer.</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Vehículos</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-truck"></span></span>
                                                    @Html.DropDownListFor(model => model.Flete.id_vehiculo, new SelectList(Model.ListaVehiculos, "IDVehiculo", "nombreMarca", "Modelo", 1), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.id_vehiculo)
                                                <span class="help-block">Seleccion un vehículo.</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Jaulas</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.Flete.id_jaula, new SelectList(Model.ListaJaulas, "IDJaula", "Matricula"), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.id_jaula)
                                                <span class="help-block">Seleccione una jaula.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Remolque</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.Flete.IDRemolque, new SelectList(Model.ListaRemolques, "IDRemolque", "placa"), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.IDRemolque)
                                                <span class="help-block">Seleccione un remolque.</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Kilómetraje Inicial</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-tachometer"></span></span>
                                                    @Html.TextBoxFor(model => model.Flete.kmInicialVehiculo, new { id = "KmInicial", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.kmInicialVehiculo)
                                                <span class="help-block">Introduzca el kilómetraje inicial del vehículo.</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Guía de tránsito</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-file-o"></span></span>
                                                    @Html.TextBoxFor(model => model.GuiaTransito, new { id = "NumGuiTransito", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GuiaTransito)
                                                <span class="help-block">Introduzca un número de guía de tránsito.</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Núm. de Certificado Zoosanitario</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-file-o"></span></span>
                                                    @Html.TextBoxFor(model => model.CertZoosanitario, new { id = "NumCertZoosanitario", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                                <span class="help-block">Introduzca un número de certificado zoosanitario.</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Núm. de Certificado Tuberculosis</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-file-o"></span></span>
                                                    @Html.TextBoxFor(model => model.CertTuberculosis, new { id = "NumCertTuberculosis", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertTuberculosis)
                                                <span class="help-block">Introduzca un número de certificado de tuberculosis.</span>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-4">
                                            <label class="col-md-3 control-label">Núm. de Certificado Brucelosis</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-file-o"></span></span>
                                                    @Html.TextBoxFor(model => model.CertBrucelosis, new { id = "NumCertBrucelosis", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertBrucelosis)
                                                <span class="help-block">Introduzca un número de certificado de brucelosis .</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div id="floating-panel">
                                                <b>Inicio: </b>
                                                <select id="Trayecto.id_lugarOrigen" name="Trayecto.id_lugarOrigen">
                                                    @foreach (var lugar in Model.ListaLugares)
                                                    {
                                                        <option value="@lugar.id_lugar" data-latitud="@lugar.latitud" data-longitud="@lugar.longitud"
                                                                @if (Model.Sucursal.IDSucursal == lugar.id_lugar) { <text>
                                                                selected="selected"
                                                                </text>      }>
                                                            @lugar.descripcion
                                                        </option>
                                                    }
                                                </select>
                                                <b>Fin: </b>
                                                <select id="Trayecto.id_lugarDestino" name="Trayecto.id_lugarDestino">
                                                    @foreach (var lugar in Model.ListaLugares)
                                                    {
                                                        <option value="@lugar.id_lugar" data-latitud="@lugar.latitud" data-longitud="@lugar.longitud"
                                                                @if (Model.Sucursal.IDSucursal == lugar.id_lugar) { <text>
                                                                selected="selected"
                                                                </text>       }>
                                                            @lugar.descripcion
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <div id="map"></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <input type="submit" value="Guardar y continuar" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
        <!--TERMINA TABS-->
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/compra.js")"></script>

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            Compra.init();
        });
    </script>
}