@using CreativaSL.Web.Ganados.Models.System
@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
    <link href="~/Content/css/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
        .vista_previa {
            cursor: pointer;
        }

        #imagen_previa {
            width: 100% !important;
        }
    </style>
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty; ;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                <li role="presentation" class=""><a href="#ganado" aria-controls="ganado" role="tab" data-toggle="tab">Ganado</a></li>
                <li role="presentation" class=""><a href="#pagos" aria-controls="pagos" role="tab" data-toggle="tab">Pagos</a></li>
                <li role="presentation" class=""><a href="#cobros" aria-controls="cobros" role="tab" data-toggle="tab">Cobros</a></li>
                <li role="presentation" class=""><a href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Documentos</a></li>
                <li role="presentation" class=""><a href="#eventos" aria-controls="eventos" role="tab" data-toggle="tab">Eventos</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">INFORMACION</h3>
                                @Html.HiddenFor(model => model.IDCompra)
                                @Html.HiddenFor(model => model.DocumentoPorPagar.IDDocumentoPagar)
                                <ul class="panel-controls">
                                    <li><a id="btnGenerarComprobantePago" class="btn btn-default btnCrear"><span class="fa fa-plus"></span>Generar comprobante de compra</a></li>
                                    @*<li><a href="@Url.Action("ComprobanteCompra","Compra", new {Id_1 = Model.IDCompra })" class="btn btn-default btnCrear"><span class="fa fa-plus"></span>Generar comprobante de compra</a></li>*@
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h4>Datos del Proveedor</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Nombre completo</dt>
                                                <dd>@Model.Proveedor.NombreRazonSocial</dd>
                                                <dt>UPP</dt>
                                                <dd>@Model.UPP</dd>
                                                <dt>Teléfono casa</dt>
                                                <dd>@Model.Proveedor.telefonoCasa</dd>
                                                <dt>Teléfono celular</dt>
                                                <dd>@Model.Proveedor.telefonoCelular</dd>
                                                <dt>R.F.C.</dt>
                                                <dd>@Model.Proveedor.RFC</dd>
                                                <dt>Tolerancia</dt>
                                                <dd>@Model.Tolerancia.ToString("0.00") %</dd>
                                            </dl>
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Datos de la Empresa</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Nombre de la empresa</dt>
                                                <dd>@Model.NombreEmpresa</dd>
                                                <dt>Dirección</dt>
                                                <dd>@Model.DireccionEmpresa</dd>
                                                <dt>R.F.C.</dt>
                                                <dd>@Model.RFCEmpresa</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h4>Ganado programado</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Fecha de programación</dt>
                                                <dd>@Model.FechaHoraProgramada.ToString("d")</dd>
                                                <dt>Total de machos</dt>
                                                <dd>@Model.GanadosPactadoMachos</dd>
                                                <dt>Total de hembras</dt>
                                                <dd>@Model.GanadosPactadoHembras</dd>
                                                <dt>Total de ganado pactado</dt>
                                                <dd>@Model.GanadosPactadoTotal</dd>
                                            </dl>
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Datos del flete</h4>
                                            <dl class="dl-horizontal">
                                                <dt>Linea fletera</dt>
                                                <dd>@Model.LineaFletera</dd>
                                                <dt>Lugar origen</dt>
                                                <dd>@Model.Trayecto.LugarOrigen.descripcion</dd>
                                                <dt>Lugar destino</dt>
                                                <dd>@Model.Trayecto.LugarDestino.descripcion</dd>
                                                <dt>Chofer</dt>
                                                <dd>@Model.Chofer.Nombre</dd>
                                                <dt>Precio del flete</dt>
                                                <dd>@Model.Flete.precioFlete.ToString("C2")</dd>
                                                <dt>Tipo de cobro</dt>
                                                <dd>@Model.StringTipoFlete</dd>
                                                @*<dd>@if (Model.CobrarFlete)
                                                    { @Html.Raw("Si") }
                                                    else
                                                    { @Html.Raw("No") }</dd>*@
                                            </dl>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ganado">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">GANADO</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel panel-body">
                                <div class="table-responsive">
                                    <table id="tbl_generalGanado" class="table">
                                        <thead>
                                            <tr>
                                                <th>Género</th>
                                                <th>Cantidad</th>
                                                <th>Total de kilos</th>
                                                <th>Merma (%)</th>
                                                <th>Subtotal ($)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">GANADO MACHOS</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel panel-body">
                                <div class="table-responsive">
                                    <table id="tbl_ganadoDetalleMachos" class="table">
                                        <thead>
                                            <tr>
                                                <th>Número de arete</th>
                                                <th>Género</th>
                                                <th>Peso inicial (kg.)</th>
                                                <th>Peso final - Repeso (kg.)</th>
                                                <th>Diferencia de peso(kg.)</th>
                                                <th>Merma obtenida (%)</th>
                                                <th>Peso pagado (kg.)</th>
                                                <th>Precio por kilo ($)</th>
                                                <th>Subtotal ($)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">GANADO HEMBRAS</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel panel-body">
                                <div class="table-responsive">
                                    <table id="tbl_ganadoDetalleHembras" class="table">
                                        <thead>
                                            <tr>
                                                <th>Número de arete</th>
                                                <th>Género</th>
                                                <th>Peso inicial (kg.)</th>
                                                <th>Peso final - Repeso (kg.)</th>
                                                <th>Diferencia de peso(kg.)</th>
                                                <th>Merma obtenida (%)</th>
                                                <th>Peso pagado (kg.)</th>
                                                <th>Precio por kilo ($)</th>
                                                <th>Subtotal ($)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="pagos">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-md-4 controlError">
                                <label class="col-md-3 control-label">Total Percepciones</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                        @Html.TextBoxFor(model => model.DocumentoPorPagar.TotalPercepciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 controlError">
                                <div class="controlError">
                                    <label class="col-md-3 control-label">Total deducciones</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                            @Html.TextBoxFor(model => model.DocumentoPorPagar.TotalDeducciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 controlError">
                                <div class="controlError">
                                    <label class="col-md-3 control-label">Total de la venta</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                            @Html.TextBoxFor(model => model.DocumentoPorPagar.Total, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">PRODUCTOS O SERVICIOS POR PAGAR REALIZADOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 controlError">
                                            <label class="col-md-3 control-label">Subtotal</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                    @Html.TextBoxFor(model => model.DocumentoPorPagar.TotalPercepciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 controlError">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Total de percepciones</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                        @Html.TextBoxFor(model => model.DocumentoPorPagar.TotalPercepciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table id="tbl_docxpagardetalles" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Descripción</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio unitario</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">DEDUCCIONES REALIZADOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 controlError">
                                            <label class="col-md-3 control-label">Total de deducciones</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                    @Html.TextBoxFor(model => model.DocumentoPorPagar.TotalDeducciones, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table id="tbl_docxpagardetallesDeducciones" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Descripción</th>
                                                        <th>Monto</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">PAGOS REALIZADOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 controlError">
                                            <label class="col-md-3 control-label">Pagos realizados</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                    @Html.TextBoxFor(model => model.DocumentoPorPagar.Pagos, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 controlError">
                                            <div class="controlError">
                                                <label class="col-md-3 control-label">Pendiente</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                        @Html.TextBoxFor(model => model.DocumentoPorPagar.Pendientes, "{0:c2}", new { autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table id="tbl_docxpagardetallesPagos" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>RFC</th>
                                                        <th>Celular</th>
                                                        <th>Email</th>
                                                        <th>Tipo de pago</th>
                                                        <th>Banco</th>
                                                        <th>Número: Cuenta / Tarjeta / Clabe</th>
                                                        <th>Observación</th>
                                                        <th>Fecha realizada</th>
                                                        <th>Imagen</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="cobros">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">PRODUCTOS O SERVICIOS POR COBRAR REALIZADOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a id="p4" class="exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table id="tbl_docxcobrardetalles" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Producto o Servicio</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio unitario</th>
                                                    <th>Impuestos retenidos</th>
                                                    <th>Impuestos trasladados</th>
                                                    <th>Impuestos</th>
                                                    <th>Subtotal</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">COBROS REALIZADOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a id="p4" class="exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table id="tbl_docxcobrardetallesPagos" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de pago</th>
                                                    <th>Banco</th>
                                                    <th>Número: Cuenta / Tarjeta / Clabe</th>
                                                    <th>Observación</th>
                                                    <th>Fecha realizada</th>
                                                    <th>Imagen</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="documentos">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">DOCUMENTOS UTILIZADOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a id="p4" class="exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 ">
                                            <label class="col-md-4 control-label">Costo de la documentación:</label>
                                            <div class="col-md-8 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.PrecioPorDocumentacion, "{0:f2}", new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 controlError">
                                            <label class="col-md-2 control-label">Tipo de salida:</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.TipoSalidaDocumentacion, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="tbl_documentos" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de documentos</th>
                                                    <th>Clave</th>
                                                    <th>Imagen</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="eventos">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">EVENTOS DURANTE LA COMPRA</h3>
                                <ul class="panel-controls">
                                    <li><a id="p4" class="exsa"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="tblEventos" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tipo Evento</th>
                                                    <th>Cantidad</th>
                                                    <th>Lugar</th>
                                                    <th>Fecha</th>
                                                    <th>Hora</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TERMINA TABS-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalImagen" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Imagen</h4>
                </div>
                <div class="modal-body">
                    <img id="imagen_previa" src="" alt="Imagen_previa" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/compra.js")"></script>

    <script>
        jQuery(document).ready(function () {
            var IDCompra = $("#IDCompra").val();
            var idDocumentoPorPagar = $("#DocumentoPorPagar_IDDocumentoPagar").val();
            var baseDirDocumentoPorCobrarPagoBancarizado = "@ProjectSettings.BaseDirDocumentoPorCobrarPagoBancarizado";
            var baseDirDocumentoPorPagarPagoBancarizado = "@ProjectSettings.BaseDirDocumentoPorPagarPagoBancarizado";

            var tbl_generalGanado = $('#tbl_generalGanado').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/JsonGeneralesGanado/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "genero" },
                    { "data": "totalGanado" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalPeso = row["totalKg"];
                            return totalPeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var merma = row["merma"];
                            return merma.toFixed(2) + ' %';
                        }
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                ]
            });
            var tbl_ganadoDetalleMachos = $('#tbl_ganadoDetalleMachos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/JsonDetallesGanadoMacho/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "numArete" },
                    { "data": "genero" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalPeso = row["peso"];
                            return totalPeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalRepeso = row["repeso"];
                            return totalRepeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalRepeso = row["diferenciaPeso"];
                            return totalRepeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var merma = row["merma"];
                            return merma.toFixed(2) + ' %';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalRepeso = row["pesoPagado"];
                            return totalRepeso + ' kg.'
                        }
                    },
                    {
                        "data": "precioXkilo",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                ]
            });
            var tbl_ganadoDetalleHembras = $('#tbl_ganadoDetalleHembras').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/JsonDetallesGanadoHembra/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "numArete" },
                    { "data": "genero" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalPeso = row["peso"];
                            return totalPeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalRepeso = row["repeso"];
                            return totalRepeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalRepeso = row["diferenciaPeso"];
                            return totalRepeso + ' kg.'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var merma = row["merma"];
                            return merma.toFixed(2) + ' %';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var totalRepeso = row["pesoPagado"];
                            return totalRepeso + ' kg.'
                        }
                    },
                    {
                        "data": "precioXkilo",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                ]
            });
            var tbl_docxpagardetalles = $('#tbl_docxpagardetalles').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/JsonDetallesDocXpagar/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "descripcion" },
                    { "data": "cantidad" },
                    {
                        "data": "precioUnitario",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    }
                ]
            });
            var tbl_docxpagardetallesPagos = $('#tbl_docxpagardetallesPagos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/DatatableDetalleDocXPagarPagos/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "rfcEmisorOrdenante" },
                    { "data": "celular" },
                    { "data": "email" },
                    { "data": "TipoPago" },
                    { "data": "Banco" },
                    { "data": "NumCuenta" },
                    { "data": "Observacion" },
                    {
                        "data": "Fecha",
                        "render": function (data, type, row) {
                            var fecha;
                            if (data === null)
                                fecha = "Sin dato";
                            else {
                                var dateSplit = data.split('-');
                                var dia = dateSplit[2];
                                dia = dia.split('T');
                                dia = dia[0];
                                var mes = dateSplit[1];
                                var año = dateSplit[0];
                                fecha = dia + '-' + mes + '-' + año;
                            }

                            return fecha;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full) {
                            var imagen64 = full["Imagen"];
                            var imagen = baseDirDocumentoPorPagarPagoBancarizado + imagen64;
                            
                            if (imagen64) {
                                return "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='" +
                                    imagen +
                                    "'/>";
                            } else {
                                return "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='@ProjectSettings.PathDefaultImage' />";
                            }
                        }
                    },
                    {
                        "data": "Cantidad",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    }
                ],
                "drawCallback": function (settings) {

                    $('img.vista_previa').on('click',
                        function () {
                            var src_image = $(this).attr('src');
                            $("#imagen_previa").attr("src", src_image);
                            $("#modalImagen").modal();
                        });

                }
            });
            var tbl_docxcobrardetalles = $('#tbl_docxcobrardetalles').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/JsonDetallesDocXcobrar/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "productoServicio" },
                    { "data": "tipoClasificacion" },
                    { "data": "cantidad" },
                    {
                        "data": "precioUnitario",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "impuestos_retenidos",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "impuestos_trasladados",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "impuestos",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    },
                    {
                        "data": "total",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    }
                ]
            });
            var tbl_docxcobrardetallesPagos = $('#tbl_docxcobrardetallesPagos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/DatatableDetalleDocXCobrarPagos/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "TipoPago" },
                    { "data": "Banco" },
                    { "data": "NumCuenta" },
                    { "data": "Observacion" },
                    {
                        "data": "Fecha",
                        "render": function (data, type, row) {
                            var fecha;
                            if (data === null)
                                fecha = "Sin dato";
                            else {
                                var dateSplit = data.split('-');
                                var dia = dateSplit[2];
                                dia = dia.split('T');
                                dia = dia[0];
                                var mes = dateSplit[1];
                                var año = dateSplit[0];
                                fecha = dia + '-' + mes + '-' + año;
                            }

                            return fecha;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full) {
                            var imagen64 = full["Imagen"];
                            var imagen = baseDirDocumentoPorCobrarPagoBancarizado + imagen64;

                            if (imagen64) {
                                return "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='" +
                                    imagen +
                                    "'/>";
                            } else {
                                return "<img class='file-preview-image vista_previa' style='width: 150px; height: 150px;' src='@ProjectSettings.PathDefaultImage' />";
                            }
                        }
                    },
                    {
                        "data": "Cantidad",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                    }
                ],
                "drawCallback": function (settings) {

                    $('img.vista_previa').on('click',
                        function () {
                            var src_image = $(this).attr('src');
                            $("#imagen_previa").attr("src", src_image);
                            $("#modalImagen").modal();
                        });

                }
            });
            var tbl_documentos = $('#tbl_documentos').DataTable({
                "processing": true,
                "serverSide": true,
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/TableJsonDocumentos/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": function (json) {

                        if (json.data === null)
                            return [];
                        else
                            return json.data;
                    }
                },
                "columns": [
                    { "data": "Descripcion" },
                    { "data": "Clave" },
                    {
                        "data": null,
                        "render": function (data, type, full) {
                            return "<img class='vista_previa' style='width: 100px; height: 100px; max-width: 100 %; max-height: 100 %;' src='" +
                                full["Imagen"] +
                                "' />";
                        }
                    }
                ],
                "drawCallback": function (settings) {

                    $('img.vista_previa').on('click',
                        function () {
                            var src_image = $(this).attr('src');
                            $("#imagen_previa").attr("src", src_image);
                            $("#modalImagen").modal();
                        });

                }
            });
            var tblEventos = $('#tblEventos').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "IDCompra": IDCompra
                    },
                    "url": "/Admin/Compra/TableJsonEventosCompra/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "descripcion" },
                    { "data": "cantidad" },
                    { "data": "lugar" },
                    {
                        "data": "fechaDeteccion",
                        "render": function (data, type, row) {
                            if (data === null)
                                fecha = "Sin dato";
                            else {
                                var dateSplit = data.split('-');
                                var dia = dateSplit[2];
                                dia = dia.split('T');
                                dia = dia[0];
                                var mes = dateSplit[1];
                                var año = dateSplit[0];
                                var fecha = dia + '-' + mes + '-' + año;
                            }

                            return type === "display" || type === "filter" ? fecha : data;
                        }
                    },
                    { "data": "horaDeteccion" },
                    {
                        "data": null,
                        "render": function (data, type, full) {

                            return "<div class='visible-md visible-lg hidden-sm hidden-xs'>" +
                                "<a data-id='" +
                                full["id_eventoCompra"] +
                                "' class='btn btn-primary details tooltips btn-sm detalles' title='Ver'  data-placement='top' data-original-title='Ver'><i class='fa fa-eye'></i></a>" +
                                "</div>" +
                                "<div class='visible-xs visible-sm hidden-md hidden-lg'>" +
                                "<div class='btn-group'>" +
                                "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'" +
                                "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                                "</a>" +
                                "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                                "<li>" +
                                "<a data-id='" +
                                full["id_eventoCompra"] +
                                "' class='detalles details' data-id='" +
                                full["id_eventoCompra"] +
                                "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-eye'></i> Ver" +
                                "</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>";
                        }
                    }
                ],
                "drawCallback": function (settings) {
                    $(".detalles").on("click",
                        function () {
                            var id_evento = $(this).data("id");
                            window.location.href = '/Admin/Compra/EventoDetallesCompra_2?IDCompra=' +
                                IDCompra +
                                '&Id_eventoCompra=' +
                                id_evento;

                        });
                }
            });

            var tbl_docxcobrardetallesDeducciones = $('#tbl_docxpagardetallesDeducciones').DataTable({
                "language": {
                    "url": "/Content/assets/json/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    "data": {
                        "Id_1": idDocumentoPorPagar,
                        "Id_2": IDCompra
                    },
                    "url": "/Admin/Compra/DatatableDocumentosPorPagarDetallesDeduccion/",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": ''
                },
                "columns": [
                    { "data": "fecha" },
                    { "data": "descripcion" },
                    {
                        "data": "subtotal",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '$')
                    }
                ]
            });
            $("#btnGenerarComprobantePago").on("click",
                function () {
                    window.open(
                        '/Admin/Compra/ComprobanteCompra?Id_1=' + IDCompra,
                        '_blank'
                    );
                });

            Mensaje(message, typemessage);
        });
    </script>
}
