@model CreativaSL.Web.Ganados.Models.DocumentoModels
@{
    ViewBag.Title = "DocumentosCompra";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/select.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />

    <style>
        .form-control[disabled], .form-control[readonly] {
            color: #000 !important;
        }

        #carta_porte, #reporte_ganado {
            text-decoration: none;
        }

        a:link {
            color: #ffffff;
        }

        a:visited {
            color: #ffffff;
        }

        a:active {
            color: #ffffff;
        }

        a:hover {
            color: #ffffff;
        }

        #btnGuardar {
            background-color: #E04B4A;
            border-color: #E04B4A;
            color: #fff;
        }

            #btnGuardar:hover {
                background-color: #a43f3e;
                border-color: #a43f3e;
                color: #fff;
            }

        div#validation_summary dd {
            color: #e80c4d !important;
        }
    </style>
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li id="liDocumentacion" role="presentation" class="active"><a id="tabDocumentacion" class="pestaña" href="#documentacion" aria-controls="documentacion" role="tab" data-toggle="tab">Documentación</a></li>
                <li id="liFierro" role="presentation" class="pestaña"><a id="tabFierro" class="pestaña" href="#Fierro" aria-controls="Fierro" role="tab" data-toggle="tab">Fierro</a></li>
                @*<li id="liGenerar_documentos" role="presentation"><a id="tabGenerar_documentos" class="pestaña" href="#generar_documentos" aria-controls="generar_documentos" role="tab" data-toggle="tab">Generar Documentos</a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="documentacion">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Documentación</strong> para la compra</h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            @{ Html.EnableClientValidation(false); }
                                            @using (Html.BeginForm("AC_CostoDocumentos", "Compra", FormMethod.Post, new { id = "frm_documento", @class = "form-horizontal", autocomplete = "off" }))
                                            {
                                                <div id="validation_summary" class="field_error "></div> //JS
                                                <br />
                                                @Html.AntiForgeryToken()
                                                @Html.HiddenFor(model => model.Id_servicio)
                                                @Html.HiddenFor(model => model.Id_documentoPorPagar)

                                                <div class="form-group">
                                                    <div class="col-md-5 controlError">
                                                        <label class="col-md-5 control-label">Precio por la documentación:</label>
                                                        <div class="col-md-7 col-xs-12">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                                @Html.TextBoxFor(model => model.PrecioUnitarioDocumentacion, "{0:f2}", new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 controlError">
                                                        <label class="col-md-5 control-label">Concepto de salida de gasto:</label>
                                                        <div class="col-md-7 col-xs-12">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                @Html.DropDownListFor(model => model.Id_conceptoSalidaDeduccion, new SelectList(Model.ListaConceptosSalidaDeduccion, "IDTipoClasificacionGasto", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="submit" id="btnGuardar" class="btn ">Guardar <i class="fa fa-save"></i></button>
                                                    </div>
                                                </div>
                                            }
                                            <br />
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddDocumento" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo Documento</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <h3></h3>
                                                    <div class="table-responsive">
                                                        <table id="tblDocumentos" class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo de documento</th>
                                                                    <th>Clave</th>
                                                                    <th>Imagen</th>
                                                                    <th>Acción</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div role="tabpanel" class="tab-pane" id="generar_documentos">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-12">

                                        <div class="">
                                            <div class="col-md-4">
                                                <a id="carta_porte" class="tile tile-warning tile-valign2" href="@Url.Action("ImagenesProveedor", "Compra", new { id = ViewBag.Id_compra })" target="_blank">
                                                    Imagenes del Proveedor
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Grupo Ocampo</div>
                                                </a>
                                            </div>

                                            <div class="col-md-4">
                                                <a id="carta_porte" class="tile tile-warning tile-valign2" href="@Url.Action("GanadoProgramado", "Compra", new { id = ViewBag.Id_compra })" target="_blank">
                                                    Ganado Programado
                                                    <div class="informer informer-default dir-bl"><span class="icon-ocampo-head"></span> Grupo Ocampo</div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div role="tabpanel" class="tab-pane" id="Fierro">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Fierro</strong> para la compra</h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="content-frame">

                                    <!-- START CONTENT FRAME TOP -->
                                    <div class="content-frame-top">
                                        <div class="page-title">
                                            <h2><span class="fa fa-image"></span> Gallery</h2>
                                        </div>
                                        <div class="pull-right">
                                        </div>
                                    </div>

                                    <!-- START CONTENT FRAME RIGHT -->
                                    <div class="content-frame-right">
                                        <div class="block push-up-10">

                                        </div>
                                        <div><h3 class="listaFierroTitulo">LISTA DE FIERRO A SOLICITAR</h3></div>
                                        <div class="listaFierroContent">
                                            <form>
                                                <div class="lista">
                                                    <p class="listaMessage">No ha añadido elementos a la lista</p>
                                                    <!-- Elementos se insertan mediante javascript en compraDocumentos.js -->
                                                </div>
                                                <div class="buttonSubmitContent">
                                                    <button type="submit">ENVIAR SOLICITUD DE FIERRO</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- END CONTENT FRAME RIGHT -->
                                    <!-- START CONTENT FRAME BODY -->
                                    <div class="content-frame-body content-frame-body-left">

                                        <div class="pull-left push-up-10">
                                            <button class="btn btn-primary" id="gallery-toggle-items">Toggle All</button>
                                        </div>
                                        <div class="pull-right push-up-10">
                                            <div class="btn-group">
                                                <button class="btn btn-primary addToList"><span class="fa fa-pencil"></span> Unir a la compra</button>
                                            </div>
                                        </div>

                                        <div class="gallery" id="links">

                                            <a class="gallery-item" refitem="100" href="@Url.Content("~/Content/assets/images/gallery/nature-2.jpg")" title="Nature Image 2" data-gallery>
                                                <div class="image">
                                                    <img src="@Url.Content("~/Content/assets/images/gallery/nature-2.jpg")" alt="Nature Image 2" />
                                                    <ul class="gallery-item-controls">
                                                        <li><label class="check"><input name="100" type="checkbox" class="icheckbox" /></label></li>

                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Nature image 2</strong>
                                                    <span>Description</span>
                                                </div>
                                            </a>

                                            <a class="gallery-item" refitem="101" href="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" title="Space picture 1" data-gallery>
                                                <div class="image">
                                                    <img src="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" alt="Space picture 1" />
                                                    <ul class="gallery-item-controls">
                                                        <li><label class="check"><input name="101" type="checkbox" class="icheckbox" /></label></li>

                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Space picture 1</strong>
                                                    <span>Other description</span>
                                                </div>
                                            </a>
                                            <a class="gallery-item" refitem="102" href="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" title="Space picture 1" data-gallery>
                                                <div class="image">
                                                    <img src="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" alt="Space picture 1" />
                                                    <ul class="gallery-item-controls">
                                                        <li><label class="check"><input name="102" type="checkbox" class="icheckbox" /></label></li>

                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Space picture 1</strong>
                                                    <span>Other description</span>
                                                </div>
                                            </a>
                                            <a class="gallery-item" refitem="103" href="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" title="Space picture 1" data-gallery>
                                                <div class="image">
                                                    <img src="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" alt="Space picture 1" />
                                                    <ul class="gallery-item-controls">
                                                        <li><label class="check"><input name="103" type="checkbox" class="icheckbox" /></label></li>

                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Space picture 1</strong>
                                                    <span>Other description</span>
                                                </div>
                                            </a>
                                            <a class="gallery-item" refitem="104" href="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" title="Space picture 1" data-gallery>
                                                <div class="image">
                                                    <img src="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" alt="Space picture 1" />
                                                    <ul class="gallery-item-controls">
                                                        <li><label class="check"><input name="104" type="checkbox" class="icheckbox" /></label></li>

                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Space picture 1</strong>
                                                    <span>Other description</span>
                                                </div>
                                            </a>
                                            <a class="gallery-item" refitem="105" href="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" title="Space picture 1" data-gallery>
                                                <div class="image">
                                                    <img src="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" alt="Space picture 1" />
                                                    <ul class="gallery-item-controls">
                                                        <li><label class="check"><input name="105" type="checkbox" class="icheckbox" /></label></li>

                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Space picture 1</strong>
                                                    <span>Other description</span>
                                                </div>
                                            </a>
                                            <a class="gallery-item" refitem="106" href="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" title="Space picture 1" data-gallery>
                                                <div class="image">
                                                    <img src="@Url.Content("~/Content/assets/images/gallery/space-1.jpg")" alt="Space picture 1" />
                                                    <ul class="gallery-item-controls">
                                                        <li><label class="check"><input name="106" type="checkbox" class="icheckbox" /></label></li>

                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Space picture 1</strong>
                                                    <span>Other description</span>
                                                </div>
                                            </a>
                                            
                                            
                                            



                                        </div>

                                        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                                            <li class="disabled"><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                    <!-- END CONTENT FRAME BODY -->
                                </div>
                                <!-- END CONTENT FRAME -->


                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--TERMINA TABS-->

    <div class="message-box animated fadeIn" data-sound="alert" id="mb-deleteDocumento">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar este documento?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        var message     = "@message";
        var typemessage = "@typemessage";
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <!--SELECT PICKER-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <!--FUNCIONES DE FLETE JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/compraDocumentos.js")"></script>
    <!--FILEINPUT-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")" type="text/javascript"></script>
    <!-- END PLUGINS -->
    <!-- START THIS PAGE PLUGINS-->

    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/blueimp/jquery.blueimp-gallery.min.js")"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->
    <script>
        // Funcionalidad Galeria y lista de fierro
        
        
        
    </script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement;
            var link = target.src ? target.parentNode : target;
            var options = {
                index: link, event: event, onclosed: function () {
                    setTimeout(function () {
                        $("body").css("overflow", "");
                    }, 200);
                }
            };
            var links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>

    <script>
        jQuery(document).ready(function () {

            Mensaje(message, typemessage);

            CompraDocumentos.init();
        });
    </script>

}








