@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "Creando compra de ganado";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet" type="text/css" />
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
}
@section featured
{
    @{
        var message = Model.Mensaje;
        var typemessage = Model.Resultado;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <input type="hidden" value="" id="id_compra" />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#proveedor" aria-controls="proveedor" role="tab" data-toggle="tab">Proveedor</a></li>
                @if (!string.IsNullOrEmpty(Model.IDCompra))
                {
                    <li role="presentation"><a class="pestaña" href="#fierros" aria-controls="fierros" role="tab" data-toggle="tab">Fierros</a></li>
                    <li role="presentation"><a class="pestaña" href="#ganados" aria-controls="ganados" role="tab" data-toggle="tab">Ganados</a></li>
                    <li role="presentation"><a class="pestaña" href="#pagosCompra" aria-controls="pagos" role="tab" data-toggle="tab">Pagos de la compra</a></li>
                    <li role="presentation"><a class="pestaña" href="#otrosMovimientos" aria-controls="otrosMovimientos" role="tab" data-toggle="tab">Otros movimientos</a></li>
                }

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="proveedor">
                    <div class="col-md-12">
                        @using (Html.BeginForm("SaveCompra", "Compra", FormMethod.Post, new { id = "frmCreateCompra", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Información</strong> Compra </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="col-md-1 control-label">Nombre del proveedor</label>
                                            <div class="col-md-11 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.IDProveedor, new SelectList(Model.ListaProveedores, "IDProveedor", "NombreRazonSocial"), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IDProveedor)
                                                <span class="help-block">Seleccione un proveedor</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Ganado pactado machos</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GanadosPactadoMachos, new { id = "GanadoPactadoMachos", @class = "form-control", data_notice = "Cantidad pactada MACHOS." })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GanadosPactadoMachos)
                                                <span class="help-block">Ingrese una cantidad de ganado "Machos"</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Ganado pactado hembras</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GanadosPactadoHembras, new { id = "GanadoPactadoHembras", @class = "form-control", data_notice = "Cantidad pactada HEMBRAS." })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GanadosPactadoHembras)
                                                <span class="help-block">Ingrese una cantidad de ganado "Hembras"</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Fecha programada</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    @Html.TextBoxFor(model => model.FechaHoraProgramada, "{0:yyyy-MM-dd}", new { id = "FechaProgramada", autocomplete = "off", @class = "form-control", @type = "date" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.FechaHoraProgramada)
                                                <span class="help-block">Ingrese una fecha tentativa para la compra.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Choferes</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.Flete.id_chofer, new SelectList(Model.ListaChoferes, "IDChofer", "Nombre"), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.id_chofer)
                                                <span class="help-block">Seleccione un chofer.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Vehículos</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownListFor(model => model.Flete.id_vehiculo, new SelectList(Model.ListaVehiculos, "IDVehiculo", "nombreMarca", "Modelo", 1), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.id_vehiculo)
                                                <span class="help-block">Seleccion un vehículo.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Jaulas</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    @Html.DropDownListFor(model => model.Flete.id_jaula, new SelectList(Model.ListaJaulas, "IDJaula", "Matricula"), new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.id_jaula)
                                                <span class="help-block">Seleccione una jaula.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Núm. de Certificado Zoosanitario</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.CertZoosanitario, new { id = "NumCertZoosanitario", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                                <span class="help-block">Introduzca un número de certificado zoosanitario.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Núm. de Certificado Tuberculosis</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.CertTuberculosis, new { id = "NumCertTuberculosis", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertTuberculosis)
                                                <span class="help-block">Introduzca un número de certificado de tuberculosis.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Núm. de Certificado Brucelosis</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.CertBrucelosis, new { id = "NumCertBrucelosis", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertBrucelosis)
                                                <span class="help-block">Introduzca un número de certificado de brucelosis .</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Núm. de guía de tránsito</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GuiaTransito, new { id = "NumGuiTransito", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GuiaTransito)
                                                <span class="help-block">Introduzca un número de guía de tránsito.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Kilómetraje Inicial</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.Flete.kmInicialVehiculo, new { id = "KmInicial", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Flete.kmInicialVehiculo)
                                                <span class="help-block">Introduzca el kilómetraje inicial del vehículo.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div id="floating-panel">
                                                <b>Inicio: </b>
                                                <select id="Trayecto.id_lugarOrigen" name="Trayecto.id_lugarOrigen">
                                                    @foreach (var lugar in Model.ListaLugares)
                                                    {
                                                        <option value="@lugar.id_lugar" data-latitud="@lugar.latitud" data-longitud="@lugar.longitud"
                                                                @if (Model.Trayecto.id_lugarOrigen == lugar.id_lugar) { <text>
                                                                selected="selected"
                                                                </text>  }>
                                                            @lugar.descripcion
                                                        </option>
                                                    }
                                                </select>
                                                <b>Fin: </b>
                                                <select id="Trayecto.id_lugarDestino" name="Trayecto.id_lugarDestino">
                                                    @foreach (var lugar in Model.ListaLugares)
                                                    {
                                                        <option value="@lugar.id_lugar" data-latitud="@lugar.latitud" data-longitud="@lugar.longitud"
                                                                @if (Model.Trayecto.id_lugarDestino == lugar.id_lugar) { <text>
                                                                selected="selected"
                                                                </text>  }>
                                                            @lugar.descripcion
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <div id="map"></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <input type="submit" value="Guardar y continuar" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.IDCompra))
                {
                    <div role="tabpanel" class="tab-pane" id="fierros">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información <strong>Fierros</strong>  </h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-1 control-label">Ingrese la imagen de los fierros</label>
                                        <div class="col-md-11 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.ImgFierros, new { id = "ImgFierros", name = "ImgFierros[]", @type = "file", @class = "form-control", @multiple = "multiple" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ImgFierros)
                                            <span class="help-block">Ingrese por lo menos 1 imagen.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ganados" role="tabpanel" class="tab-pane">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Información del <strong>Ganado</strong></h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Merma sugerida</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.Sucursal.MermaPredeterminada, new { id = "MermaPredeterminada", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Sucursal.MermaPredeterminada)
                                                <span class="help-block">Merma sugerida.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Merma promedio</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MermaPromedio, new { id = "MermaPromedio", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MermaPromedio)
                                                <span class="help-block">Merma promedio de la compra.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Total de la compra</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MontoTotal, new { id = "MontoTotal", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MontoTotal)
                                                <span class="help-block">Total de la compra ($).</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Cantidad de ganado total</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GanadosCompradoTotal, new { id = "MontoTotal", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GanadosCompradoTotal)
                                                <span class="help-block">Cantidad total de ganados en la compra.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Cantidad de ganado machos</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GanadosCompradoMachos, new { id = "MontoTotal", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GanadosCompradoMachos)
                                                <span class="help-block">Cantidad total de ganados machos.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-3 control-label">Cantidad de ganado hembras</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.GanadosCompradoHembras, new { id = "MontoTotal", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GanadosCompradoHembras)
                                                <span class="help-block">Cantidad total de ganados hembras.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <div class="page-content-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- START DEFAULT DATATABLE -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"></h3>
                                                    <div class="panel-controls">
                                                        <button id="btnAddGanado" data-id="0" class="btn btn-primary btn-lg">
                                                            <i class="fa fa-plus"></i> Agregar nuevo ganado
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table id="GanadoXCompraGanado" class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Número de arete</th>
                                                                    <th>Género</th>
                                                                    <th>Peso inicial (kg.)</th>
                                                                    <th>Peso final - Repeso (kg.)</th>
                                                                    <th>Diferencia de peso(kg.)</th>
                                                                    <th>Merma obtenida (%)</th>
                                                                    <th>Precio por kilo ($)</th>
                                                                    <th>Peso pagado ($)</th>
                                                                    <th>Total ($)</th>
                                                                    <th>Acción</th>
                                                               </tr>
                                                            </thead>
                                                            <tbody>
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END DEFAULT DATATABLE -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pagosCompra" class="tab-pane" role="tabpanel">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Información de <strong>Pagos realizados</strong></h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="col-md-3 control-label">Cantidad total</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.Sucursal, new { id = "CantidadTotal", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MontoTotal)
                                                <span class="help-block">Cantidad Total.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="col-md-3 control-label">Cantidad pagada</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MermaPromedio, new { id = "CantidadPagada", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MermaPromedio)
                                                <span class="help-block">Subtotal.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="col-md-3 control-label">Cantidad por pagar</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MermaPromedio, new { id = "CantidadPorPagar", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MermaPromedio)
                                                <span class="help-block">Subtotal.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <button id="btnAddPago" class="btn btn-primary btn-lg">
                                                        <i class="fa fa-plus"></i> Agregar pago
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <button id="btnAddVale" class="btn btn-primary btn-lg" >
                                                        <i class="fa fa-plus"></i> Agregar vale
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th>Forma de pago</th>
                                                        <th>Cantidad</th>
                                                        <th>Descripción</th>
                                                        <th>Fecha realizada</th>
                                                        <th>Acción</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div id="otrosMovimientos" class="tab-pane" role="tabpanel">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Información de <strong>Otros Movimientos</strong></h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-3 control-label">Cantidad Total</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.Sucursal, new { id = "MermaSugerida", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                                <span class="help-block">Cantidad Total.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-3 control-label">Subtotal</label>
                                            <div class="col-md-9 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MermaPromedio, new { id = "MermaPromedio", @class = "form-control", disabled = "disabled" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MermaPromedio)
                                                <span class="help-block">Subtotal.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="page-content-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- START DEFAULT DATATABLE -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"></h3>
                                                    <div class="panel-controls">
                                                        <div class="col-md-6">
                                                            <div class="btn-group derecha">
                                                                <button type="button" class="btn btn-primary  btn-lg ">Agregar Renta de equipo</button>
                                                                <button type="button" class="btn btn-primary dropdown-toggle  btn-lg " data-toggle="dropdown"><span class="caret"></span></button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li><a onclick="Renta('Vehiculo')">Vehículo</a></li>
                                                                    <li><a onclick="Renta('Remolque')">Remolque</a></li>
                                                                    <li><a onclick="Renta('Jaula')">Jaula</a></li>
                                                                </ul>
                                                            </div>

                                                            @*<button class="btn btn-primary btn-lg derecha" onclick="NuevaRenta()">
                                                                    <i class="fa fa-plus"></i> Agregar Renta de equipo
                                                                </button>*@
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button class="btn btn-primary btn-lg izquieda" onclick="AbrirInventario()">
                                                                <i class="fa fa-plus"></i> Abrir Inventario
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table datatable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Concepto</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Precio unitario</th>
                                                                    <th>Subtotal</th>
                                                                    <th>Acción</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END DEFAULT DATATABLE -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
        <!--TERMINA TABS-->
        <!--INICIA SECCION DE MODALES-->
        <div id="ModalGanado" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalGanado">

            </div>
        </div>

        <div id="ModalRenta" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalRenta">

            </div>
        </div>

        <div id="ModalInventario" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalInventario">

            </div>
        </div>
        <div id="ModalPago" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalPago">

            </div>
        </div>
        <div id="ModalVale" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalVale">

            </div>
        </div>
        <!--TERMINA SECCION DE MODALES-->
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <!--FILEINPUT-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!--FUNCIONES DE COMPRA JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/compra.js")"></script>

    <script>
        jQuery(document).ready(function () {
            var directionsService
            var directionsDisplay;
            var idCompra = "@Model.IDCompra";
            var TableGanado;
            var idProveedor;
            var RangoPrecioJson = @Html.Raw(Json.Encode(Model.Mensaje));
            console.log(RangoPrecioJson);
            var selectProveedor = document.getElementById("IDProveedor");

            if (isUndefined(selectProveedor))
                idProveedor = 0;
            else
                idProveedor = selectProveedor.options[selectProveedor.selectedIndex].value;
                


            Mensaje(message, typemessage);
            InitMap();
            CalculateAndDisplayRoute();
            LoadTableGanado(idCompra);
            LoadTablePago(idCompra);
            LoadTableVale(idProveedor);

           

        });
        

        $('#ImgFierros').fileinput({
            theme: 'fa',
            language: 'es',
            uploadUrl: 'SaveImageFierro?IDCompra=' + window.idCompra,
            overwriteInitial: false,
            previewFileIcon: '<i class="fa fa-file"></i>',
            allowedPreviewTypes: ['image'],
            allowedFileExtensions: ['png'],
            initialPreview: [
            @for(var i = 0;  i < Model.ListaFierros.Count; i++)
            {
                <text>
                '<img class="file-preview-image" style="width: auto; height: auto; max-width: 100%; max-height: 100%;" src="data:image/png;base64, @Model.ListaFierros[i].ImgFierro" />'
                </text>
                if ((i + 1) != Model.ListaFierros.Count)
                {
                    <text>
                    ,
                    </text>
                }
            }
        ],
        initialPreviewConfig: [
            @for (var i = 0 ;  i < Model.ListaFierros.Count; i++)
            {
                <text>
                { caption: '@Model.ListaFierros[i].NombreFierro', url: "DeleteImageFierro", key: '@Model.ListaFierros[i].IDFierro' }
                </text>

                if ((i + 1) != Model.ListaFierros.Count)
                {
                    <text>
                    ,
                    </text>
                }
            }
        ],
        uploadExtraData: function (previewId, index) {
            return { key: index };
        },
        }).on('filebeforedelete', function () {
            return new Promise(function (resolve, reject) {
                $.confirm({
                    title: 'Confirmación!',
                    content: '¿Está imagen ya ha sido guardada, desea borrarla?',
                    type: 'red',
                    buttons: {
                        ok: {
                            btnClass: 'btn-primary text-white',
                            keys: ['enter'],
                            action: function () {
                                resolve();
                            }
                        },
                        cancel: function () {
                            $.alert('Se detuvo el borrado del archivo.');
                        }
                    }
                });
            });
            }).on('filedeleted', function (event, key, jqXHR, data) {
                console.log(data);
            });

    </script>
}