@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "Ganado";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
   <link href="@Url.Content("~/Content/js/plugins/jquery-confirm.min.css")" rel="stylesheet" />
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
    <style>
        .errorCSLGanado {
            border-color: #E04B4A !important;
        }

        .okCSLGanado {
            border-color: #95b75d !important;
        }

        .btnCSL {
            border-color: #999;
            color: #1b1e24;
            border-radius: 20%;
        }

        table {
            margin: 0 auto;
            width: 100%;
            clear: both;
            border-collapse: collapse;
            table-layout: fixed;
        }

        div.dataTables_wrapper {
            width: 2000px;
            margin: 0 auto;
        }
        .page-content{
            height: 100% !important;
        }
    </style>
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @using (Html.BeginForm("AC_Ganado", "Compra", FormMethod.Post, new { id = "frmGanado", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.HiddenFor(model => model.IDCompra);
                @Html.HiddenFor(model => model.Proveedor.IDTipoProveedor)
                @Html.AntiForgeryToken()

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Generales del ganado</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Cantidad machos</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.GanadosCompradoMachos, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Cantidad hembras</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.GanadosCompradoHembras, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Cantidad total</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.GanadosCompradoTotal, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Merma Machos</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.MermaMachos, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Merma Hembras</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.MermaHembras, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Merma total</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.MermaTotal, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Kilos Machos</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.KilosMachos, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Kilos Hembras</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.KilosHembras, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Total kilos</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.KilosTotal, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Merma permitida</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Tolerancia, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-3 control-label">Total de la compra</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.MontoTotalGanado, "{0:f2}", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- START DEFAULT DATATABLE -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <a id="btnVerListaPrecios" class="btn btn-default btnCrear btnCSL"><span class="glyphicon glyphicon-usd"></span> Lista de precios </a>
                                                <a id="btnVerListaFierros" class="btn btn-default btnCSL"><span class="glyphicon glyphicon-usd"></span> Lista de fierros </a>
                                            </h3>
                                            <ul class="panel-controls">
                                                <li><input id="inputGanado" type="text" class="form-control" placeholder="Cantidad de filas" /></li>
                                                <li><a id="btnAddRowGanado" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Agregar filas</a></li>
                                                <li><a id="btnSaveRowGanado" class="btn btn-green btnCrear"><span class="fa fa-save"></span> Guardar ganado</a></li>
                                                <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <h3></h3>
                                                <div class="table-responsive">
                                                    <table id="tblGanado" class="display nowrap table" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Núm. arete</th>
                                                                <th>Genero</th>
                                                                <th>Peso</th>
                                                                <th>Repeso</th>
                                                                <th>Merma</th>
                                                                <th>Peso a pagar</th>
                                                                <th>Costo por kilo</th>
                                                                <th>Corral</th>
                                                                <th>Fierro 1</th>
                                                                <th>Fierro 2</th>
                                                                <th>Fierro 3</th>
                                                                <th>Total</th>
                                                                <th>Eliminar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END DEFAULT DATATABLE -->
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="Modal" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModal">

        </div>
    </div>

    <div id="ModalFierro" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="ContenidoModalFierro">

        </div>
    </div>

    <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete-ganado">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Ganado</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar este ganado?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var message     = "@message";
        var typemessage = "@typemessage";
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <!--FILEINPUT-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")"></script>
    <!--SELECT PICKER-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <!--FUNCIONES DE COMPRA JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/compraGanado.js")"></script>
    <script>

        jQuery(document).ready(function () {
            var listaPrecioPesoProveedor = @Html.Raw(Json.Encode(Model.ListadoPrecioRangoPesoString))
            listaPrecioPesoProveedor = listaPrecioPesoProveedor.replace("\\", "");
            listaPrecioPesoProveedor = $.parseJSON(listaPrecioPesoProveedor);

            var listaCorrales = @Html.Raw(Json.Encode(Model.ListaCorralesString))
            listaCorrales = listaCorrales.replace("\\", "");
            listaCorrales = $.parseJSON(listaCorrales);

            var listaFierros = @Html.Raw(Json.Encode(Model.ListaFierrosString))
            listaFierros = listaFierros.replace("\\", "");
            listaFierros = $.parseJSON(listaFierros);

            var tolerancia = @Model.Tolerancia

            Mensaje(message, typemessage);
            CompraGanado.init(listaPrecioPesoProveedor, tolerancia, listaCorrales, listaFierros);
        });
    </script>
}