@model CreativaSL.Web.Ganados.Models.CompraModels

@{
    ViewBag.Title = "Ganado";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
{
    
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
                           <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Información del <strong>Ganado</strong></h3>
                        <ul class="panel-controls"></ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Merma sugerida</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.Sucursal, new { id = "MermaSugerida", @class = "form-control", disabled="disabled"})
                                    </div>
                                    @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                    <span class="help-block">Merma sugerida.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Merma promedio</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.MermaPromedio, new { id = "MermaPromedio", @class = "form-control", disabled = "disabled" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MermaPromedio)
                                    <span class="help-block">Merma promedio de la compra.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Total de la compra</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.MontoTotal, new { id = "MontoTotal", @class = "form-control", @Value = "0", disabled = "disabled" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MontoTotal)
                                    <span class="help-block">Total de la compra ($).</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Cantidad de ganado total</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.MontoTotal, new { id = "MontoTotal", @class = "form-control", @Value = "0", disabled = "disabled" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ListaChoferes)
                                    <span class="help-block">Cantidad total de ganados en la compra.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Cantidad de ganado machos</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.MontoTotal, new { id = "MontoTotal", @class = "form-control", @Value = "0", disabled = "disabled" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ListaChoferes)
                                    <span class="help-block">Cantidad total de ganados machos.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Cantidad de ganado hembras</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.MontoTotal, new { id = "MontoTotal", @class = "form-control", @Value = "0", disabled = "disabled" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ListaChoferes)
                                    <span class="help-block">Cantidad total de ganados hembras.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div />

                    <!---->
                   <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                    <div class="panel-controls">
                                        <button class="btn btn-primary btn-lg" onclick="NuevoGanado()">
                                            <i class="fa fa-plus"></i> Agregar nuevo ganado
                                        </button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table datatable">
                                            <thead>
                                                <tr>
                                                    <th>Número de arete</th>
                                                    <th>Género</th>
                                                    <th>Peso inicial (kg.)</th>
                                                    <th>Peso final - Repeso (kg.)</th>
                                                    <th>Diferencia de peso(kg.)</th>
                                                    <th>Precio por kilo</th>
                                                    <th>Merma obtenida (%)</th>
                                                    <th>Peso por kilo ($)</th>
                                                    <th>Peso pagado ($)</th>
                                                    <th>Acción</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->
                        </div>
                    </div>
                </div>

                        <div class="panel-footer">
                            <input type="submit" value="Guardar y continuar" class="btn btn-primary pull-right">
                            <a href="@Url.Action("OtrosMovimientos","Compra")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                        </div>
                    </div>
            
        </div>
    </div>
    <div id="AltaGanado" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
        <div class="modal-dialog" id="modal_ganado">
            
        </div>
    </div>

    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <!--FUNCIONES DE COMPRA JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/compra.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);

           
        });

        function NuevoGanado() {
            $.ajax({
                url: 'NuevoGanado', 
                success: function (data) {
                    $('#modal_ganado').html(data);
                    $('#AltaGanado').modal({ backdrop: 'static', keyboard: false });
                }
            });
        }
    </script>
}

