@model CreativaSL.Web.Ganados.Models.CompraModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <style>
        td.details-control {
            background: url("@Url.Content("~/Content/img/details_open.png")") no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url("@Url.Content("~/Content/img/details_close.png")") no-repeat center center;
        }
        .transaccionesCompra{
            background-color: #95b75d !important;
            border-color: #95b75d !important;
            color: white !important;
        }
         .transacciones {
            background-color: #95b75d !important;
            border-color: #95b75d !important;
            color: white !important;
        }
        .recepcion {
            background-color: orange !important;
            border-color: orange !important;
            color: white !important;
        }
        .page-content{
            height: 100% !important;
        }
        .documentos{
            background-color:#007bff !important;
            border-color: #007bff !important;
            color: white !important;
        }

        table.tCompra td  {
            border-color: #E5E5E5 !important;
            border: 1px solid #E5E5E5;
        }

         table.tCompra > thead > tr > th {
            background: #f1f5f9;
            color: #56688A;
            font-size: 12px;
            border: 1px solid #E5E5E5;
            text-align: center;
            vertical-align: middle;
            padding: 8px;
        }
        td {
            vertical-align: middle;
            text-align: center;
        }
        a.btn.btn-sm {
            width: 30% !important;
            margin: 1px !important;
        }
    </style>
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Compras </h2>
    </div>
    <!-- END PAGE TITLE -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="@Url.Action("AgendarCompra","Compra")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nueva Compra</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tblIndexCompra" class=" tCompra table-long">
                                <thead>
                                    <tr>
                                        <th rowspan="3"></th>
                                        <th rowspan="3">Folio</th>
                                        <th colspan="2">Fecha de compra</th>
                                        <th rowspan="3">Nombre cliente</th>
                                        <th rowspan="3">Lugar</th>
                                        <th colspan="6">Ganado comprado</th>
                                        <th colspan="3">Transacciones</th>
                                        <th rowspan="3">Merma</th>
                                        <th rowspan="3">Estatus</th>
                                        <th rowspan="3">Acción</th>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">Fecha</th>
                                        <th rowspan="2">Hora</th>
                                        <th colspan="2">Machos</th>
                                        <th colspan="2">Hembras</th>
                                        <th rowspan="2">Total ganado</th>
                                        <th rowspan="2">Total kg.</th>
                                        <th rowspan="2">Total por cobrar</th>
                                        <th rowspan="2">Total por pagar</th>
                                        <th rowspan="2">Pendiente</th>
                                    </tr>
                                    <tr>
                                        <th>Cant.</th>
                                        <th>Kg.</th>
                                        <th>Cant.</th>
                                        <th>Kg.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <br />
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-enviar">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-mail-forward"></span><strong>¿Seguro que desea continuar con la compra?</strong></div>
                <div class="mb-content">
                    <p>¿Desea continuar con la compra, la siguiente etapa es: ENVIAR EL FLETE?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-ganado">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-mail-forward"></span><strong>¿Seguro que desea continuar con la compra?</strong></div>
                <div class="mb-content">
                    <p>¿Desea continuar con la compra, la siguiente etapa es: REGISTRO DE GANADO?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-evento_recepcion">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-mail-forward"></span><strong>¿Seguro que desea continuar con la compra?</strong></div>
                <div class="mb-content">
                    <p>¿Desea continuar con la compra, la siguiente etapa es: EVENTOS Y RECEPCION?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-concluir">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-mail-forward"></span><strong>¿Seguro que desea concluir esta compra?</strong></div>
                <div class="mb-content">
                    <p>¿Desea dar por concluido esta compra?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-eliminar">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-mail-forward"></span><strong>¿Seguro que desea eliminar esta compra?</strong></div>
                <div class="mb-content">
                    <p>¿Desea eliminar esta compra?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
        });
    </script>
    <script>
        function format(d) {
            var fechaProgramada;
            //console.log(d);
            if (d.FechaProgramada === null)
                fechaProgramada = "Sin dato";
            else {
                var dateSplit = d.FechaProgramada.split('-');
                var dia = dateSplit[2];
                dia = dia.split('T');
                dia = dia[0];
                var mes = dateSplit[1];
                var año = dateSplit[0];
                fechaProgramada = dia + '-' + mes + '-' + año;
            }

            var fechaTerminada;
            if (d.FechaTerminada === null)
                fechaTerminada = "Sin concluir";
            else {
                var dateSplit = d.FechaTerminada.split('-');
                var dia = dateSplit[2];
                dia = dia.split('T');
                dia = dia[0];
                var mes = dateSplit[1];
                var año = dateSplit[0];
                fechaTerminada = dia + '-' + mes + '-' + año;
            }


            return '<table class="table" cellpadding="1" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Fecha programada:</td>' +
                '<td>' + fechaProgramada + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Fecha concluida:</td>' +
                '<td>' + fechaTerminada + '</td>' +
                '</tr>' +
                /////
                '<tr>' +
                '<td>Ganado Pactado Macho:</td>' +
                '<td>' + d.GanadoPactadoMachos + '</td>' +
                '</tr>' +

                '<tr>' +
                '<td>Ganado Pactado Hembra:</td>' +
                '<td>' + d.GanadoPactadoHembras + '</td>' +
                '</tr>' +

                '<tr>' +
                '<td>Total Ganado Pactado:</td>' +
                '<td>' + d.GanadoPactadoTotal + '</td>' +
                '</tr>' +
                ////
                '</table>';
        }

        var tblIndexCompra1 = $("#tblIndexCompra").DataTable({
            "processing": true,
            "serverSide": true,
            "language": {
                "url": "/Content/assets/json/Spanish.json"
            },
            "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "Todos"]],
            "ajax": {
                "url": "/Admin/Compra/JsonIndex/",
                "method": "POST",
                "dataType": "json",
                "dataSrc" : function (json) {
                    
                    if(json.data === null)
                        return [];
                    else 
                        return json.data;
                }
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                    "width": "3%"
                },
                {
                    "data": "Folio"
                    ,"width": "7%"
                },
                {
                    "data": null,
                    "render": function (data, type, full) {
                        var fecha = full["FechaProgramada"];
                        console.log(fecha);

                        if (fecha === null)
                            fecha = "Sin concluir";
                        else {
                            var dateSplit = fecha.split('/');
                            console.log(dateSplit);
                            var dia = dateSplit[2];
                            dia = dia.split(' ');
                            dia = dia[0];
                            var mes = dateSplit[1];
                            var año = dateSplit[0];
                            fecha = dia + '-' + mes + '-' + año;
                        }
                        return fecha;
                    }
                    ,"width": "7%"
                },
                {
                    "data": null,
                    "render": function (data, type, full) {
                        var hora = full["FechaProgramada"];
                        if (hora === null)
                            hora = "Sin concluir";
                        else {
                            var dateSplit = hora.split('/');
                            var dia = dateSplit[2];
                            dia = dia.split(' ');
                            dia = dia[1];
                            var S = dia.split(':');
                            var H = S[0];
                            var M = S[1];
                            hora = H + ':' + M + ' Horas';
                        }
                        return hora;
                    }
                    ,"width": "7%"
                },
                { "data": "NombreProveedor" },
                { "data": "LugarDestino" },
                { "data": "GanadoCompradoMachos" ,"width": "5%" },
                {
                    "data": "TotalKilosGanadoMachos",  //kilosMachos
                    "render": $.fn.dataTable.render.number(',', '.', 0, '', ' kg.')
                    ,"width": "5%"
                },
                { "data": "GanadoCompradoHembras" },
                {
                    "data": "TotalKilosGanadoHembras",  //kilosHembras
                    "render": $.fn.dataTable.render.number(',', '.', 0, '', ' kg.')
                    ,"width": "5%"
                },
                { "data": "GanadoCompradoTotal", "width": "5%" },
                {
                    "data": "GanadoKilosTotal",
                    "render": $.fn.dataTable.render.number(',', '.', 0, '', ' kg.'),
                },
                {
                    "data": "TotalCobros",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                },
                {
                    "data": "TotalPagos",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                },
                {
                    "data": "Pendiente",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '$'),
                },
                {
                    "data": "MermaPromedio",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '', '%'),
                },
                {
                    "data": null,
                    "render": function (data, type, full) {
                        return "<label class = 'label label-default' style='background: " + full["ClassEstatus"] + "'>" + full["Estatus"] + "</label>";
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, full) {
                        var botones = "<div class='hidden-md hidden-sm'>";
                        var status_actual = full["Estatus"];
                        var agendado = "Programado";
                        var en_camino = "En camino";
                        var ganado = "Recepción";
                        var eventos_recepcion = "Pagos"
                        var concluida = "Concluida";

                        var igual = status_actual.localeCompare(agendado);
                        if (igual == 0) {
                            botones = botones + "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm btn-primary details' title='Detalles'  data-placement='top' data-original-title='Detalles'><i class='fa fa-eye'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-blue tooltips btn-sm enviar' title='Enviar'  data-placement='top' data-original-title='Enviar'><i class='fa fa-truck'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm transacciones' title='Transacciones ($)'  data-placement='top' data-original-title='Transaciones'><i class='fa fa-money'></i></a></br>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm documentos' title='Documentos'  data-placement='top' data-original-title='Documentos'><i class='fa fa-archive'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-yellow tooltips btn-sm edit' title='Editar'  data-placement='top' data-original-title='Editar'><i class='fa fa-clock-o'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-danger tooltips btn-sm eliminar' data-placement='top' data-original-title='Eliminar' title='Eliminar'  data-hrefa='/Admin/Compra/DEL_Compra/' ><i class='fa fa-trash-o'></i></a>" +
                                "</div>" +
                                "<div class='visible-xs visible-sm visible-md hidden-lg'>" +
                                "<div class='btn-group'>" +
                                "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'" +
                                "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                                "</a>" +
                                "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                                "<li>" +
                                "<a class='details' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-eye'></i> Detalles" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='enviar' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-truck'></i> Enviar" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='transacciones' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-money'></i> Transacciones ($)" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='documentos' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-archive'></i> Documentos" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='edit' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-clock-o'></i> Editar" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='eliminar' role='menuitem' tabindex='-1' data-id='" + full["id_compra"] + "' data-hrefa='/Admin/Compra/DEL_Compra/'>" +
                                "<i class='fa fa-trash-o'></i> Eliminar" +
                                "</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>";
                            return botones;
                        }
                        igual = status_actual.localeCompare(en_camino);
                        if (igual == 0) {
                            botones = botones + "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm btn-primary details' title='Detalles'  data-placement='top' data-original-title='Detalles'><i class='fa fa-eye'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-blue   tooltips btn-sm ganado' title='Ganado'  data-placement='top' data-original-title='Ganado'><i class='icon-ocampo-head'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm transacciones' title='Transacciones ($)'  data-placement='top' data-original-title='Transaciones'><i class='fa fa-money'></i></a></br>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm documentos' title='Documentos'  data-placement='top' data-original-title='Documentos'><i class='fa fa-archive'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-danger tooltips btn-sm eliminar' data-placement='top' data-original-title='Eliminar' title='Eliminar' data-hrefa='/Admin/Compra/DEL_Compra/'><i class='fa fa-trash-o'></i></a>" +
                                "</div>" +
                                "<div class='visible-xs visible-sm visible-md hidden-lg'>" +
                                "<div class='btn-group'>" +
                                "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'" +
                                "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                                "</a>" +
                                "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                                "<li>" +
                                "<a class='details' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-eye'></i> Detalles" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='ganado' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='icon-ocampo-head'></i>Ganado" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='transacciones' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-money'></i> Transacciones ($)" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='documentos' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-archive'></i> Documentos" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='eliminar' role='menuitem' tabindex='-1' data-id='" + full["id_compra"] + "' data-hrefa='/Admin/Compra/DEL_Compra/'>" +
                                "<i class='fa fa-trash-o'></i> Eliminar" +
                                "</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>";
                            return botones;
                        }
                        igual = status_actual.localeCompare(ganado);
                        if (igual == 0) {
                            botones = botones + "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm btn-primary details' title='Detalles'  data-placement='top' data-original-title='Detalles'><i class='fa fa-eye'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-blue   tooltips btn-sm eventos_recepcion' title='Eventos y recepción'  data-placement='top' data-original-title='Eventos y recepción'><i class='fa fa-book'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm transacciones' title='Transacciones ($)'  data-placement='top' data-original-title='Transaciones'><i class='fa fa-money'></i></a></br>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm documentos' title='Documentos'  data-placement='top' data-original-title='Documentos'><i class='fa fa-archive'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-yellow tooltips btn-sm edit' title='Editar'  data-placement='top' data-original-title='Editar'><i class='icon-ocampo-head'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-danger tooltips btn-sm eliminar' data-placement='top' data-original-title='Eliminar' title='Eliminar' data-hrefa='/Admin/Compra/DEL_Compra/'><i class='fa fa-trash-o'></i></a>" +
                                "</div>" +
                                "<div class='visible-xs visible-sm visible-md hidden-lg'>" +
                                "<div class='btn-group'>" +
                                "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'" +
                                "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                                "</a>" +
                                "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                                "<li>" +
                                "<a class='details' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-eye'></i> Detalles" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='eventos_recepcion' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-book'></i> Eventos y recepción" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='transacciones' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-money'></i> Transacciones ($)" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='documentos' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-archive'></i> Documentos" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='edit' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='icon-ocampo-head'></i> Editar" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='eliminar' role='menuitem' tabindex='-1' data-id='" + full["id_compra"] + "' data-hrefa='/Admin/Compra/DEL_Compra/'>" +
                                "<i class='fa fa-trash-o'></i> Eliminar" +
                                "</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>";

                        }
                        igual = status_actual.localeCompare(eventos_recepcion);
                        if (igual == 0) {
                            botones = botones + "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm btn-primary details' title='Detalles'  data-placement='top' data-original-title='Detalles'><i class='fa fa-eye'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-blue   tooltips btn-sm concluir' title='Concluir'  data-placement='top' data-original-title='Concluir'><i class='fa fa-check'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm transacciones' title='Transacciones ($)'  data-placement='top' data-original-title='Transaciones'><i class='fa fa-money'></i></a></br>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm documentos' title='Documentos'  data-placement='top' data-original-title='Documentos'><i class='fa fa-archive'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-yellow tooltips btn-sm edit' title='Editar'  data-placement='top' data-original-title='Editar'><i class='fa fa-book'></i></a>" +
                                "<a data-id='" + full["id_compra"] + "' class='btn btn-danger tooltips btn-sm eliminar' data-placement='top' data-original-title='Eliminar' title='Eliminar' data-hrefa='/Admin/Compra/DEL_Compra/'><i class='fa fa-trash-o'></i></a>" +
                                "</div>" +
                                "<div class='visible-xs visible-sm visible-md hidden-lg'>" +
                                "<div class='btn-group'>" +
                                "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'" +
                                "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                                "</a>" +
                                "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                                "<li>" +
                                "<a class='details' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-eye'></i> Detalles" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='concluir' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-check'></i> Concluir" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='transacciones' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-money'></i> Transacciones ($)" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='transacciones' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-archive'></i> Documentos" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='edit' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-book'></i> Editar" +
                                "</a>" +
                                "</li>" +
                                "<li>" +
                                "<a class='eliminar' role='menuitem' tabindex='-1' data-id='" + full["id_compra"] + "' data-hrefa='/Admin/Compra/DEL_Compra/'>" +
                                "<i class='fa fa-trash-o'></i> Eliminar" +
                                "</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>";
                        }
                        igual = status_actual.localeCompare(concluida);
                        if (igual == 0) {
                            botones = botones + "<a data-id='" + full["id_compra"] + "' class='btn tooltips btn-sm btn-primary details' title='Detalles'  data-placement='top' data-original-title='Detalles'><i class='fa fa-eye'></i></a>" +
                                "</div>" +
                                "<div class='visible-xs visible-sm visible-md hidden-lg'>" +
                                "<div class='btn-group'>" +
                                "<a class='btn btn-danger dropdown-toggle btn-sm' data-toggle='dropdown' href='#'" +
                                "<i class='fa fa-cog'></i> <span class='caret'></span>" +
                                "</a>" +
                                "<ul role='menu' class='dropdown-menu pull-right dropdown-dark'>" +
                                "<li>" +
                                "<a class='details' data-id='" + full["id_compra"] + "'  role='menuitem' tabindex='-1'>" +
                                "<i class='fa fa-eye'></i> Detalles" +
                                "</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>";
                        }
                        return botones;
                    },
                    "width": "40%"
                }
            ],
            "drawCallback": function (settings) {
                $(".edit").on("click", function () {
                    //edito el estado actual de la compra
                    var IDCompra = $(this).data("id")
                    window.location.href = '/Admin/Compra/Edit?IDCompra=' + IDCompra;
                });
                $(".transacciones").on("click", function () {
                    //para agregar nuevos servicios o productos y/o para registrar los pagos o cobros realizados
                    var IDCompra = $(this).data("id")
                    window.location.href = '/Admin/Compra/Transacciones?IDCompra=' + IDCompra;
                });
                $(".enviar").on("click", function () {
                    var id = $(this).attr('data-id');
                    var box = $("#mb-enviar");
                    box.addClass("open");
                    box.find(".mb-control-yes").on("click", function () {
                        box.removeClass("open");
                        window.location.href = '/Admin/Compra/CambiarEstatus?IDCompra=' + id;
                    });

                });
                $(".ganado").on("click", function () {
                    var id = $(this).attr('data-id');
                    var box = $("#mb-ganado");
                    box.addClass("open");
                    box.find(".mb-control-yes").on("click", function () {
                        box.removeClass("open");
                        window.location.href = '/Admin/Compra/CambiarEstatus?IDCompra=' + id;
                    });

                });
                $(".eventos_recepcion").on("click", function () {
                    var id = $(this).attr('data-id');
                    var box = $("#mb-evento_recepcion");
                    box.addClass("open");
                    box.find(".mb-control-yes").on("click", function () {
                        box.removeClass("open");
                        window.location.href = '/Admin/Compra/CambiarEstatus?IDCompra=' + id;
                    });
                });
                $(".concluir").on("click", function () {
                    var id = $(this).attr('data-id');
                    var box = $("#mb-concluir");
                    box.addClass("open");
                    box.find(".mb-control-yes").on("click", function () {
                        box.removeClass("open");
                        window.location.href = '/Admin/Compra/CambiarEstatus?IDCompra=' + id;
                    });
                });
                $(".details").on("click", function () {
                    var IDCompra = $(this).data("id")
                    window.location.href = '/Admin/Compra/Details?IDCompra=' + IDCompra;
                });
                $(".documentos").on("click", function () {
                    //edito el estado actual de la compra
                    var IDCompra = $(this).data("id")
                    window.location.href = '/Admin/Compra/DocumentosCompra?Id_1=' + IDCompra;
                });
                $(".eliminar").on("click", function () {
                    //Elimino la compra seleccionada

                    var url = $(this).attr('data-hrefa');
                    var IDCompra = $(this).attr('data-id');
                    var box = $("#mb-eliminar");
                    box.addClass("open");
                    box.find(".mb-control-yes").on("click", function () {
                        box.removeClass("open");
                        $.ajax({
                            url: url,
                            data: { IDCompra: IDCompra },
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                window.location.href = '/Admin/Compra/Index';
                            },
                            error: function (result) {
                                window.location.href = '/Admin/Compra/Index';
                            }
                        });
                    });

                });

            },
            "order": [[1, 'desc']]
        });



        // Add event listener for opening and closing details
        $('#tblIndexCompra tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = tblIndexCompra1.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

    </script>

}