@model CreativaSL.Web.Ganados.Models.CompraModels

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lista de precios para el proveedor: @Model.Proveedor.NombreRazonSocial</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table id="" class="table datatable">
                <thead>
                    <tr>
                        <th>Género</th>
                        <th>Peso Mínimo</th>
                        <th>Peso Máximo</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var RangoPrecio in Model.ListaRangoPrecio)
                {
                    <tr>
                        <td>
                            @if (RangoPrecio.EsMacho)
                            {
                                @Html.Label("EsMacho", "Macho")
                            }
                            else
                            {
                                @Html.Label("EsMacho", "Hembra")
                            }
                        </td>
                        <td>@RangoPrecio.PesoMinimo.ToString("0.00") Kg.</td>
                        <td>@RangoPrecio.PesoMaximo.ToString("0.00") Kg.</td>
                        <td>$@RangoPrecio.Precio.ToString("0.00")</td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div> 
    <div class="form-group modal-footer">
        <div class="controls">
            <button type="button" class="btn btn-secondary red" data-dismiss="modal">Salir</button>
        </div>
    </div>
</div>