@model CreativaSL.Web.Ganados.Models.CompraModels

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pago</h4>
    </div>
    <div class="modal-body">
        <!--INICIA CUERPO MODAL-->
        @using (Html.BeginForm("Edit", "CatCliente", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
        {

            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="numArete">Tipo del pago:</label>
                    <div class="controls">
                        <div class="col-md-10 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control">
                                    <option value="MACHO" selected>Pago a proveedor</option>
                                    <option value="HEMBRA">Autoridades</option>
                                    <option value="HEMBRA">Combustible</option>
                                    <option value="HEMBRA">Mecánicos y refacciones</option>
                                </select>
                            </div>
                            @Html.ValidationMessageFor(model => model.Ganado.numArete)
                            <span class="help-block">Tipo o clásificación del pago.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="numArete">Forma de pago:</label>
                    <div class="controls">
                        <div class="col-md-10 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control">
                                    <option value="1" selected>Efectivo</option>
                                    <option value="2">Trans. bancaria</option>
                                    <option value="3">Depósito</option>
                                    <option value="4">Otros</option>
                                </select>
                            </div>
                            @Html.ValidationMessageFor(model => model.Ganado.numArete)
                            <span class="help-block">Forma de pago.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-3 control-label" for="DiferenciaPeso">Banco</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control">
                                    <option value="MACHO" selected>Santander</option>
                                    <option value="HEMBRA">BBVA</option>
                                    <option value="HEMBRA">Banamex</option>
                                    <option value="HEMBRA">...</option>
                                </select>
                            </div>
                            @Html.ValidationMessageFor(model => model.CompraGanado.PesoInicial)
                            <span class="help-block">Banco.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="col-md-3 control-label" for="selectGenero">Núm. Cuenta</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.Sucursal.MermaPredeterminada, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Sucursal.MermaPredeterminada)
                            <span class="help-block">Núm. cuenta</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="col-md-3 control-label" for="selectGenero">Clabe</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.CompraGanado.Merma, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.CompraGanado.Merma)
                            <span class="help-block">Clabe interbancaria.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="numArete">Cantidad:</label>
                    <div class="controls">
                        <div class="col-md-10 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Ganado.numArete)
                            <span class="help-block">Cantidad.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="numArete">Fecha de pago:</label>
                    <div class="controls">
                        <div class="col-md-10 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control", @type = "date" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Ganado.numArete)
                            <span class="help-block">Forma de pago.</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-1 control-label" for="PesoInicial">Nota</label>
                    <div class="controls">
                        <div class="col-md-11 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextArea("Description", null, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.CompraGanado.PesoInicial)
                            <span class="help-block">Nota u observación.</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group modal-footer">
                <div class="controls">
                    <button type="submit" class="btn btn-success green">Registrar pago</button>
                    <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        }
        <!--TERMINA CUERPO MODAL-->
    </div>
</div>
