@model CreativaSL.Web.Ganados.Models.CompraModels

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pago</h4>
    </div>
    <div class="modal-body">
        <!--INICIA CUERPO MODAL-->
        @using (Html.BeginForm("SavePago", "Compra", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
    {

        <div class="form-group">
            <div class="col-md-6">
                <label class="col-md-2 control-label" >Tipo del pago:</label>
                <div class="controls">
                    <div class="col-md-10 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.DropDownListFor(model => model.TipoClasificacion.IDTipoClasificacionGasto, new SelectList(Model.ListaTipoClasificacion, "IDTipoClasificacionGasto", "Descripcion"), new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.TipoClasificacion.IDTipoClasificacionGasto)
                        <span class="help-block">Tipo o clásificación del pago.</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-md-2 control-label">Forma de pago:</label>
                <div class="controls">
                    <div class="col-md-10 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.DropDownListFor(model => model.FormaPago.Clave, new SelectList(Model.ListaFormasPagos, "Clave", "Descripcion"), new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FormaPago.Clave)
                        <span class="help-block">Forma de pago.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-3 control-label">Banco</label>
                <div class="controls">
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            <select class="form-control">
                                <option value="1" selected>Santander</option>
                                <option value="2">BBVA</option>
                                <option value="3">Banamex</option>
                                <option value="4">...</option>
                            </select>
                        </div>
                        @Html.ValidationMessageFor(model => model.CompraGanado.PesoInicial)
                        <span class="help-block">Banco.</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-3 control-label">Núm. Cuenta</label>
                <div class="controls">
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.Sucursal.MermaPredeterminada, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Sucursal.MermaPredeterminada)
                        <span class="help-block">Núm. cuenta</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-3 control-label">Clabe</label>
                <div class="controls">
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.CompraGanado.Merma, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CompraGanado.Merma)
                        <span class="help-block">Clabe interbancaria.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label class="col-md-2 control-label" >Cantidad:</label>
                <div class="controls">
                    <div class="col-md-10 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Ganado.numArete)
                        <span class="help-block">Cantidad.</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-md-2 control-label" >Fecha de pago:</label>
                <div class="controls">
                    <div class="col-md-10 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control", @type = "date" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Ganado.numArete)
                        <span class="help-block">Forma de pago.</span>
                    </div>
                </div>
            </div>
        </div>

   
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-1 control-label" >Nota</label>
                <div class="controls">
                    <div class="col-md-11 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextArea("Description", null, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CompraGanado.PesoInicial)
                        <span class="help-block">Nota u observación.</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group modal-footer">
            <div class="controls">
                <button type="button" class="btn btn-success green">Registrar pago</button>
                <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

}
        <!--TERMINA CUERPO MODAL-->
    </div>
</div>
