@model CreativaSL.Web.Ganados.Models.EventoEnvioModels
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Evento</h4>
    </div>
    <div class="modal-body">
        @{ Html.EnableClientValidation(false); }
        @using (Html.BeginForm("AC_Evento", "Compra", FormMethod.Post, new { @class = "form-horizontal", id = "frmEvento", autocomplete = "off" }))
        {
            <div class="panel panel-default tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                    <li role="presentation"><a href="#ganado" aria-controls="ganado" role="tab" data-toggle="tab">Ganado</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <br />
                        <!--INICIA CUERPO MODAL-->
                        @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                        <div class="field_error validation_summary_evento"></div>
                        @Html.HiddenFor(model => model.IDEnvio)
                        @Html.HiddenFor(model => model.IDEvento)
                        @Html.HiddenFor(model => model.ImagenBase64)
                        @Html.HiddenFor(model => model.ImagenMostrar)
                        @Html.HiddenFor(model => model.ExtensionImagenBase64)

                        <div class="form-group">
                            <div class="col-md-6 controlError">
                                <div class="col-md-12">
                                    <label class="col-md-2 control-label">Tipo de evento</label>
                                    <div class="controls">
                                        <div class="col-md-10 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.DropDownListFor(model => model.IDTipoEvento, new SelectList(Model.ListaEventos, "IDTipoEventoEnvio", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                                            </div>
                                            <span class="help-block">Tipo de evento.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 controlError">
                                <div class="form-group">
                                    <div class="col-md-12 controlError">
                                        <label class="col-md-2 control-label">Lugar</label>
                                        <div class="controls">
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.Lugar, new { @class = "form-control" })
                                                </div>
                                                <span class="help-block">Lugar del evento.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 controlError">
                                <label class="col-md-2 control-label">Fecha</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.FechaDeteccion, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
                                        </div>
                                        <span class="help-block">Fecha del evento.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group controlError">
                                    <div class="col-md-12">
                                        <label class="col-md-2 control-label">Hora</label>
                                        <div class="controls">
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.HoraDetecccion, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                                <span class="help-block">Hora del evento.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controlError col-md-6">
                                <label class="col-md-2 control-label">Nota</label>
                                <div class="col-md-10 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-edit"></span></span>
                                        @Html.TextAreaFor(model => model.Observacion, new { id = "Observacion", name = "Observacion", @class = "form-control", @style = "resize:none", @maxlength = "300", @rows = "10" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Observacion)
                                    <span class="help-block">Nota del evento.</span>
                                </div>
                            </div>
                            <div class="controlError col-md-6">
                                <label class="col-md-2 control-label">Imagen</label>
                                <div class="col-md-10 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-camera"></span></span>
                                        @Html.TextBoxFor(model => model.HttpImagen, new { id = "HttpImagen", name = "HttpImagen[]", @type = "file", @class = "file form-control", @multiple = "multiple", data_show_upload = "false", data_show_caption = "true" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.HttpImagen)
                                    <span class="help-block">Ingrese por lo menos 1 imagen.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="ganado">
                        <br />
                        @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                        <div class="field_error validation_summary_evento"></div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="btn-group">
                                    <center>
                                        <button type="button" id="enviar" class="btn btn-default"><i class="fa fa-forward"></i></button>
                                        <button type="button" id="regresar" class="btn btn-default"><i class="fa fa-backward"></i></button>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Ganado sin evento</h3>
                                <div class="table-responsive">
                                    <table id="tblGanadoCargado" class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Núm. arete</th>
                                                <th>Genero</th>
                                                <th>Peso</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3>Ganado con evento</h3>
                                <div class="table-responsive">
                                    <table id="tblGanadoSufrioEvento" class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Núm. arete</th>
                                                <th>Genero</th>
                                                <th>Peso</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group modal-footer">
                <div class="controls">
                    <button type="submit" class="btn btn-success green">Guardar ganado</button>
                    <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        }
    </div>
</div> 

