@model CreativaSL.Web.Ganados.Models.CompraModels





    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Ganado</h4>
        </div>
        <div class="modal-body">

        @using (Html.BeginForm("Edit", "CatCliente", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
        {
        <div class="panel panel-default tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                <li role="presentation"><a href="#estado" aria-controls="estado" role="tab" data-toggle="tab">Estado</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <br />
                        <!--INICIA CUERPO MODAL-->
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="numArete">Número de arete</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Ganado.numArete, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Ganado.numArete)
                                        <span class="help-block">Número de arete.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="selectGenero">Género</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <select class="form-control">
                                                <option value="MACHO" selected>MACHO</option>
                                                <option value="HEMBRA">HEMBRA</option>
                                            </select>
                                        </div>
                                        <span class="help-block">Seleccione el género del ganado.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="PesoInicial">Peso inicial</label>
                                <div class="controls">
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PesoInicial, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.PesoInicial)
                                        <span class="help-block">Ingrese el peso inicial.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="controls">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <label class="check">@Html.CheckBoxFor(modal => modal.Ganado.Repeso, new { @class = "" }) ¿Repeso?</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="Esconder">
                                    <label class="col-md-3 control-label" for="PesoFinal">Peso final</label>
                                    <div class="controls">
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.CompraGanado.PesoFinal, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.CompraGanado.PesoFinal)
                                            <span class="help-block">Ingrese el peso final.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group Esconder">
                            <div class="col-md-4">
                                <label class="col-md-3 control-label" for="DiferenciaPeso">Diferencia de peso</label>
                                <div class="controls">
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.DiferenciaPeso, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.PesoInicial)
                                        <span class="help-block">Ingrese el peso inicial.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="col-md-3 control-label" for="selectGenero">Merma permitida</label>
                                <div class="controls">
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Sucursal.MermaPredeterminada, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Sucursal.MermaPredeterminada)
                                        <span class="help-block">Merma permitida.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="col-md-3 control-label" for="selectGenero">Merma generada</label>
                                <div class="controls">
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.Merma, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.Merma)
                                        <span class="help-block">Merma obtenida.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="DiferenciaPeso">Peso pagado</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PesoPagado, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.PesoPagado)
                                        <span class="help-block">Ingrese el peso inicial.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="selectGenero">Peso sugerido</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PesoSugerido, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.PesoSugerido)
                                        <span class="help-block">Merma obtenida.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="DiferenciaPeso">Precio por kilo</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.PrecioKilo)
                                        <span class="help-block">Precio por kilo.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="selectGenero">Precio sugerido</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PrecioSugeridoXkilo, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.PrecioSugeridoXkilo)
                                        <span class="help-block">Precio sugerido por kilo.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="DiferenciaPeso">Total pagado</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.TotalPagado)
                                        <span class="help-block">Precio por kilo.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-2 control-label" for="selectGenero">Total sugerido</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PrecioSugeridoXkilo, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.TotalPagado)
                                        <span class="help-block">Precio sugerido por kilo.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TERMINA CUERPO MODAL-->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="estado">
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-md-1 control-label" for="numArete">Estado</label>
                                <div class="controls">
                                    <div class="col-md-11 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <select class="form-control">
                                                <option value="MACHO" selected>SALUDABLE</option>
                                                <option value="HEMBRA">ENFERMO</option>
                                                <option value="HEMBRA">MUERTO</option>
                                                <option value="HEMBRA">...</option>
                                            </select>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Ganado.numArete)
                                        <span class="help-block">Estado del ganado.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <label class="col-md-2 control-label" for="numArete">Lugar</label>
                                <div class="controls">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.Proveedor.NombreRazonSocial, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Ganado.numArete)
                                        <span class="help-block">Lugar de la detección.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-3 control-label" for="numArete">Fecha</label>
                                <div class="controls">
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control", @type = "date" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Ganado.numArete)
                                        <span class="help-block">Fecha de la detección.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label" for="numArete">Hora</label>
                                <div class="controls">
                                    <div class="col-md-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.CompraGanado.PrecioKilo, new { @class = "form-control", @type = "time" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Ganado.numArete)
                                        <span class="help-block">Hora de la detección.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-md-1 control-label" for="PesoInicial">Nota</label>
                                <div class="controls">
                                    <div class="col-md-11 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextArea("Description", null, new { @class = "form-control texArea", @rows="10" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CompraGanado.PesoInicial)
                                        <span class="help-block">Nota u observación.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="form-group modal-footer">
            <div class="controls">
                <button type="submit" class="btn btn-success green">Registrar ganado</button>
                <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

        }

















        </div>
    </div> 