@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "Programar compra";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
{
    <!--FILEINPUT-->
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet" type="text/css" />
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <input type="hidden" value="" id="id_compra" />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#proveedor" aria-controls="proveedor" role="tab" data-toggle="tab">Proveedor</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="proveedor">
                    <div class="col-md-12">
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("ProgramarCompra", "Compra", FormMethod.Post, new { id = "frmProveedor", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.IDCompra);
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Información</strong> Compra </h3>
                                    <ul class="panel-controls"></ul>
                                </div>
                                <div class="panel-body">
                                    @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                                    <div id="validation_summary" class="field_error "></div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-2 control-label">Sucursal</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-building-o"></span></span>
                                                        @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.ListaSucursales, "IDSucursal", "NombreSucursal"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDSucursal)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-2 control-label">Fecha programada</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        @Html.TextBoxFor(model => model.FechaHoraProgramada, "{0:dd/MM/yyyy}", new { id = "FechaProgramada", autocomplete = "off", @class = "form-control datepicker", @readonly = "readonly" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.FechaHoraProgramada)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-2 control-label">Nombre del proveedor</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.DropDownListFor(model => model.IDProveedor, new SelectList(Model.ListaProveedores, "IDProveedor", "NombreRazonSocial"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDProveedor)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-2 control-label">Lugares del proveedor</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.DropDownListFor(model => model.IDPLugarProveedor, new SelectList(Model.ListaLugaresProveedor, "id_lugar", "descripcion"), new { @class = "form-control select classSelect", data_live_search = "true", data_style = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.IDPLugarProveedor)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-2 control-label">Ganado pactado machos</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.TextBoxFor(model => model.GanadosPactadoMachos, new { id = "GanadoPactadoMachos", @class = "form-control", placeholder = "Ingrese una cantidad de ganado Machos" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.GanadosPactadoMachos)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="controlError col-md-6">
                                            <div class="controlError">
                                                <label class="col-md-2 control-label">Ganado pactado hembras</label>
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        @Html.TextBoxFor(model => model.GanadosPactadoHembras, new { id = "GanadoPactadoHembras", @class = "form-control", placeholder = "Ingrese una cantidad de ganado Hembras" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.GanadosPactadoHembras)
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <input type="submit" value="Guardar y continuar" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Regresar</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
        <!--TERMINA TABS-->
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/compra.js")"></script>

    <script>
        jQuery(document).ready(function () {
            Mensaje(message, typemessage);
            Compra.init(1);
        });
    </script>
}