@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "RecepcionCompra";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
}
@section css
{
     <!--FILEINPUT-->
<link href="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.css")" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css">
<link href="@Url.Content("~/Content/js/plugins/uploadFiles/theme.css")" rel="stylesheet" />
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            @Html.HiddenFor(model => model.IDCompra)
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a class="active" href="#eventos" aria-controls="eventos" role="tab" data-toggle="tab">Eventos</a></li>
                <li role="presentation"><a class="pestaña" href="#recepcion" aria-controls="recepcion" role="tab" data-toggle="tab">Recepción</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="eventos" class="tab-pane active" role="tabpanel">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Eventos de la compra</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="page-content-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddEvento" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo evento</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                                                </ul>

                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table id="tblEventos" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Tipo Evento</th>
                                                                <th>Cantidad</th>
                                                                <th>Lugar</th>
                                                                <th>Fecha</th>
                                                                <th>Hora</th>
                                                                <th>Acción</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recepcion" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">
                        @{ Html.EnableClientValidation(false); }
                        @using (Html.BeginForm("Recepcion", "Compra", FormMethod.Post, new { id = "frmRecepcionCompra", @class = "form-horizontal", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Recepción de la compra</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            @Html.ValidationSummary(false, "Cheque los siguientes problemas:")
                            <div id="validation_summary_recepcionOrigen" class="field_error "></div><br />
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label">Fecha de llegada</label>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.RecepcionOrigen.FechaLlegada, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = "readonly"} )
                                            </div>
                                            @Html.ValidationMessageFor(model => model.RecepcionOrigen.FechaLlegada)
                                            <span class="help-block">Fecha de llegada  de la unidad.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-2 control-label">Hora de llegada </label>
                                        <div class="col-md-10 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.RecepcionOrigen.HoraLlegada, new { @class = "form-control Hora24hrs" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.RecepcionOrigen.HoraLlegada)
                                            <span class="help-block">Hora de llegada de la unidad.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-2 control-label">Kilómetraje final </label>
                                        <div class="col-md-10 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.RecepcionOrigen.KilometrajeFinal, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.RecepcionOrigen.KilometrajeFinal)
                                            <span class="help-block">Kilómetraje final de la unidad.</span>
                                        </div>
                                    </div>
                                </div>
                       
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-1 control-label">Observación</label>
                                        <div class="col-md-11 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextAreaFor(model => model.RecepcionOrigen.Observacion, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.RecepcionOrigen.Observacion)
                                            <span class="help-block">Observación.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                                <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>
                }
                    </div>
                </div>
            </div>


        </div>
        <!--TERMINA TABS-->
    </div>
<div id="Modal" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="ContenidoModal">

    </div>
</div>
<div class="message-box animated fadeIn" data-sound="alert" id="mb-delete-evento">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-mail-forward"></span><strong>¿Seguro que desea eliminar el evento?</strong></div>
            <div class="mb-content">
                <p>¿Desea continuar?</p>
                <p>Presione "sí" si está seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
     <!--FILEINPUT-->
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/fileinput.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/es.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/uploadFiles/explorer-fa/theme.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="@Url.Content("~/Content/js/plugins/uploadFiles/theme.js")" type="text/javascript"></script>
    <!--FUNCIONES DE COMPRA JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/compraRecepcion.js")"></script>
    <!--TIMEPICKER-->
    <script src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-timepicker.min.js")"></script>

    <script>

        jQuery(document).ready(function () {

            Mensaje(message, typemessage);
            CompraRecepcion.init();
        });
    </script>
}