@model CreativaSL.Web.Ganados.Models.CompraModels
@{
    ViewBag.Title = "RecepcionCompra";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
}
@section css
{
    <!--CSS GENERAL-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/compra.css")" />
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <!--INICIA TABS-->
        <div class="panel panel-default tabs">

            <input type="hidden" value="" id="id_compra" />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a class="pestaña" href="#ganados" aria-controls="ganados" role="tab" data-toggle="tab">Ganado</a></li>
                <li role="presentation"><a class="pestaña" href="#eventos" aria-controls="eventos" role="tab" data-toggle="tab">Eventos</a></li>
                <li role="presentation"><a class="pestaña" href="#recepcion" aria-controls="recepcion" role="tab" data-toggle="tab">Recepción</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="ganados" role="tabpanel" class="tab-pane active">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información del <strong>Ganado</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label">Merma sugerida</label>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.Sucursal.MermaPredeterminada, new { id = "MermaPredeterminada", @class = "form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Sucursal.MermaPredeterminada)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label">Merma promedio</label>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.MermaPromedio, new { id = "MermaPromedio", @class = "form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.MermaPromedio)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label">Total de la compra</label>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.MontoTotal, new { id = "MontoTotal", @class = "form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.MontoTotal)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label">Cantidad de ganado total</label>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.GanadosCompradoTotal, new { id = "GanadosCompradoTotal", @class = "form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.GanadosCompradoTotal)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label">Cantidad de ganado machos</label>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.GanadosCompradoMachos, new { id = "GanadosCompradoMachos", @class = "form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.GanadosCompradoMachos)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-3 control-label">Cantidad de ganado hembras</label>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.GanadosCompradoHembras, new { id = "GanadosCompradoHembras", @class = "form-control", disabled = "disabled" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.GanadosCompradoHembras)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="page-content-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <div class="panel-controls">
                                                    <button id="btnAddGanado" data-id="0" class="btn btn-primary btn-lg">
                                                        <i class="fa fa-plus"></i> Agregar nuevo ganado
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table id="GanadoXCompraGanado" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Número de arete</th>
                                                                <th>Género</th>
                                                                <th>Peso inicial (kg.)</th>
                                                                <th>Peso final - Repeso (kg.)</th>
                                                                <th>Diferencia de peso(kg.)</th>
                                                                <th>Merma obtenida (%)</th>
                                                                <th>Precio por kilo ($)</th>
                                                                <th>Peso pagado ($)</th>
                                                                <th>Total ($)</th>
                                                                <th>Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="eventos" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de <strong>Eventos durante el trayecto</strong></h3>
                                <ul class="panel-controls"></ul>
                            </div>

                            <div class="page-content-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- START DEFAULT DATATABLE -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                                <ul class="panel-controls">
                                                    <li><a id="btnAddEvento" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo movimiento</a></li>
                                                    <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                                    <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                                                </ul>

                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table datatable">
                                                        <thead>
                                                            <tr>
                                                                <th>Lugar</th>
                                                                <th>Fecha</th>
                                                                <th>Hora</th>
                                                                <th>Descripción</th>
                                                                <th>Acción</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DEFAULT DATATABLE -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recepcion" class="tab-pane" role="tabpanel">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Recepcion", "Compra", FormMethod.Post, new { id = "frmRecepcionCompra", @class = "form-horizontal", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Información de <strong>Recepción de la compra</strong></h3>
                                    <ul class="panel-controls"></ul>
                                </div>

                                <div class="panel-body">

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Fecha de llegada</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.FechaHoraProgramada, new { id = "MermaSugerida", @class = "form-control", @type = "date" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                                <span class="help-block">Fecha de llegada  de la unidad.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Hora de llegada </label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.FechaHoraProgramada, new { id = "MermaPromedio", @class = "form-control", @type = "time" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MermaPromedio)
                                                <span class="help-block">Hora de llegada de la unidad.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Recibido por:</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.Sucursal.NombreSucursal, new { id = "MermaSugerida", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                                <span class="help-block">Escriba la persona quien recibio la mercancia.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Hora de descarga</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MermaPromedio, new { id = "MermaPromedio", @class = "form-control timepicker" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MermaPromedio)
                                                <span class="help-block">Hora de descarga de la unidad.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Kilos recibidos</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MermaPromedio, new { id = "MermaSugerida", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                                <span class="help-block">Kilos recibidos de la compra.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-2 control-label">Ganados recibidos</label>
                                            <div class="col-md-10 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextBoxFor(model => model.MermaPromedio, new { id = "MermaPromedio", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MermaPromedio)
                                                <span class="help-block">Ganados recibidos de la compra.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="col-md-1 control-label">Observación</label>
                                            <div class="col-md-11 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.TextAreaFor(model => model.MermaPromedio, new { id = "MermaSugerida", @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CertZoosanitario)
                                                <span class="help-block">Kilos recibidos de la compra.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer">
                                    <input type="submit" value="Finalizar compra" class="btn btn-primary pull-right">
                                    <a href="@Url.Action("Index", "Compra")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
           

        </div>
        <!--TERMINA TABS-->
        <!--INICIA SECCION DE MODALES-->
        <div id="ModalGanado" class="modal fade" role="dialog" style="display:none" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="ContenidoModalGanado">

            </div>
        </div>
        
        <!--TERMINA SECCION DE MODALES-->
    </div>
    <script>
        var message     = '@message';
        var typemessage = '@typemessage';
    </script>
}

@section script
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Content/js/validaciones/additionals.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>

    <!--FUNCIONES DE COMPRA JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/js/compra.js")"></script>
    <!--TIMEPICKER-->
    <script src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-timepicker.min.js")"></script>

    <script>

        jQuery(document).ready(function () {

            var IDCompra    = "@Model.IDCompra";
            var sRangoPeso  =  @Html.Raw(Json.Encode(Model.ListadoPrecioRangoPeso));
            var finalRangoPeso = sRangoPeso.replace("\\", "");
            finalRangoPeso = $.parseJSON(finalRangoPeso);

            Mensaje(message, typemessage);
            Compra.init(1, IDCompra, finalRangoPeso);
        });
    </script>
}