@model CreativaSL.Web.Ganados.Models.CatClienteModels
@{
    ViewBag.Title = "Create2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>


        <div class="col-md-12">

            @using (Html.BeginForm("Create", "CatCliente", FormMethod.Post, new { @class = "form-horizontal", id = "form-dg", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Datos personales</a></li>
                        <li ><a href="#tab-second" role="tab" data-toggle="tab">Datos fiscales</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab-first">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">Sucursal</label>
                                        <div class="col-md-6 col-xs-12">
                                            @Html.DropDownListFor(model => model.ListaCmbSucursal, ViewData["cmbSucursal"] as SelectList, new { id = "ListSucursal", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ListaCmbSucursal)
                                            <span class="help-block">Seleccione la sucursal</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">Razón Social</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(model => model.NombreRazonSocial, new { id = "RazonSocial", @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.NombreRazonSocial)
                                            <span class="help-block">Ingrese la razón social</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab-second">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-md-2 col-xs-12 control-label">Régimen Fiscal</label>
                                    <div class="col-md-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.IDRegimenFiscal, new SelectList(Model.ListaCmbSucursal, "IDSucursal", "NombreSucursal"), new { id = "ListRegimen", @class = "form-control select", data_live_search = "true" })

                                        @Html.ValidationMessageFor(model => model.ListaRegimenCMB)
                                        <span class="help-block">Seleccione el régimen fiscal</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-xs-12 control-label">RFC</label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            @Html.TextBoxFor(model => model.RFC, new { id = "RFC", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RFC)
                                        <span class="help-block">Ingrese el Registro Federal de Contribuyentes</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary pull-right">Save Changes <span class="fa fa-floppy-o fa-right"></span></button>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';        
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/icheck/icheck.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
    });
    </script>
}
