@model CreativaSL.Web.Ganados.Models.CatClienteModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="row">
        <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
            <h3></h3>
        </div>
        <div class="col-md-12">
            @*<form class="form-horizontal">*@
            @using (Html.BeginForm("Edit", "CatCliente", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.IDCliente)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Editar</strong> Cliente</h3>
                        <ul class="panel-controls">
                            @*<li><a href="#" class="panel-remove exsa"><span class="fa fa-times"></span></a></li>*@
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-3 col-xs-12 control-label">Sucursales</label>
                                <div class="col-md-9 col-xs-12">
                                    @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.ListaCmbSucursal, "IDSucursal", "NombreSucursal"), new { id = "ListSucursal2", @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.ListaCmbSucursal)
                                    <span class="help-block">Select box example</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-3 col-xs-12 control-label">Regimen Fiscal</label>
                                <div class="col-md-9 col-xs-12">
                                    @Html.DropDownListFor(model => model.IDRegimenFiscal, new SelectList(Model.ListaRegimenCMB, "Clave", "Descripcion"), new { id = "ListRegimen2", @class = "form-control select" })
                                    @Html.ValidationMessageFor(model => model.ListaRegimenCMB)
                                    <span class="help-block">Select box example</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none" id="VER">
                            <div class="col-md-3">
                                <label class="col-md-3 col-xs-12 control-label">Fisica</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group" id="IDF">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-3 col-xs-12 control-label">Moral</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group" id="IDM">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-5 col-xs-12 control-label">Fecha Inicio Vigencia</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="input-group" id="IDFI">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-5 col-xs-12 control-label">Fecha Fin Vigencia</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="input-group" id="IDFF">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Razón Social</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.NombreRazonSocial, new { id = "RazonSocial", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NombreRazonSocial)
                                    <span class="help-block">Ingrese la razón social</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">RFC</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.RFC, new { id = "RFC", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.RFC)
                                    <span class="help-block">Ingrese el Registro Federal de Contribuyentes</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-3 control-label">Es Persona Fisica?</label>
                                <div class="col-md-9">
                                    @Html.CheckBoxFor(model => model.EsPersonaFisica)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Guardar" class="btn btn-primary pull-right">
                        <a href="@Url.Action("Index","CatCliente")" class="btn btn-danger"><i class="icon-prev"></i>Cancelar</a>
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>
    <script>
        var message = '@message';
        var typemessage = '@typemessage';
    </script>
    <script>

        $(document).ready(function () {
            $("#ListSucursal").val('@Model.IDSucursal');
            $("#ListRegimen").val('@Model.IDRegimenFiscal');
            $("#ListRegimen").change(function () {
                if ($(this).val() == "") {
                    $("#VER").css("display", "none");
                }
                else {
                    getDatosRegimen($("#ListRegimen").val());
                }
            });
            getDatosRegimen('@Model.IDRegimenFiscal');
        });
        function getDatosRegimen(id) {
            $.ajax({
                url: "/Admin/CatCliente/ObtenerDatosRegimen",
                data: { id: id },
                dataType: "json",
                type: "POST",
                error: function () {
                    $("#ListRegimen").html('');
                },
                success: function (gradoEscolar) {
                    var items = "";
                    var items1 = "";
                    var items2 = "";
                    var items3 = "";
                    for (var i = 0; i < gradoEscolar.length; i++) {
                        if (gradoEscolar[i].Fisica == true) {
                            items += "<span class='input-group-addon'><span class='fa fa-pencil'></span></span><input class='form-control' type='text' value='SI' disabled='true'/>";
                        }
                        else {
                            items += "<span class='input-group-addon'><span class='fa fa-pencil'></span></span><input class='form-control' type='text' value='NO' disabled='true'/>";
                        }
                        if (gradoEscolar[i].Moral == true) {
                            items1 += "<span class='input-group-addon'><span class='fa fa-pencil'></span></span><input class='form-control' type='text' value='SI' disabled='true'/>";
                        }
                        else {
                            items1 += "<span class='input-group-addon'><span class='fa fa-pencil'></span></span><input class='form-control' type='text' value='NO' disabled='true'/>";
                        }
                        items2 += "<span class='input-group-addon'><span class='fa fa-calendar'></span></span><input class='form-control' type='text' disabled='true' value=" + gradoEscolar[i].FechaInicio + ">";
                        items3 += "<span class='input-group-addon'><span class='fa fa-calendar'></span></span><input class='form-control' type='text' disabled='true' value=" + gradoEscolar[i].FechaFin + ">";
                    }
                    $("#IDF").html(items);
                    $("#IDM").html(items1);
                    $("#IDFI").html(items2);
                    $("#IDFF").html(items3);
                    $("#VER").css("display", "block");
                }
            });
        }
    </script>
}
@section script{
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/validationengine/languages/jquery.validationEngine-en.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/validationengine/jquery.validationEngine.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/Content/js/plugins/maskedinput/jquery.maskedinput.min.js")"></script>

    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
    });
    </script>
}




