@model CreativaSL.Web.Ganados.Models.CatClienteModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Clientes </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="@Url.Action("Create","CatCliente")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nuevo Cliente</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-fullscreen exsa"><span class="fa fa-expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Razón Social</th>
                                        <th>RFC</th>
                                        <th>Sucursal</th>
                                        <th>Es Persona</th>
                                        <th>Régimen Fiscal</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Cliente in Model.ListaClientes)
                                    {
                                        <tr id="@Cliente.IDCliente">
                                            <td>@Cliente.NombreRazonSocial</td>
                                            <td>@Cliente.RFC</td>
                                            <td>@Cliente.NombreSucursal</td>
                                            @if (Cliente.EsPersonaFisica)
                                            {
                                                <td>SI</td>
                                            }
                                            else
                                            {
                                                <td>NO</td>
                                            }
                                            <td>@Cliente.NombreRegimenFiscal</td>
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a title="UPP cliente" class="btn btn-green" href="@Url.Action("UPPCliente", "CatCliente", new { id = Cliente.IDCliente })"><i class="fa fa-plus"></i></a>
                                                    <a title="Notas" class="btn btn-blue" href="@Url.Action("Notas", "CatCliente", new { id = Cliente.IDCliente })"><i class="fa fa-file-text"></i></a>
                                                    <a title="Documento Extra" class="btn btn-blue" href="@Url.Action("DocumentosExtras", "CatCliente", new { id = Cliente.IDCliente })"><i class="fa fa-archive"></i></a>
                                                    <a title="Lugares" class="btn btn-primary" href="@Url.Action("Lugares", "CatCliente", new { id = Cliente.IDCliente,id2=Cliente.IDSucursal })"><i class="fa fa-map-marker"></i></a>
                                                    <a title="Datos bancarios" class="btn btn-green" href="@Url.Action("Cuentas", "CatCliente", new { id = Cliente.IDCliente })"><i class="fa fa-money"></i></a>
                                                    <a title="Editar" class="btn btn-yellow" href="@Url.Action("Edit", "CatCliente", new { id = Cliente.IDCliente })"><i class="fa fa-edit"></i></a>
                                                    <a title="Contacto" class="btn btn-blue" href="@Url.Action("ContactosCliente", "CatCliente", new { id = Cliente.IDCliente })"><i class="fa fa-user"></i></a>
                                                    <a title="Eliminar" class="btn delete btn-danger deleteRow" id="delete-@Cliente.IDCliente" data-hrefa="@Url.Action("Delete", "CatCliente", new { id = Cliente.IDCliente, id2 = Cliente.IDSucursal })" onClick="delete_row('@Cliente.IDCliente');"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">

                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("UPPCliente", "CatCliente", new { id = Cliente.IDCliente })">
                                                                    <i class="fa fa-plus"></i> UPP cliente
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Notas", "CatCliente", new { id = Cliente.IDCliente })">
                                                                    <i class="fa fa-file-text"></i> Notas
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("DocumentosExtras", "CatCliente", new { id = Cliente.IDCliente })">
                                                                    <i class="fa fa-archive"></i> Documentos Extras
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Lugares", "CatCliente", new { id = Cliente.IDCliente,id2=Cliente.IDSucursal })">
                                                                    <i class="fa fa-money"></i> Lugares
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Cuentas", "CatCliente", new { id = Cliente.IDCliente })">
                                                                    <i class="fa fa-money"></i> Cuentas
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "CatCliente", new { id = Cliente.IDCliente })">
                                                                    <i class="fa fa-edit"></i> Editar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("ContactosCliente", "CatCliente", new { id = Cliente.IDCliente })">
                                                                    <i class="fa fa-edit"></i> Contacto
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" id="delete-@Cliente.IDCliente" data-hrefa="@Url.Action("Delete", "CatCliente", new { id = Cliente.IDCliente, id2 = Cliente.IDSucursal })" onClick="delete_row('@Cliente.IDCliente');">
                                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        });
    </script>
}




