@model CreativaSL.Web.Ganados.Models.FleteImpuestoModels

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Impuestos</h4>
    </div>
    <div class="modal-body">
        <!--INICIA CUERPO MODAL-->
        @using (Html.BeginForm("AC_Impuesto", "/Admin/FleteImpuesto", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
    {
        @Html.HiddenFor(model => model.IDFlete);
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tipo de impuesto:</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.DropDownListFor(model => model.TipoImpuesto.Clave, new SelectList(Model.ListaTipoImpuesto, "Clave", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.TipoImpuesto.Clave)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-3 control-label">Base:</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.Base, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Base)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Impuesto</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.DropDownListFor(model => model.Impuesto.Clave, new SelectList(Model.ListaImpuesto, "Clave", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Impuesto.Clave)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tipo de factor</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.DropDownListFor(model => model.TipoFactor.Clave, new SelectList(Model.ListaTipoFactor, "Clave", "Descripcion"), new { @class = "form-control select", data_live_search = "true", data_style = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.TipoFactor.Clave)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tasa o cuota</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.TasaCuota, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.TasaCuota)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Importe:</label>
                    <div class="controls">
                        <div class="col-md-9 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.TextBoxFor(model => model.Importe, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Importe)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group modal-footer">
                <div class="controls">
                    <button type="submit" class="btn btn-success green">Guardar</button>
                    <button type="button" class="btn btn-secondary red" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        }
        <!--TERMINA CUERPO MODAL-->
    </div>
</div>
