@model CreativaSL.Web.Ganados.Models.NominaModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Nómina </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        @using (Html.BeginForm("Index", "Nomina", FormMethod.Post, new { @class = "form-inline", id = "form-search", autocomplete = "off" }))
                        {

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.BandIDSucursal)<label class="control-label"> Filtrar por Sucursal: </label>
                                    @Html.DropDownListFor(model => model.IDSucursal, new SelectList(Model.ListaSucursales, "IDSucursal", "NombreSucursal"), new { id = "IDSucursal", @class = "form-control select", data_live_search = "true" })
                                    @Html.ValidationMessageFor(model => model.IDSucursal)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.BandBusqFechas)<label class="control-label"> Filtrar por periodo: </label>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(model => model.FechaInicio, "{0:dd/MM/yyyy}", new { id = "FechaInicio", @class = "form-control datepicker", @readonly = "readonly", @title = "Fecha Inicio" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    @Html.TextBoxFor(model => model.FechaFin, "{0:dd/MM/yyyy}", new { id = "FechaFin", @class = "form-control datepicker", @readonly = "readonly", @title = "Fecha Fin" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="col-md-3">
                                    @Html.CheckBoxFor(model => model.BandBusqClave)<label class="control-label"> Filtrar por clave: </label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.ClaveNomina, new { id = "ClaveNomina", @class = "form-control", placeholder = "Capture la clave nómina" })
                                        </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-default btnCrear"><span class="fa fa-search"> </span> Filtrar</button>
                                    <ul class="panel-controls">

                                        <li><a href="@Url.Action("Create", "Nomina")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nueva Nomina</a></li>
                                        <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                        }
                        @*<ul class="panel-controls">
                            <li><a href="@Url.Action("Create","Nomina")" class="btn btn-default btnCrear"><span class="fa fa-plus"></span> Nueva Nomina</a></li>
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh exsa"><span class="fa fa-refresh"></span></a></li>
                        </ul>*@
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Sucursal</th>
                                        <th>Clave Nómina</th>
                                        <th>Fecha Inico</th>
                                        <th>Fecha Fin</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Nomina in Model.ListaNomina)
                                    {
                                        <tr id="@Nomina.IDNomina">
                                            <td>@Nomina.NombreSucursal</td>
                                            <td>@Nomina.ClaveNomina</td>
                                            <td>@Nomina.FechaInicio.ToShortDateString()</td>
                                            <td>@Nomina.FechaFin.ToShortDateString()</td>
                                            <td style="text-align:center;">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a title="Detalle" href="@Url.Action("Detalle", "Nomina", new { id = Nomina.IDNomina, id2 = Nomina.IDSucursal })" class="btn btn-blue tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-bars"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                        </a>
                                                        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                                            <li>
                                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Detalle", "Nomina", new { id = Nomina.IDNomina,  id2 = Nomina.IDSucursal})">
                                                                    <i class="fa fa-bars"></i> Detalle
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-select.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/bootstrap/bootstrap-file-input.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/jquery-validation/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/nomina-busqueda.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        nominaBusqueda.init();
        });
    </script>
}




