@model CreativaSL.Web.Ganados.Models.NominaModels

@{
    ViewBag.Title = "RptSaldos";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div id="Error" class="progress-bar progress-bar-striped active errorCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div id="Success" class="progress-bar progress-bar-striped active successCSL" style="display:none; width:100%">
        <h3></h3>
    </div>
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Reporte por dias laborados </h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse exsa"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="@Url.Action("Index","Nomina")" class="btn btn-danger btnCrear"><span class="fa fa-mail-reply"></span>Regresar</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="Tbl50">
                                <thead>
                                    <tr>
                                        <th class="text-center th-reports-img">@Html.Raw(HttpUtility.HtmlDecode(Model.DatosEmpresa.ImagenContruida))</th>
                                        <th colspan="4" class="text-center">
                                            <table class="table ">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre:</th>
                                                        <th>@Model.DatosEmpresa.RazonFiscal</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Sucursal:</th>
                                                        <th>@Model.DatosEmpresa.NombreSucursal</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Dirección:</th>
                                                        <th>@Model.DatosEmpresa.DireccionFiscal</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" class="text-center">RESUMEN DE DEDUCIONES Y PERCEPCIONES DE NOMINA</th>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th >Nomina: <span>xxxxxxx</span>      </th>
                                        <th colspan="3">Periodo Nomina : de <span>xxxxxxx</span> a <span>xxxxxxx</span> </th>
                                        <th > Días del periodo: <span>X</span></th>
                                    </tr>
                                    <tr>
                                        <th>Empleado</th>
                                        <th>Percepciones</th>
                                        <th>Deduciones</th>
                                        <th>Total</th>
                                        <th>Firma</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>

                                    </tr>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>

                                        </tr>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>

                                   </tr>
                                </tbody>
                                <tfoot>
                                    <tr>

                                       <td colspan="3" class="text-right"><strong>Total:</strong></td>
                                        <td colspan="2"><strong>$1,100.200</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="Tbl51">
                                <thead>
                                    <tr>
                                        <th class="text-center th-reports-img">@Html.Raw(HttpUtility.HtmlDecode(Model.DatosEmpresa.ImagenContruida))</th>
                                        <th colspan="4" class="text-center">
                                            <table class="table ">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre:</th>
                                                        <th>@Model.DatosEmpresa.RazonFiscal</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Sucursal:</th>
                                                        <th>@Model.DatosEmpresa.NombreSucursal</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Dirección:</th>
                                                        <th>@Model.DatosEmpresa.DireccionFiscal</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" class="text-center">RESUMEN DE DEDUCIONES Y PERCEPCIONES DE NOMINA</th>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Nomina: <span>xxxxxxx</span>      </th>
                                        <th colspan="3">Periodo Nomina : de <span>xxxxxxx</span> a <span>xxxxxxx</span> </th>
                                        <th> Días del periodo: <span>X</span></th>
                                    </tr>
                                    <tr>
                                        <th>Empleado</th>
                                        <th>Clave</th>
                                        <th>Concepto</th>
                                        <th></th>
                                        <th>Monto</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td colspan="4">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>Salario</th>
                                                        <th class="text-right">+</th>
                                                        <th>$3000</th>
                                                    </tr>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>IMSS</th>
                                                        <th class="text-right">-</th>
                                                        <th>$50</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Total</th>
                                                        <th>$ 2950.00</th>
                                                       
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        

                                    </tr>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td colspan="4">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>Salario</th>
                                                        <th class="text-right">+</th>
                                                        <th>$3000</th>
                                                    </tr>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>IMSS</th>
                                                        <th class="text-right">-</th>
                                                        <th>$50</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Total</th>
                                                        <th>$ 2950.00</th>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td colspan="4">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>Salario</th>
                                                        <th class="text-right">+</th>
                                                        <th>$3000</th>
                                                    </tr>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>IMSS</th>
                                                        <th class="text-right">-</th>
                                                        <th>$50</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Total</th>
                                                        <th>$ 2950.00</th>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Enrique Mendez Ballina</td>
                                        <td colspan="4">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>Salario</th>
                                                        <th class="text-right">+</th>
                                                        <th>$3000</th>
                                                    </tr>
                                                    <tr>
                                                        <th>xxxx</th>
                                                        <th>IMSS</th>
                                                        <th class="text-right">-</th>
                                                        <th>$50</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Total</th>
                                                        <th>$ 2950.00</th>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>


                                    </tr>
                                    
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> Eliminar <strong>Registro</strong> ?</div>
                <div class="mb-content">
                    <p>¿Seguro que quieres eliminar esta fila?</p>
                    <p>Presione "sí" si está seguro.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var message = '@message';
    var typemessage = '@typemessage';
    </script>
}
@section script
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/demo_tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/mensajeDeError.js")"></script>
    <script>
    jQuery(document).ready(function () {
        Mensaje(message, typemessage);
        $("#Tbl50").dataTable({
            "iDisplayLength":25
        });
        });
    </script>
}




